.test-success{
	background-color:#DFF0D8;
}
.test-info{
	background-color:#D9EDF7;
}
.test-warning{
	background-color:#FCF8E3;
}
.test-error{
	background-color:#F2DEDE;
}

.visibility-visible{
	display: block;
}

.visibility-hidden{
	display: none;
}

.module > a > span.label {
	display: none;
}

.module.test-info > a > span.label-info { display: inline; }
.module.test-error > a > span.label-important { display: inline; }
.module.test-success > a > span.label-success { display: inline; }
.module.test-warning > a > span.label-warning { display: inline; }

.check > a > span.label {
	display: none;
}

.check.test-info > a > span.label-info { display: inline; }
.check.test-error > a > span.label-important { display: inline; }
.check.test-success > a > span.label-success { display: inline; }
.check.test-warning > a > span.label-warning { display: inline; }

.healthcheck-bar{
	margin-bottom:0;
	margin-top:10px;
	background:#DDD;
}
.nav li{
	margin-left:5px;
}
.nav button{
	color:#FFF;
	text-shadow:0 -1px #777;
}
.form-inline{
	margin:5px 0 0 0;
}

#restartWrapper{
	display: none;
}

#pauseCheckButton{
	display: none;
}

#resumeWrapper{
	display: none;
}

#submitLogin{
	margin-top:0;	
}

.codingMe{
	font-family: monospace, sans-serif;
	background-color: #333;
	color: #FAFAFA;
	border-radius: 5px;
}

.spanCheckButton{
	margin-bottom: 15px;
}

.accordion-heading a{
	font-family: Verdana, sans-serif;
	color:#555;
	text-decoration:none;
}

.accordion-heading a:hover{
	color:#000;
	text-decoration:none;
}

.container-fluid{
	color:#333;
}