#!/bin/sh
#Produit toute les question lors de l'installation du paquet
#Les réponses peuvent être utilisé dans les scripts postinst
#, preinst, postrm, prerm

set -e


# Source debconf library.
. /usr/share/debconf/confmodule

#Ordre d'execution des scripts lors de l'installation via apt:
#- pre-configure using config script
#- re-configure using config script (after all packages have been unpacked)
#- run postinst script

#test si dbconfig-common est deja configurer ou pas
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
  #creation de la BD et User OBM 
  if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
     . /usr/share/dbconfig-common/dpkg/config.pgsql
     dbc_dbname="obmfunambol"
     dbc_dbuser="obmfunambol"
     dbc_go obm-funambol-storage $@
  fi
fi

exit 0


