.test-success{
	background-color:#DFF0D8;
}
.test-info{
	background-color:#D9EDF7;
}
.test-warning{
	background-color:#FCF8E3;
}
.test-error{
	background-color:#F2DEDE;
}

.module-visible{
	display: block;
}

.module-hidden{
	display: none;
}