.test-success{
	background-color:#DFF0D8;
}
.test-info{
	background-color:#D9EDF7;
}
.test-warning{
	background-color:#FCF8E3;
}
.test-error{
	background-color:#F2DEDE;
}

.visibility-visible{
	display: block;
}

.visibility-hidden{
	display: none;
}

.module > a > span.label {
	display: none;
}

.module.test-info > a > span.label-info { display: inline; }
.module.test-error > a > span.label-error { display: inline; }
.module.test-success > a > span.label-success { display: inline; }

.check > a > span.label {
	display: none;
}

.check.test-info > a > span.label-info { display: inline; }
.check.test-error > a > span.label-error { display: inline; }
.check.test-success > a > span.label-success { display: inline; }