; OBM system configuration file
; Copy it to obm_conf.ini (without ".sample")
; Set here Common global parameteres
; 
; Parameters are set like : key = value
; Comments are lines beginning with ";"
; OBM Automate need the [global] for the perl section (beware : php is permissive)

[global]
; Information generales
title = OBM

; Database infos
host = localhost
; dbtype = PGSQL
dbtype = MYSQL
db = obm
user = obm
; Password must be enclosed with "
password = "aliasource"

; Default language
lang = fr

; Modules OBM fonctionnels
obm-ldap = true
obm-mail = true
obm-samba = true
obm-web = true

; singleNameSpace mode allow only one domain
; login are 'login' and not 'login@domain'
; Going multi-domain from mono domain needs system work (ldap, cyrus,...)
; Multi-domain enabled by default
singleNameSpace = false


[automate]
; Parametrage specifique a l'automate

; Adresse du serveur LDAP
ldapServer = localhost

; Racine LDAP de l'arbre gérée pas OBM-Ldap
; exemple : 'aliasource,local' place l'arbre LDAP d'OBM-Ldap sous le DN: 'dc=aliasource,dc=local' 
ldapRoot = local

; Gestion des partition Cyrus
; si cette option est active, une partition Cyrus est créée pour chacun des
; domaines OBM. Cette partition contient toutes les entités du domaine.
; Attention : l'activation ou la désactivation de cette option après la création
; d'entités nécessite une migration des BALs
cyrusPartition = false

; Adresse du serveur Samba sur lequel les repertoires personnels sont crees
; utile dans les hook
sambaHomeServer = ""

; EOF
