; OBM system configuration file
; Copy it to obm_conf.ini (without ".sample")
; Set here Common global parameteres
; 
; Parameters are set like : key = value
; Comments are lines beginning with ";"
; OBM Automate need the [global] for the perl section (beware : php is permissive)

[global]
; Information generales
title = OBM

; Database infos
host = localhost
; dbtype = PGSQL
dbtype = MYSQL
db = obm
user = obm
; Password must be enclosed with "
password = "aliasource"

; Default language
lang = fr

; Modules OBM fonctionnels
obm-ldap = true
obm-mail = true
obm-samba = true
obm-web = true

; Paramètre permettant de configurer OBM pour n'utiliser qu'un seul espace de
; nom pour les entités de ses différents domaines
singleNameSpace = false

[automate]
; Parametrage specifique a l'automate

; Adresse du serveur LDAP
ldapServer = localhost

; Racine LDAP de l'arbre gérée pas OBM-Ldap
; exemple : 'aliasource,local' place l'arbre LDAP d'OBM-Ldap sous le DN: 'dc=aliasource,dc=local' 
ldapRoot = local

; Adresse du serveur Samba sur lequel les repertoires personnels sont crees
; utile dans les hook
sambaHomeServer = ""

; EOF
