; OBM system configuration file
; Copy it to obm_conf.ini (without ".sample")
; Set here Common global parameteres
; 
; Parameters are set like : key = value
; Comments are lines beginning with ";"
; OBM Automate need the [global] for the perl section (beware : php is permissive)

[global]
; Information generales
title = OBM

; example : for https://extranet.aliasource.fr/obm/ 
; external-url = extranet.aliasource.fr
; external-protocol = https
; obm-prefix = /obm/
external-url = obm
external-protocol = http
obm-prefix = /

; Database infos
host = localhost
; dbtype = PGSQL
dbtype = MYSQL
db = obm
user = obm
; Password must be enclosed with "
password = "aliasource"

; Default language
lang = fr

; Modules OBM fonctionnels
obm-ldap = true
obm-mail = true
obm-samba = false
obm-web = false

; singleNameSpace mode allow only one domain
; login are 'login' and not 'login@domain'
; Going multi-domain from mono domain needs system work (ldap, cyrus,...)
; Multi-domain disabled by default
singleNameSpace = false

; renameUserMailbox mode allow to rename user mailbox
; need Cyrus 2.3 or greater
renameUserMailbox = false

; backupRoot is the directory used to store backup data
backupRoot = "/var/lib/obm/backup"


[automate]
; Automate specific parameters

; Log level
logLevel = 2

; LDAP server address
ldapServer = localhost

; LDAP Root
; Exemple : 'aliasource,local' means that the root DN is: 'dc=aliasource,dc=local' 
ldapRoot = local

; Enable Cyrus partition support
; if cyrusPartition is enable, a dedicated Cyrus partition is created for each OBM domain
; Going cyrusPartition enabled from cyrusPartition disabled needs system work
cyrusPartition = true

; oldSidMapping mode is for compatibility with Aliamin and old install
; Modifying this on a running system need Samba domain work (re-register host,
; ACL...) 
; For new one, leave this to 'false'
oldSidMapping = false

; EOF
