<div class="popintopbar">
	<form class="search" id="popintopbar-form" method="get" action="">
		<input type="hidden" name="action_popin" value="change_topmenu" />
		<label><span class="popintopbar-message">{{popinmessage}} &nbsp;&nbsp;</span></label>
		<label><input name="submit" id="submit" type="submit" value="{{button_msg}}" />&nbsp;&nbsp;</label>
		<label><span class="popintopbar-message"><a href="obm.php?action_popin=stop_popin"><img src="../images/themes/default/images/ico_close.gif" alt="close" title="{{quit_msg}}" /></a></span></label>
	</form>
</div>