<div id="banner">
  {{#show_intro}}
  <script type="text/javascript">
    function introSteps() {
      var steps = [];

      {{#intro-steps}}
      steps.push({
        element: $('intro-{{id}}'),
        intro: "{{{text}}}",
        position: "{{position}}"
      });
      {{/intro-steps}}

      return steps;
    }

    function showIntro() {
      introJs().setOptions(
          {
            tooltipClass: "intro",
            skipLabel: obm.vars.labels.intro.skip,
            doneLabel: obm.vars.labels.intro.done,
            nextLabel: obm.vars.labels.intro.next,
            prevLabel: obm.vars.labels.intro.previous,
            steps: introSteps()
          }
      ).start();
    }

    window.setTimeout(showIntro, 500);
  </script>
  {{/show_intro}}

  <div style="float:left;">
    {{#template}}
    <a href="{{logo_url}}" id="obmLogo"><img src="{{logo_ico}}" alt="Logo OBM"/></a>
    {{/template}}
    <ul id="section">

      {{#buttons}}

        {{#notifier}}
        <li><a href="{{url}}" class="toplink"><span {{>intro}}>{{name}}</span></a> <a href="{{notifier_url}}"> <span id="{{notifier_id}}" class="notification_popup"></span></a></li>
        {{/notifier}}

        {{^notifier}}
        <li><a href="{{url}}" onclick="{{onclick}}" class="toplink" id="{{idmore}}"><span {{>intro}}>{{name}}</span></a></li>
        {{/notifier}}

      {{/buttons}}

    </ul>
  </div>
  <div style="float:right;"> 
    <ul id="information">

      {{#user_infos}}

      <li id="spinner" style="display:none;" ><img src="{{template.ico_spinner}}" alt="" /></li>

      {{#scope}}
        {{#dis_scope}}
        <li>
          <a href="{{url}}" ><img src="{{ico}}" title="{{title}}" alt="Commit update" /></a>
        </li>
        {{/dis_scope}}
      {{/scope}}

      <li style="font-size:13px;">

      <a href="#" onclick="showProfileMenu()">
        <span {{>intro}}>{{login}}</span>
        <img src="{{user_infos.photo_url}}" style="width:25px;border:2px solid #AAA; border-radius:5px;margin-top:-5px;"/>
      </a>
      </li>
      {{/user_infos}}

    </ul>
  </div>

{{>profile_menu}}
</div>
{{>more_menu}}
