/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : style.css                                                    //
//     - Desc : CSS style file                                               //
// 2006-11-27 Mehdi Rande                                                    //
///////////////////////////////////////////////////////////////////////////////
// $Id$
///////////////////////////////////////////////////////////////////////////////

/* ------------------------------------------------------------------------- */
/* Global display layout */
/* ------------------------------------------------------------------------- */

body {
  background-color: #ffffff;
  font-size: 11px;
  font-family: arial,sans-serif;
  color: #636466;
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

a { 
  text-decoration: none;
}

a:link { 
  color: #368397;
}

a:active { 
  color: #368397;
}

a:visited { 
  color: #368397;
}

a:hover { 
  text-decoration: underline;  
}

#banner a { 
  text-decoration: none;
}

#banner a:link { 
  color: #368397;
}

#banner a:active { 
  color: #368397;
}

#banner a:visited { 
  color: #368397;
}

#banner a:hover { 
  text-decoration: underline;  
}


td {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: middle;
}

p {
  margin-left: auto;
  margin-right: auto;
}	

abbr {
  cursor: help;
  border: none;
}


textarea {
  width: 95%;
  margin-top: 5px;
  font-weight: bold;  
  color: #636466;
  font-size: 110%;  
  border: 1px solid #d2d2d2;
}

input {
  vertical-align: middle;
  color: #636466;
  font-size: 100%;
  border: 1px solid #d2d2d2;
  font-weight: bold;
}

select {
  color: #636466;
  font-size: 90%;
  border: 1px solid #d2d2d2;
  font-weight: bold;
}

option[disabled="disabled"] {
  background-color: #509cbc;
  color: #fff;
}

/*use for default_view in calendar*/
option[default="default"] {
  background-color: #E0E1E3;
  color: #368397;
}

h1 {
  text-align: center;
  font-size: 130%;
}

form {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------------- */
/* Some toolbox style  */
/* ------------------------------------------------------------------------- */
.LC {
  clear: left;
}

.RC {
  clear: right;
}

.LF {
  float: left;
}

.RF {
  float: right;
}

.O {
  overflow: auto;
}

.C {
  text-align: center;
}

.L {
  text-align: left;
}

.R {
  text-align: right;
}

.B {
  font-weight: bold;
}

.I {
  font-style: italic;
}

.H {
  display: none;
}

.FW {
  width: 100%;
}

.NW {
  white-space: nowrap;
}

.NM {
  margin: 0;
  padding: 0;
}

.SB {
  border: 1px solid black;
}

.legend {
  font-style:italic;
  font-weight:normal;
}

/* ------------------------------------------------------------------------- */
/* Two column layout  */
/* ------------------------------------------------------------------------- */


#portletsPanel {
  position: absolute;
  width: 16.5em;
  left: 8px;
  margin-top: 2.8em;
  clear: left;
}

#mainPanel {
  z-index:100;
  min-width: 800px;
  margin: 0 0px 0px 17.5em;
  padding: 2.8em 1em 0em;
/*IE workaround*/
  height: auto!important;
  height: 1px;
}

#mainContent {
  background-color: #eff0f2;
  padding: 0 0 5px; 
  margin: 0;
}

/* ------------------------------------------------------------------------- */
/* Support OBM ! */
/* ------------------------------------------------------------------------- */

.spreadLove {
  border-left: 1px solid rgba(255, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
  border-bottom-left-radius: 10px;
  font-weight: normal;
  margin: 0;
  min-width: 400px;
  padding: 5px;
  text-align: center;
  background-image: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  box-shadow: 0px 0px 10px #DDD;
  position: absolute;
  top: 2.8em;
  right: 0px;
  font-size: 1em;
}

.spreadLove a {  color: #368397; }
.spreadLove .supportUs { padding-top: 3px; }


/* ------------------------------------------------------------------------- */
/* Banner */
/* ------------------------------------------------------------------------- */

#banner {
  width: 100%;
  min-width: 1002px;
  height: 2.8em;
  line-height: 2.8em;
  background-color: #e1e1e1;
  background-image: url('../images/banner_border.png');
  background-repeat: repeat-x;
  background-position: bottom;
}

#obmLogo {
  position: absolute;
}

#information {
  margin:0;
}

#information li {
  color: #9e9fa1;
  font-weight: bold;
  display: inline;
  padding: 0;
  margin: 0;
}

#information li:before {
  content: "| "; 
}

#information li:first-child:before {
  content: "";
}

#information img {
  vertical-align: middle;
}

/*IE workaround*/
* html #information li {
  border-left: 1px solid black;
  padding: 0 0.4em 0 0.4em;
  margin: 0 0.4em 0 -0.4em;
}

/* ------------------------------------------------------------------------- */
/* Section menu */
/* ------------------------------------------------------------------------- */
#section {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
  list-style-type: none;
  margin-left: 105px;
}

#section li {
  display: inline;
  margin: 0  0 0 3px;
  padding: 0.3em 0.8em;
  text-align: center;
  border: 1px solid #358399;
  background-color: #509cbc;
  background-image: url('../images/tab_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.9em;
  cursor: pointer;
  color: #fff;   
}

#section li.hover {
  color: #368397;
  background-color: #e0e1e3;
  background-image: url('../images/tab_current_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.9em;
}

#section li.hover a {
  color: #368397;
}

#section li.current {
  color: #368397;
  background-color: #e0e1e3;
  background-image: url('../images/tab_current_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.9em;
}

#section li.current a {
  color: #368397;
}

#section a {
  text-decoration: none;  
  color: #fff;   
}

#section a:link {
  color: #fff;   
}

#section a:visited {
  color: #fff;  
}

#section a:hover {
  color: #fff;
}
/* ------------------------------------------------------------------------- */
/* Submenu (modules) */
/* ------------------------------------------------------------------------- */

.module {
  position: absolute;
  z-index: 1000;
  display: none;
}

.module ul{
  margin: 0;
  padding: 0;
  font-weight: bold;
  list-style-type: none;  
  background: #e0e1e3;    
  border: 1px solid #368397;
  width: 25em;
}

.module ul li  {
  line-height: 1ex;
  display: block;
  margin: 0;
  padding: 0.3em 2px;
  text-align: left;
  border: 0;
  color: #368397;
  border-bottom: 1px solid #b7b8ba;
}

/* ------------------------------------------------------------------------- */
/* Action bar */
/* ------------------------------------------------------------------------- */

#action	{
  width: 100%;
  font-weight: bold;
  list-style-type: none;  
  background: #509cbc;
  margin: 0;
  line-height: 1.6em;
  padding: 0;
  /margin-right: -1px;
  color: #368397;  
  border: 1px solid #358399;
  border-left: 0;
  background-image: url('../images/tab_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.8em;
}

#action li {
  display: inline;
  padding: 0.3em 5px;
  white-space: nowrap;
  border-left: 1px solid #97c5d2;
  border-right: 1px solid #3f7c8e;
}

#action li.hover {
  background: #3c899f;
  background-image: url('../images/tab_over_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.8em;  
}

#action a {
  text-decoration: none;  
  color: #fff;   
}

#action a:link {
  color: #fff;   
}

#action a:visited {
  color: #fff;  
}

#action a:hover {
  color: #fff;
}


/* ------------------------------------------------------------------------- */
/* Portlets */
/* ------------------------------------------------------------------------- */


#portletsHandler {
  width: 1em;
  font-weight: bold;
  background-color: #eff0f2;
  border: 1px solid #b3b3b3;
  overflow: hidden;
  position: absolute
}

.portlet {
  width: 15em;
  margin: 0;
  margin-bottom: 2px;
  background-color: #eff0f2;
  border: 1px solid #b3b3b3;
  color: #368397;
  list-style-type: none; 
  overflow: hidden;
  z-index: 100;
}

.portlet h1 {
  font-weight: bold;
  color: #646567;
  background-color: #d2d2d2;
  font-size:100%;
  text-align: left;
  margin:0;
  padding: 2px 4px 0 4px;
  border-top: 1px solid #fff;
}

.portlet .handle{
  float: right;
}

.portlet ul {
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 3px;
}

.portlet select {
  width: 14em;
}
/* ------------------------------------------------------------------------- */
/* Page context class */
/* ------------------------------------------------------------------------- */

.title {
  font-size: 170%;
  font-weight: bold;
  color: #338195;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
  word-wrap: break-word;
}

#ajaxMessage {
  width: 100%;
  height: 1.5em;
  position:relative;
  margin-bottom: -1.5em;
  display: none;
}

#ajaxMessage *{
  position: absolute;
}

/* ------------------------------------------------------------------------- */
/* Debug */
/* ------------------------------------------------------------------------- */

.debug {
  height: 200px;
  overflow: scroll;
  position: relative; 
  margin: 2px;
  z-index: 2; 
  background-color: #FFF;
  border: 1px solid #009ec6; 
  font-size: 100%;
}

.debug hr {
  border: 1px dashed #CCC; 
}

.debug h1 {
  z-index: 2; 
  background-color: #009ec6;
  font-size: 120%;
  color:  #FFF;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

/* ------------------------------------------------------------------------- */
/* Consult and Update layout */
/* ------------------------------------------------------------------------- */

.detail {
  margin: 1%;
  padding: 0;
  padding-top: 5px;
  word-wrap: break-word;
}

fieldset.detail {
  border: 0;
  border-top: 1ex solid #d2d2d2;
}

.detail legend {
  font-weight: bold;
  font-size:100%;
}

.detail h1 {
  font-weight: bold;
  background-color: #d2d2d2;
  font-size:100%;
  padding: 2px 0 0 4px;
  margin: 0 0 5px ;
  text-align: left;
}

.detail h2 {
  font-size:100%;
  padding: 2px 0 0 2px;
  margin: 0 0 5px ;
  text-align: left;
}


.detail table {
  width: 95%;
  table-layout: auto;
}

.detail th {
  width: 35%;
  text-align: right;
  font-style: italic;
  font-weight: normal;
  vertical-align: top;
}

.detail td {
  font-weight: bold;
  padding: 1px;
  padding-left: 11px;
}

.detail td.editable {
  background-color: #fddaa4;
  cursor: text;
  padding: 0;
  padding-left: 10px;
  border: 1px inset black;
}
.infos {
  float: left;
  width: 47%;
}

.infos select, .infos input {
  width: 95%;
}

.infos input[type="checkbox"],.infos input[type="radio"] {
  width: auto !important;
  width: 95%;
}

input.box {
  width: auto;
}

.multiple .emailNomade {
  width: 90%;
}

.multiple input, .multiple select {
  width: auto;
}

.extra {
  clear: left;
}

.extra textarea {
  display: block;
}

.buttons {
  clear: left;
  text-align: center;
  padding-top : 1em;
  border: 0;
}

.buttons form {
  display: inline;
}

.buttons input {
  width: auto;
}

.buttons a {
  color: #fff;
  font-weight: bold;
  border: 1px solid #d2d2d2;
  background-color: #509cbc;
  margin: 0 3%;
  padding: 3px;
}

.buttons a:hover {
  background-color: #35839a;
  text-decoration: none;
}

.buttons input {
  margin: 0 3%;
  color: #fff;
  font-weight: bold;
  background-color: #509cbc;
}

.buttons input:hover {
  background-color: #35839a;
  cursor: pointer;
}

.spreadSheet div.buttons {
  padding : 0.5em;
}

.spreadSheet div.buttons input {
  margin: 0 3px;
}

.buttonTo input {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  color: transparent;
  cursor: pointer;
  width:16px;
}

.buttonTo input.delete {
  background-image: url('../images/ico_trash.gif');
}
.buttonTo input.duplicate {
  background-image: url('../images/ico_add.gif');
}

p.emptyset {
  margin: 1em 0;
  padding: 1em;
  border:1px solid #d2d2d2;
  font-size: 1.4em;
}

/* ------------------------------------------------------------------------- */
/* DatePicker layout */
/* ------------------------------------------------------------------------- */


input.datePicker {
  width: 7em;
}

/* the div that holds the date picker calendar */
#datepicker {
  width: 17em;
  background-color: #fff;
  text-align: center;
}

#datepicker h1 {
  margin: 3px;
  font-size: 120%;
  font-weight: bold;
}

#datepicker a {
  margin-left: 5px;
}

#datepicker table, .miniCalendar {
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right:	auto;
  border: 1px solid #aaa; 
  border-collapse: collapse;	
  border-spacing: 0;  
}

#datepicker thead, .miniCalendar thead{
  background-color: #4692a9;
  background-image: url('../images/tab_border.png'); 
  background-repeat: repeat-x;
  cursor: pointer;
  background-position: 0 0.5em;  
  color: #fff;      
}

#datepicker table tbody td, .miniCalendar tbody td{
  border-top: 1px dotted #ddd; 
  border-left: 1px solid #aaa;   
}

#datepicker table tbody td.highlight, .miniCalendar tbody td.highlight, .detail tbody td.highlight {
  background-color: #fddaa4;
}

#datepicker table tbody td.downlight, .miniCalendar tbody td.downlight, .detail tbody td.downlight {
  background-color: #eff0f2;
}

#datepicker table tbody td.hover, .miniCalendar tbody td.hover, .detail tbody td.hover {
  background-color: #4692a9;
  cursor: pointer;
  color: #fff;  
}

#datepicker table tbody td.hover a, .miniCalendar tbody td.hover a, .detail tbody td.hover a {
  color: #fff;  
}

#datepicker td.hyperlight, .miniCalendar tbody td.hyperlight, .detail tbody td.hyperlight {
  background-color: #ffcc00;
}

/* ------------------------------------------------------------------------- */
/* Comments layout */
/* ------------------------------------------------------------------------- */

.comments {
  width: 100%;
  padding-left: 1em;
}

.comments h1 {
  font-weight: bold;
  font-size: 100%;
  margin: 5px 0 5px -1em;
  background-color: transparent;
  text-align: left;
}

/* ------------------------------------------------------------------------- */
/* Admin layout */
/* ------------------------------------------------------------------------- */

.admin {
  float: left;
  width: 46%;
}

.admin .overflow {
  overflow: auto;
  max-height: 21em;
  height: expression(this.scrollHeight > 150 ? "150px" : "auto");
}

.admin table {
  width: 99%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #d2d2d2;
}

.admin td, .admin th {
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}

.admin thead {
  background-color: #b3b2b2;
  font-weight: bold;
  text-align: center;
  background-image: url('../images/background_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;
  border-bottom: 1px solid #929292; 
}

.admin thead td {
  padding: 3px 0;
}

.admin tfoot td {
  text-align: right;
  border-top: 1px solid #d2d2d2;
  padding: 2px 2em 2px 2px;
}

.admin tbody td {
  padding: 1px 0 1px 2px;
  text-align: center;
}

.admin tbody tr {
  background-color: #eef0f1 ;
}

.admin tbody tr.pair{
  background-color: #fafafa;
}

.admin fieldset {
  text-align: center;
}

.admin fieldset input{
  margin-right: 3em;
}

/* ------------------------------------------------------------------------- */
/* Search Form TODO : Verifier si on peux pas faire mieux , ce qui est a peux
 * pres sur...*/
/* ------------------------------------------------------------------------- */

.search {
  font-size: 100%;
  width: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-style: italic;
}

.search label {
  float: left;
  margin: 0px;
  margin-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  display: block;
}

/* ------------------------------------------------------------------------- */
/* Search results table */
/* ------------------------------------------------------------------------- */

.result {
  margin: 10px 0 0 0;
  overflow: auto;
}

.result div {
  text-align: right;
  background-color: #d0d0d0;
  border-bottom: 2px solid #adadad;
  border-top: 1px solid #eaeaea;
}

.result div span {
  float: left;
}

.result div a {
  font-weight: bold;
}

.result div form {
  margin: 0 3em 0 1em;
  float: left;
}

.result table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #d2d2d2;
}

.result td, .result th {
  border-left: 1px solid #d2d2d2;
}

.result thead {
  background-color: #b3b2b2;
  font-weight: bold;
  text-align: center;
  background-image: url('../images/background_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;
  border-bottom: 1px solid #929292; 
}

.result thead .hover {
  cursor: pointer;
  background-color: #929292;
  background-image: url('../images/background_over_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;

}

.result thead a{

}

.result thead td {
  padding: 2px 0;
}


.result tbody td {
  padding: 1px 0 1px 2px;
}

.result tbody tr {
  background-color: #eef0f1 ;
}

.result tbody tr.highlight {
  background-color: #f4f3c5;
}

.result tbody td.highlight {
  background-color: #f4f3c5;
}

.result tbody tr.pair{
  background-color: #fafafa;
}


.result tfoot tr{
  background-color: #f4f3c5;
}

/* ------------------------------------------------------------------------- */
/* Generic table styles*/
/* ------------------------------------------------------------------------- */

.spreadSheet {
  width: 100%;
  background-color: #fff;
  border-spacing:0;
  border: 1px solid #959595;
  border-collapse: collapse;
  /*table-layout:fixed;*/
}

.spreadSheet td.hover{
    background-color: #f4f3c5;
    border: 1px solid #f7df7f;
    color: red;
}

.spreadSheet td.highlight{
    background-color: #f4f3c5;
    border: 1px solid #f7df7f;
    color: red;
}

.spreadSheet thead th, .spreadSheet thead .head{
  background-color: #b3b2b2;
  font-weight: bold;
  text-align: center;
  background-image: url('../images/background_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;
  border-right: 1px solid #aeaeae;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a0a0a0; 
}

.spreadSheet thead td{
  background-color: #dbdbdb;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #adadad;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #b2b2b2;  
}

.spreadSheet tbody th, .spreadSheet tbody .head{
  background-color: #dbdbdb;
  font-weight: bold;
  text-align: left;
  font-style: normal;
  border-right: 1px solid #aeaeae;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c9c9c9;   
}

.spreadSheet tbody tr.highlight {
  background-color: #f4f3c5;
}

.spreadSheet tbody tr.pair {
  background-image: url('../images/transparent_grey.gif');
}

.spreadSheet tbody td {
  padding-left: 1px;
  font-weight: normal;
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #d3d1d6;
  border-left: 1px solid #fff;
}

.spreadSheet tbody th.money, .spreadSheet tbody td.money {
  text-align: right;
}

.spreadSheet tfoot th, .spreadSheet tfoot .head {
  background-color: #dbdbdb;
  font-weight: bold;
  text-align: center; 
  border-right: 1px solid #adadad;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c2c2c2;    
  width: auto;
}

.spreadSheet tfoot td{
  background-color: #dbdbdb;
  font-weight: bold;
  text-align: center;  
  border-right: 1px solid #adadad;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c2c2c2;      
  width: auto;
}

.spreadSheet colgroup.highlight, .spreadSheet col.highlight {
  background-color: #f4f3c5;
}
.spreadSheet th {
  width: auto;
}

/* ------------------------------------------------------------------------- */
/* messsage  */
/* ------------------------------------------------------------------------- */

.message {
  display: block;
  font-size: 120%;
  width: 100%;
  text-align: center;
  font-style: italic;
  margin:0;
  line-height: 1.5em;
  background-image: url('../images/hatch.gif');
}

.ok {
  color: #589835;
  background-color: #d1e8c9;
}

.error {
  color: #c62a2a; 
  background-color: #fcd9d9;
}

.warning {
  color: #e99a11;
  background-color: #f1e1ce;
}

.info {
  color: #1276c3;
  background-color: #d4e4e9;
}

.disabled {
  display:none;
}

/* ------------------------------------------------------------------------- */
/* Search resul display preferences */
/* ------------------------------------------------------------------------- */

.displayPref {
  text-align: center;
}

.displayPref table {
  margin: auto;
  width: auto;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #d2d2d2;

}

.displayPref td, .displayPref th {
  border-left: 1px solid #d2d2d2;
}

.displayPref thead {
  background-color: #b3b2b2;
  font-weight: bold;
  text-align: center;
  background-image: url('../images/background_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;
  border-bottom: 1px solid #929292; 
}

.displayPref thead td{
  padding: 2px 5px;
}

.displayPref tbody td {
  padding: 1px 0 1px 2px;
}

.displayPref tbody tr {
  background-color: #eef0f1 ;
}

.displayPref tbody tr.pair{
  background-color: #fafafa;
}

.displayPref p {
  margin: auto;
  text-align: left;
}

.displayPref h1 {
  font-weight: bold;
  background-color: #d2d2d2;
  font-size:130%;
  padding: 2px 0 0 4px;
  margin: 1em 0 5px ;
}

/* ------------------------------------------------------------------------- */
/* Form widget for external element.
/* ------------------------------------------------------------------------- */

#sel_ent{
  background-color: #ffffff;
}

.autocompleteResult, .detail td.autocompleteResult {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  padding: 2px;
  white-space: pre-line;
}

.detail td.autocompleteField {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  cursor: text;
  padding: 1px;
}

.detail td.autocompleteField input,
.detail td.autocompleteField select {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  width: auto;
}

.autocompleteSource {
  width: 80px;
}

.elementRow {
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 2px;
}

/*-------------------------------------------------------------------------- */
/* Specific styles for the portlets.
/* ------------------------------------------------------------------------- */

#lastVisitPortlet li{
  white-space: nowrap;
}

/*-------------------------------------------------------------------------- */
/* TabbedPane styles
/* ------------------------------------------------------------------------- */


.tabs * {
  display: inline;
  font-size: 90%;
  padding: 0 10px;
  margin: 0 2px;
  border: 1px solid #358399;
  cursor: pointer;
  color: #aaa;
  background-color: #ddd;
}

.tabs .current {
  background-color: #fff;
  color: #358399;
  border: 1px solid #358399;
  border-bottom: 1px solid #fff;
}

.tabs {
  margin: 5px 5px 0 5px;
  border-bottom: 1px solid #358399;
  background-color: #ebebeb;
}

/*-------------------------------------------------------------------------- */
/* AutoComplete styles
/* ------------------------------------------------------------------------- */
.autoCompleteResultBox {
  position: absolute;
  list-style-type: none;  
  background: #e0e1e3;    
  border: 1px solid #368397; 
  z-index: 200000;
  padding: 0 5px;
}

.autoCompleteResultBox div {
  color: #368397;
  border-bottom: 1px solid #b7b8ba;
  text-align: left;
  cursor: pointer;
}

.autoCompleteResultBox div span {
  font-weight: bold;
  display: block;
  white-space: nowrap;
}

.autoCompleteResultBox .highlight {
  background-color: #aaddff;
}

.autoCompleteResultBox .selected {
  color: #777777;
  font-style: italic;
}

.autoCompleteResultBox .selected .highlight {
  background-color: #ccdff0;
}

.autoCompleteResultBox div em {
  
}

.autoCompleteResultBox h2 {
 background-color: #EFF0F2;
 text-align: center;
 min-width: 18em;
 font-size: 80%;
 margin: 0;
}

input.downlight {
  color: #ddd !important;
}

input.validated {
  border: 0 none transparent;
  background-color: transparent;
  width: 13em;
}
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */

span.hiddenLegend {
  display:           none;
  background-color:  #ffffcc;
  font-size:         8px;
  border:            1px solid black;
}


/* TODO : Principalement passer tout ca dans un format plus "actuel", donc avec em,
 * % et en virant les truc devenu inutil.
 * verifier également que cette partie de la css est valide Mehdi iso 4000.
 * Normalement oui vu que je l'ai faite il y a pas trop longtemps
 * PLANNING
 */

table.planning {
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}
table.planning th{
  white-space: nowrap;
  font-size: 100%;
  text-align: center;
  padding-right: 2px;
  background-color: white;
}

table.planning colgroup.main {
  background-color: #f1f3f2;
}

table.planning colgroup.total {
  background-color: #f1f3f2;
}

table.planning div {
  height: 2em;
}

table.planning td {
  border: 1px solid blue;
  width: 2.5em;
  height: 2em;
  font-size: 90%;
  text-align: left;
}

table.planning thead {
  background-color: #fffcf7;
  empty-cells: hide;
  text-align: center;
  font-weight: bold;
  color: #aca0d2;
}

table.planning thead td{
  font-size: 90%;
}
  
table.planning thead th {
  color: black;
}

table.planning tbody tr {
  height: 15px;
}

table.planningRessource {
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
}
table.planningRessource th{
  white-space: nowrap;
  font-size: 100%;
  text-align: center;
  padding-right: 2px;
}

table.planningRessource colgroup.main {
  background-color: #f1f3f2;
}

table.planningRessource colgroup.total {
  background-color: #f1f3f2;
}

table.planningRessource td {
  border: 1px solid #AEAEAE;
  height: 2em;
  font-size: 90%;
  text-align: left;
}

table.planningRessource thead {
  background-color: #fffcf7;
  empty-cells: hide;
  text-align: center;
  font-weight: bold;
  color: #aca0d2;
}

table.planningRessource thead td{
  font-size: 90%;
}
  
table.planningRessource thead th {
  color: black;
}

table.planningRessource tbody a  {
  color: #636466;
}
/* ------------------------------------------------------------------------- */ 
/* Color Picker */
/* ------------------------------------------------------------------------- */

input.colorPicker {
  width: 7em;
}

#colorPickerWidget {
  border: 1px solid #aaa;
  background-color: #D2D2D2;
  position: absolute;
  width: 13em;
}
#colorPickerWidget li a {
  background-color : transparent;
  color: #636466;
}

#colorChooserWidget {
  border: 1px solid #aaa;
  background-color: #D2D2D2;
  position: absolute;
  width: 13em;
}

ul.autocompleter-choices {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #7c7c7c;
  border-left-color: #c3c3c3;
  border-right-color: #c3c3c3;
  border-bottom-color: #ddd;
  background-color: #fff;
  text-align: left;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  z-index: 50;
  background-color: #fff;
}

ul.autocompleter-choices li {
  position: relative;
  margin: -2px 0 0 0;
  padding: 0.2em 1.5em 0.2em 1em;
  display: block;
  float: none !important;
  cursor: pointer;
  font-weight: normal;
  white-space: nowrap;
  font-size: 1em;
  line-height: 1.5em;
}

ul.autocompleter-choices li.autocompleter-selected {
  background-color: #444;
  color: #fff;
}

ul.autocompleter-choices span.autocompleter-queried {
  display: inline;
  float: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
  color: #9FCFFF;
}
/* ------------------------------------------------------------------------- */ 
/* Update tools specific styles */
/* ------------------------------------------------------------------------- */
form.button-to {
  display: inline;
}
form.button-to input {
  border: none;
}
.overTxtDiv, .overText {
  font-weight: bold;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-align:left;
}

.helpTooltip:hover {
  cursor: help;
}

/* Popup */
.obmPopup {
  border: 2px solid #3F7C8E;
  background: #FFF;
  display: none;
  width: auto;
  -webkit-box-shadow: 10px 10px 10px #666;
  -moz-box-shadow: 10px 10px 10px #666;
}

.obmPopup h1 {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #4692A9;
  font-weight: bold;
  font-size: 130%;
  background-image: url(../images/tab_border.png);
  background-repeat: repeat-x;
  background-position: 0 0.5em;  
  color: #FFF;
}

.obmPopup h1 img{
  margin: 1px 3px 0 0;
  position: absolute;
  right: 1px;
}

.obmPopup h2 {
  font-size: 100%;  
  font-weight: normal;
	text-align:center;
  margin: 0;
}

.obmPopup .content {
  background-image: url(../images/ico_very_big_time.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;  
  padding-left: 116px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height:100px;
  width: 40em;
}

.obmPopup .content .buttons input{
  width: 20em;
}

/* Comment Icon and Popup */
.editcomment{
	background:url('../images/edit_comment.png'); 
	display:inline-block;
	background-position:top left;
	vertical-align:middle;
	width:20px;
	height:20px;
}
.obmPopup .contentcomment {
	background-image: url(../images/ico_very_big_comment.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;  
	padding-left: 116px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}
.obmPopup textarea{
    width:95%;
    height:70px;
    resize:none;
}

/* Alert Icon and Popup */
.bellalert{
       background:url('../images/bell_alert.png');
       display:inline-block;
       background-position:top left;
       vertical-align:middle;
       width:20px;
       height:20px;
}
.bellalertexist{
  background:url('../images/bell_alert.png');
  display:inline-block;
  background-position:bottom left;
  vertical-align:middle;
  width:20px;
  height:20px;
}
/* Decision with or without comment Popup */
.obmPopup .contentcomment {
  background-image: url(../images/ico_very_big_comment.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;  
  padding-left: 116px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 120px;
  width: 40em;
  margin-bottom: 5px;
}
.obmPopup hr{
  width:100%;
  color:#3F7C8E;
}
#calendarDecisionPopup{
  height:auto;
  width: 45em;
  padding-bottom: 10px;
}
.decisionOptions p{
  font-size:15px;
  margin-left: 15px;
  margin-right: 15px;
}
.decisionOptions p span{
  line-height:20px;
  font-size:14px;
}
.decisionOptions .buttons{
 text-align:right;
}
.decisionOptions fieldset{
 margin-bottom:30px;
}
.decisionOptions textarea{
 font-size:13px;
 width:98%;
 color:#AAA;
}
.decisionOptions textarea:focus{
  color:#000;
}
.obmTip {
  z-index: 40000;
}

.tip {
  color:#000;
  background: #ffffbf;
  border: 1px solid #cfcf3d;
  padding: 2px;
}

.tip ul {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  list-style-type: none;  
}

#searchHolder {
  padding: 0.5em 1em 0 0;
}

#basicSearch a {
  font-size: 90%;
}

#basicSearch {
  float: right;
}


#advancedSearch {
  padding-top: 12px;
}

/* ------------------------------------------------------------------------- */ 
/* Advanced search
/* ------------------------------------------------------------------------- */
#advancedSearch .header {
  border:3px solid #74dd82;
  border-bottom: none;
  background:#74dd82;
  margin-left:33%;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
}

#advancedSearch .header span.title {
  color: #636466;
  font-size:100%;
  font-weight:bold;
}

#advancedSearch .header span.link {
  color: #636466;
  font-size:90%;
  float: right;
}

#advancedSearch .content {
  border:3px solid #74dd82;
  background:#b5edbc;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

#advancedSearch table {
  width: 100%;
}

#advancedSearch colgroup.label {
  font-weight:bold;
  text-align:right;
}

.searchPattern {
  background-color:#b5edbc;
  display:inline;
}

/* ------------------------------------------------------------------------- */ 
/* Drop Down menu
/* ------------------------------------------------------------------------- */

.dropDownMenu {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: normal;
  position: absolute;
}

.dropDownMenu ul {
  width: 15em;
  padding: 0;
}

.dropDownMenu ul li {
  padding-left: 1em;
  line-height: 1.5em;
  background-color:#C8D3D9;
  border: 1px solid #A8BAC8;  
}

.dropDownMenu ul li:hover {
  background-color: #F0F4F7;
}


.submenu-down  {
}

.submenu-down ul {
}

.submenu-left {
  background-image: url('../images/arrow_right.gif');
  background-repeat: no-repeat;
  background-position: center right;
}

.submenu-left ul{
  margin-left: 14em;
  width:auto;
}
.submenu-left ul li{
  padding-right: 10px;
}

/* ------------------------------------------------------------------------- */ 
/* Multifield
 * ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */ 
/* Buttons
 * ------------------------------------------------------------------------- */

input.dropDownButton {
  padding-right: 16px;
  background-image: url('../images/arrow_single_down.gif');
  background-repeat: no-repeat;
  background-position: right 70%;  
  border: 1px solid black;
}

input.deleteButton {
  padding-left: 5px;
  border: 1px solid black;
}

input.updateButton {
  padding-right: 5px;
  border: 1px solid black;
}

#templateSelect {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
}

/* ------------------------------------------------------------------------- */ 
/* Login Form
 * ------------------------------------------------------------------------- */

#loginForm input, #loginForm select { width: 155px; }

