<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds">

	<appender name="PROD" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>/var/log/obm-sync/obm-sync.log</File>
                <layout>
                        <pattern>%d{${time-pattern:-"HH:mm:ss.SSS"}} [%-5level] {%logger{32}} [t%X{threadId}/c%X{command}/r%X{requestId}/%X{user}] %msg%n</pattern>
                </layout>
                <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                        <maxIndex>10</maxIndex>
                        <FileNamePattern>/var/log/obm-sync/obm-sync.log.%i</FileNamePattern>
                </rollingPolicy>
                <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                        <MaxFileSize>30000KB</MaxFileSize>
                </triggeringPolicy>
        </appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout>
			<pattern>
			    %d{${time-pattern:-"HH:mm:ss.SSS"}} [%-5level] {%logger{32}} [t%X{threadId}/c%X{command}/r%X{requestId}/%X{user}] %msg%n
			</pattern>
		</layout>
	</appender>
 
	<root level="INFO">
		<appender-ref ref="PROD" />
		<!--appender-ref ref="STDOUT" /-->
	</root>

</configuration>
