Source: obm-java
Section: net
Priority: optional
Maintainer: Thomas Sarboni <tsarboni@linagora.com>
Build-Depends: cdbs, maven, debhelper (>= 5.0), openjdk-7-jdk
Standards-Version: 3.8.3
Homepage: http://www.obm.org

Package: obm-sync
Architecture: all
Pre-Depends: obm-conf, obm-tomcat, obm-tomcat-common-libs
Description: synchronization application for Open Business Management
 This package contains a J2E web application used to synchronize OBM data with
 Icedove/Thunderbird, Outlook, etc.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.

Package: obm-locator
Architecture: all
Depends: openjdk-7-jre-headless, obm-conf, openssl
Description: Locator for Open Business Management
 This package is a J2E web service, which allows can be queried to retrieve
 the location of an OBM component.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.

Package: obm-provisioning
Architecture: all
Depends: openjdk-7-jre-headless, obm-conf
Description: Provisioning API for Open Business Management
 This package is an HTTP web service, which can be queried to provision an OBM
 server.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.

Package: obm-autoconf
Architecture: all
Pre-Depends: obm-conf
Depends: obm-tomcat
Description: Icedove/Thunderbird autoconfiguration service for Open Business Management
 This package contains a J2E web service to autoconfigure Icedove/Thunderbird
 clients for use with OBM.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.

Package: obm-tomcat-common-libs
Architecture: all
Pre-Depends: obm-tomcat
Description: Tomcat common libs for Open Business Management
 This package contains the library used by obm webapps deployed in tomcat.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.

Package: obm-imap-archive
Architecture: all
Depends: openjdk-7-jre-headless, obm-conf
Description: OBM component that perform email archiving
 obm-imap-archive is a http server exposing webservices to perform email archiving.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.

