/* Feuille de style de du theme Aliacom /*

a.tab {color:#FFFF00 1px transparent;cursor:help;}
a:hover.tab {color:#666633;border:solid 1px #666633;}
a:active.tab {background-color:#999966;color:#cccc99;}
