/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : document.css (standard)                                      //
//     - Desc : CSS style file (standard theme)                              //
// 2003-09-10 Mehdi Rande                                               //
///////////////////////////////////////////////////////////////////////////////
// $Id$
///////////////////////////////////////////////////////////////////////////////


/* //////////////////DOCUMENT////////////////// */
/* ////// Document table style definition ///// */
/* //////////////////////////////////////////// */

.documentTree {
        background-color: #ffffff;
        border: 1px solid #009ec6;
        width: 100%;
	padding : 10px;
      }

.document {
        background-color: #ffffff;
        width: 100%;
	padding-left : 0px;
	margin-left: 0px;
	border-bottom :		1px dashed #009ec6;	
 }

.documentDir {
	font-family:		sans-serif;
	font-size:		13px;
	font-weight:		bold;
	text-align:		left;
	color:			#00718C;
	background-color:	transparent;
}

.documentFile {
        width:			50%;
	font-family:		sans-serif;
	font-size:		12px;
	text-align:		left;
	color:			#00718C;
	background-color:	transparent;

}

.documentInfo {
  	width:			25%;
	font-family:		sans-serif;
	font-size:		12px;
	text-align:		left;
	color:			#333333;
	background-color:	transparent;
}

.documentBox {
	padding-left:		13px;
}

a.documentDir {
	font-family:		sans-serif;
	text-decoration:	none;
	font-size:		13px;
	font-weight:		bold;
	text-align:		left;
	color:			#00718C;
	background-color:	transparent;

}

a.documentDir:hover {
	font-family:		sans-serif;
	text-decoration:	underline;
	font-size:		13px;
	font-weight:		bold;
	text-align:		left;
	color:			#00718C;
	background-color:	transparent;

}

a.documentFile {
	font-family:		sans-serif;
	text-decoration:	none;
	font-size:		12px;
	font-weight:		bold;
	text-align:		left;
	color:			#00718C;
	background-color:	transparent;

}

a.documentFile:hover {
	font-family:		sans-serif;
	text-decoration:	underline;
	font-size:		12px;
	font-weight:		bold;
	text-align:		left;
	color:			#00718C;
	background-color:	transparent;

}
