/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : project.css (standard)                                       //
//     - Desc : CSS style file (standard theme)                              //
// 2003-08-27 Bastien Continsouzas                                           //
///////////////////////////////////////////////////////////////////////////////
// $Id$
///////////////////////////////////////////////////////////////////////////////
*/

.projectCenter			{
	text-align:		center;
	}

/* Progress Tables */

table.projectDetail		{
	border-spacing:		1px;
	margin:			auto;
	background-color:	#a5bace;
	margin-top:		10px;
	}

td.projectHead 	 	 	{
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#486789;
	text-align:		center;
	background-color:	#a5bace;
	padding:		4px;
}

/* Parent task styles */

td.projectPtask 	 	 {
	font-family:		sans-serif;
	font-size:		11px;
	color:			#486786;
	text-align:		left;
	background-color:	#e9f7fe;
	padding:		3px;
}

td.projectPtime 	 	 {
	font-family:		sans-serif;
	font-size:		11px;
	color:			#486786;
	text-align:		center;
	background-color:	#e9f7fe;
	padding:		3px;
}

td.projectPlate 	 	 {
	font-family:		sans-serif;
	font-size:		11px;
	color:			#cc0000;
	text-align:		center;
	background-color:	#e9f7fe;
	padding:		3px;
}

td.projectPearly 	 	 {
	font-family:		sans-serif;
	font-size:		11px;
	color:			#006600;
	text-align:		center;
	background-color:	#e9f7fe;
	padding:		3px;
}

/* Children task styles */

td.projectCtask 	 	 {
	font-family:		sans-serif;
	font-size:		11px;
	color:			#666666;
	text-align:		left;
	background-color:	#ffffff;
	padding:		3px;
}

td.projectCtime 	 	 {
	font-family:		sans-serif;
	font-size:		11px;
	color:			#666666;
	text-align:		center;
	background-color:	#ffffff;
	padding:		3px;
}

/* Member list style */

table.projectMemberlist {
	width: 60%;
	border: 1px solid #009EC6;
	background-color: #E9E9E9;
	padding: 0px;
	margin: auto;
	margin-top: 10px;
}

td.projectMember {
	padding: 2px;
	margin: 0px;
	border-bottom: 1px solid #C5CBD1;
	color: #666666;
	font-size: 12px;
}

td.projectMemberrd {
	text-align:right;
	padding: 2px;
	margin: 0px;
	border-bottom: 1px solid #C5CBD1;
	color: #666666;
	font-size: 12px;
} 
