;Generate by installation of obm-funambol-core and dbconfig-common
; OBM funambol configuration file
; Copy it to obm_funambol.ini (without ".sample")
; Set here Common global parameteres
;
; Parameters are set like : key = value
; Comments are lines beginning with ";"

[global]
; Information generales
title = OBM-funambol

; Database infos
host = _DBC_DBSERVER_
; dbtype = PGSQL
dbtype = MYSQL
db = _DBC_DBNAME_
user = _DBC_DBUSER_
; Password must be enclosed with "
password = "_DBC_DBPASS_"


