/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : agenda.css (grey)                                            //
//     - Desc : CSS style file (grey theme) for Calendar module              //
// 2003-09-01 Mehdi Rande                                                    //
///////////////////////////////////////////////////////////////////////////////
// $Id$
///////////////////////////////////////////////////////////////////////////////
*/

div.agendaBar {
	width:			170px;
	margin-bottom:		20px;
}

table.agendaCal		{
	width: 			100%;
	margin-top: 		0px;
/*	margin-right: 		0px;*/
	margin-bottom: 		0px;
/*	margin-left: 		0px;*/
	padding: 		0px;
	border-right-width: 	2px;
	border-bottom-width: 	2px;
	border-left-width: 	2px;
	border-right-style: 	solid;
	border-bottom-style: 	solid;
	border-left-style: 	solid;
	border-right-color: 	#394D5A;
	border-bottom-color: 	#394D5A;
	border-left-color: 	#394D5A;
	background-color: 	#ADAEB5;
        margin-left:		auto;
	margin-right:		auto;
/*	background-color: 	#ffffff;*/
/*	border: 		1px #a1a5a9 solid; */
/*	width:			100%;*/
}

td.agendaNoEvent	{
	font-family:		sans-serif;
	font-size:		14px;
	font-weight:		bold;
	color:			#000000;
	text-align:		center;
	background-color:	#ffffff;
        border-top: 		1px dashed #a1a4a8;
}

td.agendaHead2		{
	font-size: 		13px;
	color: 			#FFFFFF;
	font-weight:		bold;
	background-color: 	#39495A;
	padding: 		2px 0px;
	margin: 		0px;
 	text-align: 		center;
	text-transform: 	uppercase;
	width: 			100%;
	background-image: 	url(fond_bandeau02.png);

/* 	background-image: 	url(side_bg.gif); */
/* 	text-align: 		center; */
/*	vertical-align: 	middle;*/
/* 	font-family: 		sans-serif;*/
/*	font-size: 		12px;*/
/*	font-weight: 		800;*/
	}

