/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : time.css (grey)                                              //
//     - Desc : CSS style file (grey theme)                                  //
// 2003-09-18 Bastien Continsouzas                                           //
///////////////////////////////////////////////////////////////////////////////
// $Id
///////////////////////////////////////////////////////////////////////////////
*/

.timeCenter			{
	text-align:		center;
	margin-bottom: 15px;
	}

div.timeBar {
	width:			170px;
	margin-bottom:		20px;
	}

/* Time browsing panel */

table.timeLinks			{
	border-spacing:		0;
	margin:			auto;
	background-color: 	#FFFFFF;
	border: 		2px solid #394D5A;
	padding: 		2px;
	}

table.timeMonth			{
	border-spacing:		1;
	margin:			auto;
	padding:		2;
	}

td.timePeriod			{
 	text-align: 		center; 
 	font-family: 		sans-serif;
	font-size: 		12px;
	font-weight: 		600;
	color:			#39495A;
	}

table.timeValid			{
	border: 		2px solid #394D5A;
	border-spacing:		1;
	margin:			auto;
	padding:		2;
	text-align:		left;
	font-size:		12px;
	background-color: 	#FFFFFF;
	}

/* Addtask form */

table.timeDetail		{
 	font-family: 		sans-serif;
	font-size:		12px;
	font-weight: 		600;
	text-align:		left;
	background-color:	#CCCCCC;
	border-spacing:		1;
	margin:			auto;
	border: 		2px solid #394D5A;
	}

td.timeForm			{
 	font-family: 		sans-serif;
	font-size:		10px;
	font-weight: 		300;
	text-align:		left;
	color:			#394D5A;
	background-color:	#FFFFFF;
	padding:		3;
	}

/* Week panel */

td.timeWeekhead			{
	font-family: 		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#FFFFFF;
	background-color:	#394D5A;
	background-image: 	url(fond_bandeau02.png);
	border:			0;
	margin: 		0px;
	border-spacing:		0;
	}

td.timeWeekunvalid			{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#394D5A;
	background-color:	#D6D7DA;
	border:			0;
	margin:			0px;
	border-spacing:		0;
	}

td.timeWeekvalid			{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#39495A;
	background-color:	#FFFFFF;
	border:			0;
	margin: 		0px;
	border-spacing:		0;
	}

/* Month panel */

td.timeUnvalid			{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#394D5A;
	background-color:	#D6D7DA;
	border:		0;
	margin: 0px;
	border-spacing:		0;
	}

td.timeValid			{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#39495A;
	background-color:	#FFFFFF;
	border:		0;
	margin: 0px;
	border-spacing:		0;
	}

td.timeWorkday 	 	 {
	font-family: 		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#FFFFFF;
	background-color:	#394D5A;
	background-image: 	url(fond_bandeau02.png);
	border:			0;
	margin: 		0px;
	border-spacing:		0;
}

td.timeOffday 	 	 {
	font-family: 		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#FFFFFF;
	background-color:	#394D5A;
	background-image: 	url(fond_bandeau02.png);
	border:			0;
	margin: 		0px;
	border-spacing:		0;
}

/* Validation panel */

td.timeValunfilled		{
	font-family:		sans-serif;
	text-align:		right;
	color:			#394D5A;
	background-color:	#D6D7DA;
	}

td.timeValfilled		{
	font-family:		sans-serif;
	text-align:		right;
	color:			#39495A;
	background-color:	#FFFFFF;
	}

td.timeValok			{
	font-family:		sans-serif;
	text-align:		right;
	color:			#4f7091;
	background-color:	#ddffdd;
	}

/* User select panel */

table.timeUser		{
	margin-top: 		0px;
	margin-right: 		0px;
	margin-bottom: 		20px;
	margin-left: 		0px;
	padding: 		0px;
	border-right-width: 	2px;
	border-bottom-width: 	2px;
	border-left-width: 	2px;
	border-right-style: 	solid;
	border-bottom-style: 	solid;
	border-left-style: 	solid;
	border-right-color: 	#394D5A;
	border-bottom-color: 	#394D5A;
	border-left-color: 	#394D5A;
	background-color: 	#ADAEB5;
}

td.timeUserhead		{
	font-size: 		13px;
	color: 			#FFFFFF;
	font-weight: 		bold;
	background-color: 	#39495A;
	padding: 		2px 0px;
	margin: 		0px;
	text-transform: 	uppercase;
	text-align: 		center;
	width: 			100%;
	background-image: 	url(fond_bandeau02.png);
	}

td.timeUserback		{
	padding-top: 		0px;
	padding-right: 		0px;
	padding-bottom: 	0px;
	padding-left: 		0px;
	border-bottom-width: 	1px;
	border-bottom-style: 	solid;
	border-bottom-color: 	#848694;
	font-size: 		10px;
	width: 			100%;
	margin: 		0px;
	font-weight: 		bold;
	text-transform: 	uppercase;
	border-top-width: 	1px;
	border-top-style: 	solid;
	border-top-color: 	#CED3D6;
	}

/* OBM display row styles */

tr.timeUnvalid			{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		left;
	color:			#000000;
	background-color:	#d6d7da;
	}

tr.timeValid0			{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		left;
	color:			#394d5a;
	background-color:	#ffffff;
	}

tr.timeValid1			{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		left;
	color:			#394d5a;
	background-color:	#eeeeee;
	}
