<?php

/*
 +-----------------------------------------------------------------------+
 | OBMAddressbook configuration file                                     |
 |                                                                       |
 | Licensed under the GNU GPL                                            |
 |                                                                       |
 +-----------------------------------------------------------------------+

*/
// Ip to join obm-sync
$rcmail_config['obmSyncIp'] = "127.0.0.1";

//ssl or not : [http|https]
$rcmail_config['OBM_url'] = "https";

//port : [:8080]
$rcmail_config['OBM_SYNC_port'] = "";

//domain OBM
$rcmail_config['OBM_domain'] = '%d';

// make OBM address book read only
$rcmail_config['OBMaddressbook_readonly'] = false;

// friendly name of the OBM address book, label used on the address book screen
$rcmail_config['OBMaddressbook_name'] = 'Contacts Partag&eacute;s';

// show addresses from the OBM address book in the auto complete menu when composing an email
$rcmail_config['OBMaddressbook_autocomplete'] = true;

// Defines the authentification type for obm-sync webservice calls
$rcmail_config['obmAuthType'] = "standalone";

// maximum time we'll spend in networking before returning an error (in seconds)
// 0 to disable
$rcmail_config["networkTimeout"] = 5;