Source: obm-satellite
Section: misc
Priority: extra
Maintainer: Ronan Lanore <ronan.lanore@obm.org>
Build-Depends: debhelper (>=5), po-debconf, cdbs
Standards-Version: 3.8.0
Homepage: http://www.obm.org

Package: obm-satellite
Architecture: all
Depends: obm-conf ,libobmsatellite-perl (= ${binary:Version}), obm-munin-node, ucf, obm-certs, ${misc:Depends}
Description: OBM Satellite installation
 OBM Satellote is small daemon to manage cyrus partion and postifx map

Package: libobmsatellite-perl
Section: perl
Architecture: all
Depends: libnet-server-perl, libnet-ldap-perl, libunicode-maputf8-perl, libio-socket-ssl-perl, libclass-singleton-perl, libxml-simple-perl, liblog-log4perl-perl, libmime-lite-perl, libmailtools-perl, libmime-types-perl, ${perl:Depends}, ${misc:Depends}
Description: OBM satellite perl module
 Lib of obm-satellite

