#!/bin/bash
###############################################################################
# Script de gestion du serveur obmSatellite.pl
###############################################################################
# init-obmSatellite         Startup script for the obm-satellite Server
#
# chkconfig: - 99 10
# description: OBM-Satellite is a server which do some remote operation needed
#              by some OBM modules
# processname: obmSatellite.pl
# config: /path/to/obm/auto/obmSatellite/obmSatellite.cf
# pidfile: /var/run/obm-satellite.pid

OBMPATH="/usr/share/obm-satellite"

daemon_path="$OBMPATH/obmSatellite.pl"

daemon_dir="/var/run"
daemon_pid=$daemon_dir"/obm-satellite.pid"

if [ ! -d $daemon_dir ]; then
    /bin/mkdir $daemon_dir
fi

case "$1" in
    start)
        echo -n "Starting obm-Satellite : "
        if [ ! -e $daemon_pid ]; then
            $daemon_path
            echo "done."
            ret=0
        else
            echo "Le fichier PID $daemon_pid existe, le serveur est en cours d'execution."
            echo "failed."
            ret=0
        fi
        ;;

    stop)
        echo -n "Stopping obm-Satellite : "
        if [ -e $daemon_pid ]; then
            kill -TERM `cat $daemon_pid`
            rm -f $daemon_pid
            echo "done."
            ret=0
        else
            echo "Le serveur n'est pas en cours d'execution"
            echo "failed."
            ret=0
        fi
        ;;

    reload)
        echo -n "Reload obm-Satellite : "
        if [ -e $daemon_pid ]; then
            kill -HUP `cat $daemon_pid`
            echo "done."
        else
            echo "failed."
        fi
        ;;

    status)
        if [ -f ${daemon_pid} ] && kill -0 `cat ${daemon_pid}` > /dev/null 2>&1; then
            echo "Le serveur est en cours d'execution avec le PID `cat ${daemon_pid}`"
            ret=0
        else
            echo "Le serveur n'est pas en cours d'execution"
            ret=3;
        fi

        ;;

    restart)
        $0 stop
        $0 start
        ;;

    *)
        echo "Usage : $0 start|stop|reload|restart"
        ;;
esac

exit $ret
