[server]

# SSL key file
#ssl-key-file = /etc/obm/certs/[obm_conf.ini:external-url]_signed.pem
# SSL cert file
#ssl-cert-file = /etc/obm/certs/[obm_conf.ini:external-url]_signed.pem
# SSL CA cert
#ssl-ca-file = /etc/obm/certs/obm_cert.pem

# LDAP Server description
# Hostname
#ldapServer = ldap://ldap.obm.local
# TLS/SSL [none|may|encrypt]
#ldapTls = may
# If not define in this file, get LDAP root DN from '/etc/obm/obm_conf.ini' or,
# if defined, from '/etc/obm-satellite/obmSatellite.ini'.
# Use this option only if LDAP root DN differ from '/etc/obm/obm_conf.ini'.
# Sample syntax: 'dc=linagora,dc=loc'
#ldapRoot = 
# Connect LDAP server as (user LDAP DN)
ldapLogin = uid=obmsatellite,ou=sysusers,dc=local
# with password
ldapPassword = mG4_Zdnh

# 0 to 5, 3 as default
#log-level = 3

# Maximum prefork child
# max-spare-server =
