[server]

# SSL key file
#ssl-key-file = /etc/obm-satellite/ssl-key.pem
# SSL cert file
#ssl-cert-file = /etc/obm-satellite/ssl-cert.pem
# SSL CA cert
#ssl-ca-file = /etc/obm-satellite/ca-cert.pem

# LDAP Server description
# Hostname
#ldapServer = ldap://ldap.obm.local
# TLS/SSL
#ldapTls = may
# Connect LDAP server as (user LDAP DN)
#ldapLogin =
# with password
#ldapPassword =

# 0 to 4, 2 as default
#log-level = 2

# Maximum prefork child
# max-spare-server =
