<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web
Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Thunderbird Autoconfiguration</display-name>

  <session-config>
    <!-- Default to 5 minute session timeouts -->
    <session-timeout>5</session-timeout>
  </session-config>
  
  <servlet>
    <servlet-name>autoconf</servlet-name>
    <display-name>Thunderbird Autoconfigurationt</display-name>
    <servlet-class>
      fr.aliasource.obm.autoconf.AutoconfService
    </servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>autoconf</servlet-name>
    <url-pattern>/autoconfiguration/*</url-pattern>
  </servlet-mapping>

</web-app>
