# exchange 2007 test server
login=Administrator@test.tlse.lng
password=aliacom
devId=Appl8683191J1R4
devType=iPhone
userAgent=Apple-iPhone/701.341
url=http://2k3.test.tlse.lng/Microsoft-Server-ActiveSync
