<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
    <title>Login - OBM $obm_version</title>
  </head>
  <body>
    <h1>OBM $obm_version</h1>
    <p class="error">$error</p>
    <form name="login" method="post" action="$login_action">
      Login <input type="text" name="login" value="$login" /><br />
      Password <input type="password" name="password" value="" /> <br />
      Domain $sel_domain <br />
      <input type="submit" value="Valider" />
    </form>
  </body>
</html>
