<?php

// url of REST service
define('URL_REST', 'http://obm/rest') ;

// REST-aware modules
$active_entities = array('contact', 'company') ;

// OBM config re-use
$path = "../../php";
$obminclude = "../../obminclude";
include_once($obminclude."/global.inc");
include_once($obminclude."/of/of_category.inc");
require_once("$path/company/company_query.inc");
require_once("$path/contact/contact_query.inc");
$set_lang = 'FR' ;
$set_rows = 'ALL' ; // same as "no LIMIT"

$obm['uid'] = 1 ; // admin uid
$ctu_sql_limit = false ;

?>
