Source: obm-autoconf
Section: net
Priority: optional
Maintainer: Thomas Sarboni <tsarboni@linagora.com>
Build-Depends-Indep: cdbs, ant, ant-optional, debhelper (>= 5.0), sun-java6-jdk
Standards-Version: 3.8.3
Homepage: http://www.obm.org

Package: obm-autoconf
Architecture: all
Pre-Depends: obm-conf
Depends: obm-tomcat,  obm-munin-node
Description: Icedove/Thunderbird autoconfiguration service for Open Business Management
 This package contains a J2EE web service to autoconfigure Icedove/Thunderbird
 clients for use with OBM.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.
