Source: obm-autoconf
Section: net
Priority: optional
Maintainer: Thomas Sarboni <tsarboni@linagora.com>
Build-Depends-Indep: cdbs, ant, ant-optional, debhelper (>= 5.0), sun-java6-jdk
Standards-Version: 3.8.3
Homepage: http://www.obm.org

Package: obm-autoconf
Architecture: all
Pre-Depends: obm-conf
Depends: obm-tomcat,  obm-munin-node
Description: Thunderbird autoconfiguration service
 This java application provides the data need to autoconfigure
 thunderbird clients.
