<script language="php"></script>
<?php
///////////////////////////////////////////////////////////////////////////////
// OBM - File : mailchooser.inc.sample                                       //
//     - Desc : OBM user mail server automatic chooser                       //
//              configuration Sample file                                    //
// 2008-10-22 Christophe Liou Kee On                                         //
///////////////////////////////////////////////////////////////////////////////
// $Id:$ //
///////////////////////////////////////////////////////////////////////////////


// Mail chooser hooks list

$c_mailchooser_hooks = array(
/*
  array(
    'id'            => 1,
    'hook_function' => 'least_boxes_example',
    'name'          => $l_mailboxchoice_least_boxes
  ),
  
  array(
    'id'            => 2,
    'hook_function' => 'least_used_memory_example',
    'name'          => $l_mailboxchoice_least_used_memory
  ),
*/
);

/*

$form variable content example
Exemple de contenu de la variable $form

Array
(
    [lastname] => tata
    [login] => tata
    [profile] => admin
    [email] => 
    [aliases] => Array
        (
        )
    [mail_quota] => 0
    [vacation_datebegin] => 10/22/2008
    [time_begin] => 08
    [min_begin] => 00
    [vacation_dateend] => 10/22/2008
    [time_end] => 08
    [min_end] => 00
    [user_id] => 5
    [group_nb] => 0
)



*/

function hook_user_mailchooser_least_boxes_example ($form) {
  global $cdg_sql, $obm;
  
  $sel_id = sql_parse_id($obm['domain_id'], true);
  
  $query = "
    SELECT
      host_id,
      COUNT(*) AS mailbox_count
    FROM ServiceProperty
    INNER JOIN DomainEntity ON domainentity_entity_id = serviceproperty_entity_id
    INNER JOIN Host ON host_id = #CAST(serviceproperty_value, INTEGER)
    WHERE serviceproperty_property = 'imap' and serviceproperty_service = 'mail'
    AND domainentity_domain_id $sel_id 
    GROUP BY host_id
    ORDER BY mailbox_count ASC
    ";

  display_debug_msg($query, $cdg_sql, 'run_query_user_mailchooser_least_boxes()');
  $obm_q = new DB_OBM;
  $obm_q->xquery($query);
  $obm_q->next_record();
  
  return array('host_id' => $obm_q->f('host_id'));
}

function hook_user_mailchooser_least_used_memory_example ($form) {
  global $cdg_sql, $obm;
  
  $sel_id = sql_parse_id($obm['domain_id'], true);
  
  $query = "SELECT
      domainmailserver_mailserver_id as mailserver_id,
      SUM(userobm_mail_quota_use) AS used_memory
      FROM ServiceProperty
        INNER JOIN DomainEntity ON domainentity_entity_id = serviceproperty_entity_id
        INNER JOIN Host ON host_id = #CAST(serviceproperty_value, INTEGER)
      WHERE serviceproperty_property = 'imap' and serviceproperty_service = 'mail'
    GROUP BY host_id
    ORDER BY used_memory ASC
    ";

  display_debug_msg($query, $cdg_sql, 'run_query_user_user_mailchooser_least_used_memory()');
  $obm_q = new DB_OBM;
  $obm_q->query($query);
  $obm_q->next_record();
  
  return array('host_id' => $obm_q->f('host_id'));
}

