/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : agenda.css (standard)                                        //
//     - Desc : CSS style file (standard theme) for Calendar module          //
// 2003-09-01 Aliacom - Mehdi Rande                                          //
///////////////////////////////////////////////////////////////////////////////
// $Id$
/////////////////////////////////////////////////////////////////////////////*/



/* ------------------------------------------------------------------------- */
/* Calendar common styles */
/* ------------------------------------------------------------------------- */

.calendar {
  width: 100%;
  margin-left: auto;
  margin-right:	auto;
  background-color: #eee;
  border: 1px solid #aaa; 
  border-collapse: collapse;	
  border-spacing: 0;
}

.calendar tbody td {
  border-top: 1px dotted #ddd; 
  border-left: 1px solid #aaa; 
}

.calendar tbody th {
  background-color: #eee;
  border-top: 1px solid #ddd; 
}

.calendar thead td {
  text-align: center;
}

/* ------------------------------------------------------------------------- */
/* Week view styles */
/* ------------------------------------------------------------------------- */

.week tbody td{
  height: 1.8em;
  width: 13%;
  overflow: visible;
  margin:0;
  padding: 0;
  background-color: #fff;
}

.week thead th {
  background-color: #fff;
  background-image: url('../images/ico_calendar_head_border.png');
  background-repeat: repeat-x;
  background-position: bottom;
  border-left: 1px dotted #ddd; 
  border-top: 1px solid #ccc;
  padding-bottom: 9px;
}

/* ------------------------------------------------------------------------- */
/* Month view styles */
/* ------------------------------------------------------------------------- */

.month tbody td{
  vertical-align: top;
  height: 10.5em;
  width: 13%;
  overflow: visible;
  margin:0;
  padding-top: 10px;
  background-color: #fff;
}

.month tbody td h2{
  position:relative;
  height:1em;
  top:-1em;
  margin:0;
  font-size: 100%;
  background-color: #ccc;
}

.month tbody td.highlight{
  background-color: #fddaa4;
}

.month tbody td.downlight{
  background-color: #eff0f2;
}
/* ------------------------------------------------------------------------- */
/* Month view styles */
/* ------------------------------------------------------------------------- */

.day tbody td{
  height: 1.8em;
  width: 90%;
  overflow: visible;
  margin:0;
  padding: 0;
  background-color: #fff;
}

.day thead th {
  background-color: #fff;
  background-image: url('../images/ico_calendar_head_border.png');
  background-repeat: repeat-x;
  background-position: bottom;
  border-left: 1px dotted #ddd; 
  border-top: 1px solid #ccc;
  padding-bottom: 9px;
}

/* ------------------------------------------------------------------------- */
/* Events styles */
/* ------------------------------------------------------------------------- */

.event {
  position: absolute;
  overflow: hidden;
}

.event h1 {
  font-size: 90%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.event h1 a {
  color: #fff;
}

.event h1 a:visited {
  color: #fff;
}

.event img {
  margin-right: 1px;
}

.event .handle {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.eventOwner {
  color: #fff;
  background-color: #83B6E6;
}

.eventOwner h1 {
  background-color: #639CDA;
  border-top: 1px solid #81B2E3;
  border-bottom: 1px solid #447DCA;
}

.eventOwner0 {
  color: #fff;
  background-color: #f5b043;
}

.eventOwner0 h1 {
  background-color: #f08620;
  border-top: 1px solid #f6b453;
  border-bottom: 1px solid #e96612;
}

.eventOwner1 {
  color: #fff;
  background-color: #EE7690;
}

.eventOwner1 h1 {
  background-color: #E63C5A;
  border-top: 1px solid #F2778C;
  border-bottom: 1px solid #CF3D57;
}

.eventOwner2 {
  color: #fff;
  background-color: #98BF5E;
}

.eventOwner2 h1 {
  background-color: #79A740;
  border-top: 1px solid #95BB60;
  border-bottom: 1px solid #598A28;
}

.eventOwner3 {
  color: #fff;
  background-color: #E7AB9E;
}

.eventOwner3 h1 {
  background-color: #DC8F80;
  border-top: 1px solid #D6AC8F;
  border-bottom: 1px solid #CD6F60;
}

.eventOwner4 {
  color: #fff;
  background-color: #BBACC4;
}

.eventOwner4 h1 {
  background-color: #A290AD;
  border-top: 1px solid #B7A8C0;
  border-bottom: 1px solid #B7A8C0;
}

.eventOwner5 {
  color: #fff;
  background-color: #5672d0;
}

.eventOwner5 h1 {
  background-color: #2d4cb1;
  border-top: 1px solid #5776c8;
  border-bottom: 1px solid #1a3196;
}

/* ------------------------------------------------------------------------- */
/* Calendar Quick Form */
/* ------------------------------------------------------------------------- */

#calendarQuickForm {
  display: none;
  width: 25em;
  text-align: center;
  z-index: 1000;
}

#calendarQuickForm form  {
  background-color: #ebebeb;
  border: 1px solid #b3b3b3;
  text-align: left;
  margin-bottom: 0;
}

#calendarQuickForm h1 {
  margin: 0;
  background-color: #d1d2d4;
  font-weight: bold;
  font-size: 100%;
  background-image: url('../images/popup_title_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.5em;  
}

#calendarQuickForm h2 {
  background-color: #ebebeb;
  font-weight: bold;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  font-size: 100%;  
  margin: 0;
}

#calendarQuickForm h4 {
  font-weight: bold;
  font-size: 100%; 
  background-color: #ebebeb;
  margin: 3px;
}

#calendarQuickForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#calendarQuickForm img {
  margin-top: -2px;
}

#calendarQuickForm h1 img{
  vertical-align: middle;
  float: right;
  margin: 1px 3px 0 0;
}

#calendarQuickForm fieldset {
  border: 0;
}

#calendarQuickForm fieldset input{
  width: 12em;
}
#calendarQuickForm fieldset input.button{
  width: 6em;
}


#calendarQuickForm .buttons input{
  width: auto;
  margin: 0 0.5em;
}

#calendarQuickFormData {
  margin:0;
  padding: 0 0 5px 0;
  height: 6em;
  background-color: #ebebeb;
  border: 1px solid #b3b3b3;
}

#calendarQuickFormData div {
  background-color: #fff;
  margin: 0 5px 5px 5px;
  padding: 0px 3px;
  border-left: 1px solid #358399;
  border-right: 1px solid #358399;
  border-bottom: 1px solid #358399;
}

/* ------------------------------------------------------------------------- */
/* Free/Busy view styles */
/* ------------------------------------------------------------------------- */

li.freeBusy {
  background-color: #97bdec; 
}

.freeBusy tbody td {
  background-color: #97bdec; 
  border-top: 1px dashed #6a90c3;
  border-right: 1px dashed #6a90c3;      

}

.freeBusy tbody td.hover 	{ 
  background-color: #ffde01; 
  border-top: 1px dashed #6a90c3;
  border-right: 1px dashed #6a90c3;    
}

.freeBusy tbody td.busy, .busy   { 
  background-color: #b3b3b3;
  border-top: 1px dashed #6a90c3;
  border-right: 1px dashed #6a90c3;    
}

.freeBusy tbody td.free, .free { 
  background-color: #cee1ed;  
  border-top: 1px dashed #a0b3c4;
  border-right: 1px dashed #a0b3c4;     
}

.infoPopup {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 20em;
}

.infoPopup h1{
  margin: 0;
  background-color: #d1d2d4;
  font-weight: bold;
  font-size: 100%;
  background-image: url('../images/popup_title_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.5em; 
}

.infoPopup h2{
  background-color: #ebebeb;
  font-weight: bold;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  font-size: 100%;  
  margin: 0;
}

.infoPopup ul{
  margin: 0;
  padding:0;
  list-style: none;
}

.infoPopup li{
  padding-left: 1.5em;
}
