/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : agenda.css (standard)                                        //
//     - Desc : CSS style file (standard theme) for Calendar module          //
// 2003-09-01 Aliacom - Mehdi Rande                                          //
///////////////////////////////////////////////////////////////////////////////
// $Id$
/////////////////////////////////////////////////////////////////////////////*/

/* ------------------------------------------------------------------------- */
/* Calendar styles                                                           */
/* ------------------------------------------------------------------------- */
.waitingEventsContainer {
  height: 200px;
  overflow-x:hidden;
  overflow-y:scroll;
  border: 1px solid #CCC;
}

#calendarSelection legend {
  color: #368397;
}

#calendarSelection .elementRow {
  white-space: normal;
}

#calendarLayout {
  -moz-user-select:none;
  -webkit-user-select:none;
}
#calendarLegend div{
  text-shadow: 0 -1px 2px #222;
  font-family: sans;
}

#calendarBody{
  /* height necessary to display the full calendar (0 -> 24)
  min-height: 1008px;*/
  min-height: 330px;
  overflow-y: none;
}

#calendarNavBar {
  padding-left: 10px;
  padding-top:4px;
}

#calendarNavBar span {
  vertical-align:middle;
}

#calendarNavBar span.label {
  font-weight:bold;
  font-size:130%;
}

#calendarNavBar span.lnk {
}

#calendarNavBar input {
  font-weight: normal;
  font-size: 100%;
  padding: 0;
}

#calendarNavBar img {
  width: 30px;
}

.dayColLabel {
  border-bottom:1px solid #CCC;
  position:absolute;
  text-align:center;
  background:#EFF0F2;
  height: 100%;
  vertical-align:middle;
}

.dayLabel {
  text-align:center;
  background: #F4F4F4;
}

.dayCol {
  border-left:1px solid #AAA;
  position:absolute;
  height:100%;
}

.selection {
  background-color: #368397;
  background: -moz-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -o-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%) #368397;
  background: -ms-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
}

.alldayContainer {
  border-left:1px solid #AAA;
  border-top:1px solid #AAA;
  border-bottom:1px solid #AAA;
  position:absolute;
}

.downlight {
  background: #F0F0F0;
}

.alldayCell {
  width:100%;
  position: relative;
}

.dayMonthLabel {
  background: #DDD;
  text-align: right;
  padding-right: 4px;
}

.dayMonthLabel > .week {
  float: left;
  margin: 1px 0 0 4px;
  background-color: white;
  border-radius: 1em;
  padding: 0 2px;
  font-size: 0.8em;
}

.hourPanel {
  width: 4.5em;
  color: #555;
  background:#F4F4F4;
}

.hourLabel {
  font-weight:bold;
  font-size: 150%;
  padding-right: 8px;
}

.minuteLabel {
  vertical-align:top;
}

.hourFull {
  border-top:1px solid #CCC;
  text-align:right;
}

.hourPartial {
  border-top:1px dotted #CCC;
  text-align:right;
}

.todayLabel {
  background-color:#97C5D3;
}

.todayLabel a {
  color:#FFF;
  font-weight:bold;
}

#today {
  background:#FFFFCC;
  height:100%;
  position:absolute;
}

#todayHourMarker {
  border-top:2px solid red;
  position:absolute;
  opacity:0.4;
  z-index:1000;
}

#hourMarker {
  position:absolute;
  opacity:0.4;
  z-index:1000;
  left: -3em;
  background-image: url(../images/hour_marker.gif);
}

#calendarHeader {
  margin-bottom:8px;
  padding-right:16px;
  position:relative;
}

#calendarGridContainer {
  position:relative;
}

#calendarBody {
  border:1px solid #AAA;
  overflow-y:scroll;
  overflow-x:hidden;
  position:relative;
}

/* VERY COMPLEX CALENDAR HACK FOR IE, I'LL BE FURIOUS IF SOMEONE TOUCH IT ! */
/* BEGIN ie 6, ie 7 HACK FOR CALENDAR */
#calendarToolbar {
  /margin-right: -1px;
}
#calendarLayout {
  /padding-right: 18px;
}
#calendarHeader {
  /margin-right: -1px;
  /padding-right: 0px;
}
#calendarBody {
  /width: 100%;
  /padding-right: 17px;
  /margin-right: -18px;
}
/* END ie 6, ie 7 HACK FOR CALENDAR */

.calendarTable {
  width:100%;
  border-collapse:collapse;
  background:#FFF;
  table-layout:fixed;
}

#calendarHeaderGrid {
  height: 20px;
  position:relative;
}

#calendarGrid {
  position:relative;
}

.calTip {
  z-index: 100;
  cursor:pointer;
}

.calTip a {
  color:inherit;
}

.calTip h1 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  white-space: nowrap;
  color: #636466;
}

.calTip .tip {
  background: #FFF;
  border: 2px solid orange;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 0;
  padding: 8px;
}

.moreEvent {
  padding: 0 0 1px 5px ;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.calendarDayOver {
  background: #c3d9ff;
}

/* ------------------------------------------------------------------------- */
/* Events styles */
/* ------------------------------------------------------------------------- */

.event {
  position: absolute;
  z-index:10;
  overflow:hidden;
}

.printableCalendar .printableEvent {
  height:auto !important;
  height:100%; 
  min-height:100%; 
}

.event h1, .printableEvent h1 {
  font-size: 90%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.event h1.allDay {
  text-align:left;
  padding-left: 2px;
  background: none;
  display: inline;
}

.event h1 a, .printableEvent h1 a  {
  color: #fff;
}

.event h1 a:visited {
  color: #fff;
}

.event img {
  margin-right: 1px;
}

.event .handle {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: s-resize;
  width: 100%;
  height: 4px;
  line-height: 4px;
  font-size: 4px;
  background-image: url(../images/ico_handle.gif);
  background-repeat : no-repeat;
  background-position: center center;
}

.event dl {
  margin: 0;
  height: 100%;
  overflow:hidden;
  font-family: sans-serif, 'sans';
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.event dl.allDay {
  margin: 0;
  height: auto;
  overflow:hidden;
}

.event dt.transparent h1 {
  background-image: url('../images/hatch.gif');
  padding-left: 9px;
  background-repeat: repeat-y;
}

.event dt {
  white-space: nowrap;
}

.event dd {
  margin: 0;
  margin-left: 2px;
  margin-top: 2px;
  font-size: 12px;
  text-shadow: 0 -1px 1px #000;
}

.event dd.transparent {
  margin: 0;
  margin-left: 10px;
}

.event dt.alldayTransparent {
  background-image: url('../images/hatch.gif');
  background-repeat: repeat-y;
  margin: 0;
}

.event dt.alldayTransparent h1 {
  margin: 0;
  margin: 8px;
}

.event span {
  height:100%;
}

.eventOwner {
  color: #fff;
  background-color: #368397; /* Old browsers */
  background-image: -moz-linear-gradient(top, #3F99AF 0%, #368397 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3F99AF), color-stop(100%,#368397)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #3F99AF 0%,#368397 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #3F99AF 0%,#368397 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #3F99AF 0%,#368397 100%); /* W3C */
  border: 1px solid #21535E;
}
.eventOwner h1, li.eventOwner, .eventOwner .handle {
  background-color: #2C6C7A;
  border-top: #419FB5;
  border-bottom: #21535E;
}
li.eventOwnerLegend {
  background-color: #368397;
  background-image: -moz-linear-gradient(top, #3F99AF 0%, #368397 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3F99AF), color-stop(100%,#368397)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #3F99AF 0%,#368397 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #3F99AF 0%,#368397 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #3F99AF 0%,#368397 100%); /* W3C */
  color: #FFF;
}

.eventOwner0 {
  color: #fff;
  border: 1px solid rgb(177, 68, 14);
  background-color: #e6804d; /* Old browsers */
  background-image: -moz-linear-gradient(top, #e6804d 0%, #b1440e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6804d), color-stop(100%,#b1440e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e6804d 0%,#b1440e 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #e6804d 0%,#b1440e 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #e6804d 0%,#b1440e 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #e6804d 0%,#b1440e 100%); /* W3C */
}
.eventOwner0 h1, li.eventOwner0, .eventOwner0 .handle {
  background-color: rgb(177, 68, 14);
  border-top: rgb(230, 128, 77);
  border-bottom: rgb(230, 128, 77);
}
li.eventOwner0Legend {
  background-color: #e6804d; /* Old browsers */
  background-image: -moz-linear-gradient(top, #e6804d 0%, #b1440e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6804d), color-stop(100%,#b1440e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e6804d 0%,#b1440e 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #e6804d 0%,#b1440e 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #e6804d 0%,#b1440e 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #e6804d 0%,#b1440e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6804d', endColorstr='#b1440e',GradientType=0 ); /* IE6-9 */
  color: #FFF;
}

.eventOwner1 {
  color: #fff;
  border: 1px solid rgb(82, 41, 163);
  background-color: #63459e; /* Old browsers */
  background-image: -moz-linear-gradient(top, #63459e 0%, #5229a3 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63459e), color-stop(100%,#5229a3)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #63459e 0%,#5229a3 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #63459e 0%,#5229a3 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #63459e 0%,#5229a3 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #63459e 0%,#5229a3 100%); /* W3C */
}
.eventOwner1 h1, li.eventOwner1, .eventOwner1 .handle {
  background-color: rgb(82, 41, 163);
  border-top: rgb(140, 102, 217);
  border-bottom: rgb(140, 102, 217);
}
li.eventOwner1Legend {
  background-image: -moz-linear-gradient(top, #63459e 0%, #5229a3 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63459e), color-stop(100%,#5229a3)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #63459e 0%,#5229a3 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #63459e 0%,#5229a3 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #63459e 0%,#5229a3 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #63459e 0%,#5229a3 100%); /* W3C */
  color: #FFF;
}

.eventOwner2 {
  color: #fff;
  border: 1px solid rgb(40, 117, 78);
  background-color: #65ad89; /* Old browsers */
  background-image: -moz-linear-gradient(top, #65ad89 0%, #28754e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65ad89), color-stop(100%,#28754e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #65ad89 0%,#28754e 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #65ad89 0%,#28754e 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #65ad89 0%,#28754e 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #65ad89 0%,#28754e 100%); /* W3C */
}
.eventOwner2 h1, li.eventOwner2, .eventOwner2 .handle {
  background-color: rgb(40, 117, 78);
  border-top: rgb(101, 173, 137);
  border-bottom: rgb(101, 173, 137);
}
li.eventOwner2Legend {
  background-color: #65ad89; /* Old browsers */
  background-image: -moz-linear-gradient(top, #65ad89 0%, #28754e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65ad89), color-stop(100%,#28754e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #65ad89 0%,#28754e 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #65ad89 0%,#28754e 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #65ad89 0%,#28754e 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #65ad89 0%,#28754e 100%); /* W3C */
  color: #FFF;
}

.eventOwner3 {
  color: #fff;
  border: 1px solid rgb(136, 136, 14);
  background-color: #bfbf4d; /* Old browsers */
  background-image: -moz-linear-gradient(top, #bfbf4d 0%, #88880e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfbf4d), color-stop(100%,#88880e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #bfbf4d 0%,#88880e 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #bfbf4d 0%,#88880e 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #bfbf4d 0%,#88880e 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #bfbf4d 0%,#88880e 100%); /* W3C */
}
.eventOwner3 h1, li.eventOwner3, .eventOwner3 .handle {
  background-color: rgb(136, 136, 14);
  border-top: rgb(191, 191, 77);
  border-bottom: rgb(191, 191, 77);
}
li.eventOwner3Legend {
  background-color: #bfbf4d; /* Old browsers */
  background-image: -moz-linear-gradient(top, #bfbf4d 0%, #88880e 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfbf4d), color-stop(100%,#88880e)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #bfbf4d 0%,#88880e 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #bfbf4d 0%,#88880e 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #bfbf4d 0%,#88880e 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #bfbf4d 0%,#88880e 100%); /* W3C */
  color: #FFF;
}

.eventOwner4 {
  color: #fff;
  background-color: #cc584c; /* Old browsers */
  background-image: -moz-linear-gradient(top, #cc584c 0%, #a33131 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc584c), color-stop(100%,#a33131)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #cc584c 0%,#a33131 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #cc584c 0%,#a33131 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #cc584c 0%,#a33131 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #cc584c 0%,#a33131 100%); /* W3C */
}
.eventOwner4 h1, li.eventOwner4, .eventOwner4 .handle {
  background-color: rgb(163, 41, 41);
  border-top: rgb(216, 102, 102);
  border-bottom: rgb(216, 102, 102);
}
li.eventOwner4Legend {
  background-color: #cc584c; /* Old browsers */
  background-image: -moz-linear-gradient(top, #cc584c 0%, #a33131 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc584c), color-stop(100%,#a33131)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #cc584c 0%,#a33131 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #cc584c 0%,#a33131 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #cc584c 0%,#a33131 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #cc584c 0%,#a33131 100%); /* W3C */
  color: #FFF;
}

.eventOwner5 {
  color: #fff;
  border: 1px solid rgb(78, 93, 108);
  background-color: #8997a5; /* Old browsers */
  background-image: -moz-linear-gradient(top, #8997a5 0%, #4e5d6c 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8997a5), color-stop(100%,#4e5d6c)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #8997a5 0%,#4e5d6c 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #8997a5 0%,#4e5d6c 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #8997a5 0%,#4e5d6c 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #8997a5 0%,#4e5d6c 100%); /* W3C */
}
.eventOwner5 h1, li.eventOwner5, .eventOwner5 .handle {
  background-color: rgb(78, 93, 108);
  border-top: rgb(137, 151, 165);
  border-bottom: rgb(137, 151, 165);
}
li.eventOwner5Legend {
  background-color: #8997a5; /* Old browsers */
  background-image: -moz-linear-gradient(top, #8997a5 0%, #4e5d6c 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8997a5), color-stop(100%,#4e5d6c)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #8997a5 0%,#4e5d6c 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #8997a5 0%,#4e5d6c 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #8997a5 0%,#4e5d6c 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #8997a5 0%,#4e5d6c 100%); /* W3C */
  color: #FFF;
}

.eventOwner6 {
  color: #fff;
  border: 1px solid rgb(110, 110, 65);
  background-color: #a7a77d; /* Old browsers */
  background-image: -moz-linear-gradient(top, #a7a77d 0%, #6e6e41 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a77d), color-stop(100%,#6e6e41)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #a7a77d 0%,#6e6e41 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #a7a77d 0%,#6e6e41 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #a7a77d 0%,#6e6e41 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #a7a77d 0%,#6e6e41 100%); /* W3C */
}
.eventOwner6 h1, li.eventOwner6, .eventOwner6 .handle {
  background-color: rgb(110, 110, 65);
  border-top: rgb(167, 167, 125);
  border-bottom: rgb(167, 167, 125);
}
li.eventOwner6Legend {
  background-color: #a7a77d; /* Old browsers */
  background-image: -moz-linear-gradient(top, #a7a77d 0%, #6e6e41 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a77d), color-stop(100%,#6e6e41)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #a7a77d 0%,#6e6e41 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #a7a77d 0%,#6e6e41 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #a7a77d 0%,#6e6e41 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #a7a77d 0%,#6e6e41 100%); /* W3C */
  color: #FFF;
}

.eventOwner7 {
  color: #fff;
  border: 1px solid rgb(177, 54, 95);
  background-color: #e67399; /* Old browsers */
  background-image: -moz-linear-gradient(top, #e67399 0%, #b1365f 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e67399), color-stop(100%,#b1365f)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e67399 0%,#b1365f 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #e67399 0%,#b1365f 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #e67399 0%,#b1365f 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #e67399 0%,#b1365f 100%); /* W3C */
}
.eventOwner7 h1, li.eventOwner7, .eventOwner7 .handle {
  background-color: rgb(177, 54, 95);
  border-top: rgb(177, 54, 95);
  border-bottom: rgb(177, 54, 95);
}
li.eventOwner7Legend {
  background-color: #e67399; /* Old browsers */
  background-image: -moz-linear-gradient(top, #e67399 0%, #b1365f 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e67399), color-stop(100%,#b1365f)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e67399 0%,#b1365f 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #e67399 0%,#b1365f 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #e67399 0%,#b1365f 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #e67399 0%,#b1365f 100%); /* W3C */
  color: #FFF;
}

.eventOwner8 {
  color: #fff;
  border: 1px solid rgb(41, 82, 122);
  background-color: #668cb3; /* Old browsers */
  background-image: -moz-linear-gradient(top, #668cb3 0%, #29527a 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668cb3), color-stop(100%,#29527a)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #668cb3 0%,#29527a 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #668cb3 0%,#29527a 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #668cb3 0%,#29527a 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #668cb3 0%,#29527a 100%); /* W3C */
}
.eventOwner8 h1, li.eventOwner8, .eventOwner8 .handle {
  background-color: rgb(41, 82, 122);
  border-top: rgb(102, 140, 179);
  border-bottom: rgb(102, 140, 179);
}
li.eventOwner8Legend {
  background-color: #668cb3; /* Old browsers */
  background-image: -moz-linear-gradient(top, #668cb3 0%, #29527a 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668cb3), color-stop(100%,#29527a)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #668cb3 0%,#29527a 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #668cb3 0%,#29527a 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #668cb3 0%,#29527a 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #668cb3 0%,#29527a 100%); /* W3C */
  color: #FFF;
}

.eventOwner9 {
  color: #fff;
  border: 1px solid rgb(13, 120, 19);
  background-color: #4cb052; /* Old browsers */
  background-image: -moz-linear-gradient(top, #4cb052 0%, #0d7813 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cb052), color-stop(100%,#0d7813)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #4cb052 0%,#0d7813 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #4cb052 0%,#0d7813 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #4cb052 0%,#0d7813 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #4cb052 0%,#0d7813 100%); /* W3C */
}
.eventOwner9 h1, li.eventOwner9, .eventOwner9 .handle {
  background-color: rgb(13, 120, 19);
  border-top: rgb(76, 176, 82);
  border-bottom: rgb(76, 176, 82);
}
li.eventOwner9Legend {
  background-color: #4cb052; /* Old browsers */
  background-image: -moz-linear-gradient(top, #4cb052 0%, #0d7813 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4cb052), color-stop(100%,#0d7813)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #4cb052 0%,#0d7813 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #4cb052 0%,#0d7813 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #4cb052 0%,#0d7813 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #4cb052 0%,#0d7813 100%); /* W3C */
  color: #FFF;
}

.eventOwner10 {
  color: #fff;
  border: 1px solid rgb(171, 139, 0);
  background-color: #e0c240; /* Old browsers */
  background-image: -moz-linear-gradient(top, #e0c240 0%, #ab8b00 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0c240), color-stop(100%,#ab8b00)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e0c240 0%,#ab8b00 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #e0c240 0%,#ab8b00 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #e0c240 0%,#ab8b00 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #e0c240 0%,#ab8b00 100%); /* W3C */
}
.eventOwner10 h1, li.eventOwner10, .eventOwner10 .handle {
  background-color: rgb(171, 139, 0);
  border-top: rgb(224, 194, 64);
  border-bottom: rgb(224, 194, 64);
}
li.eventOwner10Legend {
  background-color: #e0c240; /* Old browsers */
  background-image: -moz-linear-gradient(top, #e0c240 0%, #ab8b00 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0c240), color-stop(100%,#ab8b00)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e0c240 0%,#ab8b00 100%); /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #e0c240 0%,#ab8b00 100%); /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #e0c240 0%,#ab8b00 100%); /* IE10+ */
  background-image: linear-gradient(to bottom, #e0c240 0%,#ab8b00 100%); /* W3C */
  color: #FFF;
}

.eventOwner11 {
  color: #fff;
  border: 1px solid rgb(134, 90, 90);
  background-color: #be9494;
  background-image: -moz-linear-gradient(top, #be9494 0%, #865a5a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be9494), color-stop(100%,#865a5a));
  background-image: -webkit-linear-gradient(top, #be9494 0%,#865a5a 100%);
  background-image: -o-linear-gradient(top, #be9494 0%,#865a5a 100%);
  background-image: -ms-linear-gradient(top, #be9494 0%,#865a5a 100%);
  background-image: linear-gradient(to bottom, #be9494 0%,#865a5a 100%);
}
.eventOwner11 h1, li.eventOwner11, .eventOwner11 .handle {
  background-color: rgb(134, 90, 90);
  border-top: rgb(190, 148, 148);
  border-bottom: rgb(190, 148, 148);
}
li.eventOwner11Legend {
  background-color: #be9494;
  background-image: -moz-linear-gradient(top, #be9494 0%, #865a5a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be9494), color-stop(100%,#865a5a));
  background-image: -webkit-linear-gradient(top, #be9494 0%,#865a5a 100%);
  background-image: -o-linear-gradient(top, #be9494 0%,#865a5a 100%);
  background-image: -ms-linear-gradient(top, #be9494 0%,#865a5a 100%);
  background-image: linear-gradient(to bottom, #be9494 0%,#865a5a 100%);
  color: #FFF;
}

.eventOwner12 {
  color: #fff;
  border: 1px solid rgb(90, 105, 134);
  background-color: #94a2be;
  background-image: -moz-linear-gradient(top, #94a2be 0%, #5a6986 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94a2be), color-stop(100%,#5a6986));
  background-image: -webkit-linear-gradient(top, #94a2be 0%,#5a6986 100%);
  background-image: -o-linear-gradient(top, #94a2be 0%,#5a6986 100%);
  background-image: -ms-linear-gradient(top, #94a2be 0%,#5a6986 100%);
  background-image: linear-gradient(to bottom, #94a2be 0%,#5a6986 100%);
}
.eventOwner12 h1, li.eventOwner12, .eventOwner12 .handle {
  background-color: rgb(90, 105, 134);
  border-top: rgb(148, 162, 190);
  border-bottom: rgb(148, 162, 190);
}
li.eventOwner12Legend {
  background-color: #94a2be;
  background-image: -moz-linear-gradient(top, #94a2be 0%, #5a6986 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94a2be), color-stop(100%,#5a6986));
  background-image: -webkit-linear-gradient(top, #94a2be 0%,#5a6986 100%);
  background-image: -o-linear-gradient(top, #94a2be 0%,#5a6986 100%);
  background-image: -ms-linear-gradient(top, #94a2be 0%,#5a6986 100%);
  background-image: linear-gradient(to bottom, #94a2be 0%,#5a6986 100%);
  color: #FFF;
}

.eventOwner13 {
  color: #fff;
  border: 1px solid rgb(141, 111, 71);
  background-color: #c4a883;
  background-image: -moz-linear-gradient(top, #c4a883 0%, #8d6f47 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4a883), color-stop(100%,#8d6f47));
  background-image: -webkit-linear-gradient(top, #c4a883 0%,#8d6f47 100%);
  background-image: -o-linear-gradient(top, #c4a883 0%,#8d6f47 100%);
  background-image: -ms-linear-gradient(top, #c4a883 0%,#8d6f47 100%);
  background-image: linear-gradient(to bottom, #c4a883 0%,#8d6f47 100%);
}
.eventOwner13 h1, li.eventOwner13, .eventOwner13 .handle {
  background-color: rgb(141, 111, 71);
  border-top: rgb(196, 168, 131);
  border-bottom: rgb(196, 168, 131);
}
li.eventOwner13Legend {
  background-color: #c4a883;
  background-image: -moz-linear-gradient(top, #c4a883 0%, #8d6f47 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4a883), color-stop(100%,#8d6f47));
  background-image: -webkit-linear-gradient(top, #c4a883 0%,#8d6f47 100%);
  background-image: -o-linear-gradient(top, #c4a883 0%,#8d6f47 100%);
  background-image: -ms-linear-gradient(top, #c4a883 0%,#8d6f47 100%);
  background-image: linear-gradient(to bottom, #c4a883 0%,#8d6f47 100%);
  color: #FFF;
}

.eventOwner14 {
  color: #fff;
  border: 1px solid rgb(122, 54, 122);
  background-color: #b373b3;
  background-image: -moz-linear-gradient(top, #b373b3 0%, #7a367a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b373b3), color-stop(100%,#7a367a));
  background-image: -webkit-linear-gradient(top, #b373b3 0%,#7a367a 100%);
  background-image: -o-linear-gradient(top, #b373b3 0%,#7a367a 100%);
  background-image: -ms-linear-gradient(top, #b373b3 0%,#7a367a 100%);
  background-image: linear-gradient(to bottom, #b373b3 0%,#7a367a 100%);
}
.eventOwner14 h1, li.eventOwner14, .eventOwner14 .handle {
  background-color: rgb(122, 54, 122);
  border-top: rgb(163, 41, 41);
  border-bottom: rgb(163, 41, 41);
}
li.eventOwner14Legend {
  background-color: #b373b3;
  background-image: -moz-linear-gradient(top, #b373b3 0%, #7a367a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b373b3), color-stop(100%,#7a367a));
  background-image: -webkit-linear-gradient(top, #b373b3 0%,#7a367a 100%);
  background-image: -o-linear-gradient(top, #b373b3 0%,#7a367a 100%);
  background-image: -ms-linear-gradient(top, #b373b3 0%,#7a367a 100%);
  background-image: linear-gradient(to bottom, #b373b3 0%,#7a367a 100%);
  color: #FFF;
}

.eventOwner15 {
  color: #fff;
  background-color: #59bfb3;
  background-image: -moz-linear-gradient(top, #59bfb3 0%, #1b887a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59bfb3), color-stop(100%,#1b887a));
  background-image: -webkit-linear-gradient(top, #59bfb3 0%,#1b887a 100%);
  background-image: -o-linear-gradient(top, #59bfb3 0%,#1b887a 100%);
  background-image: -ms-linear-gradient(top, #59bfb3 0%,#1b887a 100%);
  background-image: linear-gradient(to bottom, #59bfb3 0%,#1b887a 100%);
    border: 1px solid rgb(27, 136, 122);
}
.eventOwner15 h1, li.eventOwner15, .eventOwner15 .handle {
  background-color: rgb(27, 136, 122);
  border-top: rgb(89, 191, 179);
  border-bottom: rgb(89, 191, 179);
}
li.eventOwner15Legend {
  background-color: #59bfb3;
  background-image: -moz-linear-gradient(top, #59bfb3 0%, #1b887a 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#59bfb3), color-stop(100%,#1b887a));
  background-image: -webkit-linear-gradient(top, #59bfb3 0%,#1b887a 100%);
  background-image: -o-linear-gradient(top, #59bfb3 0%,#1b887a 100%);
  background-image: -ms-linear-gradient(top, #59bfb3 0%,#1b887a 100%);
  background-image: linear-gradient(to bottom, #59bfb3 0%,#1b887a 100%);
  color: #FFF;
}

.eventOwner16 {
  color: #fff;
  border: 1px solid rgb(82, 136, 0);
  background-color: #8cbf40;
  background-image: -moz-linear-gradient(top, #8cbf40 0%, #528800 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cbf40), color-stop(100%,#528800));
  background-image: -webkit-linear-gradient(top, #8cbf40 0%,#528800 100%);
  background-image: -o-linear-gradient(top, #8cbf40 0%,#528800 100%);
  background-image: -ms-linear-gradient(top, #8cbf40 0%,#528800 100%);
  background-image: linear-gradient(to bottom, #8cbf40 0%,#528800 100%);
}
.eventOwner16 h1, li.eventOwner16, .eventOwner16 .handle {
  background-color: rgb(82, 136, 0);
  border-top: rgb(140, 191, 64);
  border-bottom: rgb(140, 191, 64);
}
li.eventOwner16Legend {
  background-color: #8cbf40;
  background-image: -moz-linear-gradient(top, #8cbf40 0%, #528800 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cbf40), color-stop(100%,#528800));
  background-image: -webkit-linear-gradient(top, #8cbf40 0%,#528800 100%);
  background-image: -o-linear-gradient(top, #8cbf40 0%,#528800 100%);
  background-image: -ms-linear-gradient(top, #8cbf40 0%,#528800 100%);
  background-image: linear-gradient(to bottom, #8cbf40 0%,#528800 100%);
  color: #FFF;
}

.eventOwner17 {
  color: #fff;
  border: 1px solid rgb(190, 109, 0);
  background-color: #f2a640;
  background-image: -moz-linear-gradient(top, #f2a640 0%, #be6d00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2a640), color-stop(100%,#be6d00));
  background-image: -webkit-linear-gradient(top, #f2a640 0%,#be6d00 100%);
  background-image: -o-linear-gradient(top, #f2a640 0%,#be6d00 100%);
  background-image: -ms-linear-gradient(top, #f2a640 0%,#be6d00 100%);
  background-image: linear-gradient(to bottom, #f2a640 0%,#be6d00 100%);
}
.eventOwner17 h1, li.eventOwner17, .eventOwner17 .handle {
  background-color: rgb(190, 109, 0);
  border-top: rgb(242, 166, 64);
  border-bottom: rgb(242, 166, 64);
}
li.eventOwner17Legend {
  background-color: #f2a640;
  background-image: -moz-linear-gradient(top, #f2a640 0%, #be6d00 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2a640), color-stop(100%,#be6d00));
  background-image: -webkit-linear-gradient(top, #f2a640 0%,#be6d00 100%);
  background-image: -o-linear-gradient(top, #f2a640 0%,#be6d00 100%);
  background-image: -ms-linear-gradient(top, #f2a640 0%,#be6d00 100%);
  background-image: linear-gradient(to bottom, #f2a640 0%,#be6d00 100%);
  color: #FFF;
}

.eventOwner18 {
  color: #fff;
  border: 1px solid rgb(112, 87, 112); 
  background-color: #a992a9;
  background-image: -moz-linear-gradient(top, #a992a9 0%, #705770 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a992a9), color-stop(100%,#705770));
  background-image: -webkit-linear-gradient(top, #a992a9 0%,#705770 100%);
  background-image: -o-linear-gradient(top, #a992a9 0%,#705770 100%);
  background-image: -ms-linear-gradient(top, #a992a9 0%,#705770 100%);
  background-image: linear-gradient(to bottom, #a992a9 0%,#705770 100%);
}
.eventOwner18 h1, li.eventOwner18, .eventOwner18 .handle {
  background-color: #a992a9;
  border-top: rgb(169, 146, 169);
  border-bottom: rgb(169, 146, 169);
}
li.eventOwner18Legend {
  background-color: #a992a9;
  background-image: -moz-linear-gradient(top, #a992a9 0%, #705770 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a992a9), color-stop(100%,#705770));
  background-image: -webkit-linear-gradient(top, #a992a9 0%,#705770 100%);
  background-image: -o-linear-gradient(top, #a992a9 0%,#705770 100%);
  background-image: -ms-linear-gradient(top, #a992a9 0%,#705770 100%);
  background-image: linear-gradient(to bottom, #a992a9 0%,#705770 100%);
  color: #FFF;
}

.eventOwner19 {
  color: #fff;
  border: 1px solid rgb(74, 113, 108);
  background-color: #85aaa5;
  background-image: -moz-linear-gradient(top, #85aaa5 0%, #4a716c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85aaa5), color-stop(100%,#4a716c));
  background-image: -webkit-linear-gradient(top, #85aaa5 0%,#4a716c 100%);
  background-image: -o-linear-gradient(top, #85aaa5 0%,#4a716c 100%);
  background-image: -ms-linear-gradient(top, #85aaa5 0%,#4a716c 100%);
  background-image: linear-gradient(to bottom, #85aaa5 0%,#4a716c 100%);
}
.eventOwner19 h1, li.eventOwner19, .eventOwner19 .handle {
  background-color: rgb(133, 170, 165);
  border-top: rgb(133, 170, 165);
  border-bottom: rgb(133, 170, 165);
}
li.eventOwner19Legend {
  background-color: #85aaa5;
  background-image: -moz-linear-gradient(top, #85aaa5 0%, #4a716c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85aaa5), color-stop(100%,#4a716c));
  background-image: -webkit-linear-gradient(top, #85aaa5 0%,#4a716c 100%);
  background-image: -o-linear-gradient(top, #85aaa5 0%,#4a716c 100%);
  background-image: -ms-linear-gradient(top, #85aaa5 0%,#4a716c 100%);
  background-image: linear-gradient(to bottom, #85aaa5 0%,#4a716c 100%);
  color: #FFF;
}

/* ------------------------------------------------------------------------- */
/* Calendar Quick Form */
/* ------------------------------------------------------------------------- */
#calendarQuickForm form  {
  text-align: left;
  margin-bottom: 0;
}

#calendarQuickForm h2 {
  font-weight: bold;
  font-size: 100%;  
  margin: 0;
}

#calendarQuickForm h4 {
  font-weight: bold;
  font-size: 100%; 
  margin: 3px;
}

#calendarQuickForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#calendarQuickForm img {
  margin-top: -2px;
}

#calendarQuickForm fieldset {
  border: 0;
  text-align: center;
}

#calendarQuickForm fieldset input{
  width: 18em;
}

#calendarQuickForm .buttons input{
  width: auto;
  margin: 0 0.5em;
}

#calendarQuickForm select  {
  width: 100%;
}

#calendarQuickForm option  {
  width: 275px;
  overflow: auto;
  word-wrap: break-word;
}

#calendarQuickForm table {
  width: 80%;
}

#calendarQuickForm table th {
  text-align: right;
  padding-right: 10px;
}

#calendarQuickFormData {
  margin:0;
  padding: 0 0 5px 0;
  height: 6em;
  padding-bottom: 10px;
  width: auto;
}

#calendarQuickFormData div {
  background-color: #fff;
  margin: 0 5px 5px 5px;
  padding: 0px 3px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
}

/* OBM 2.2 FreeBusy */

.freeBusyContent {
  padding-bottom:3em;
}

.freeBusyContent h2 {
  text-align:left;
  margin-left:16em;
}

.freeBusyForm {
  margin-left: 16em;
  padding: 5px 0px 5px 0px;
}
.freeBusyCalendar {
  margin-right: 2em;
  position: relative;
}

#calendarFreeBusyScroll {
  overflow-x:scroll;
  overflow-y:hidden;
  background: #FFF;
  padding: 0;
  margin-left: 1em;
  position: relative;
}

#scrollLeft {
  position: absolute;
  text-align: center;
  width:1em;
  cursor: pointer;
  background:	#35839A;
  color:#FFF;
  text-align: center;
  height: 100%;
}

#scrollRight {
  position: absolute;
  text-align: center;
  width: 1em;
  right: -1em;
  cursor: pointer;
  background:	#35839A;
  color:#FFF;
  text-align: center;
  height: 100%;
  top: 0;
}

.freeBusyCalendar table {
  border-spacing:0;
  border-collapse:collapse;
  background:#FFF;
}

.freeBusyCalendar tr {
  height: 1.5em;
}

.freeBusyCalendarColDay {
  border-right: 1px solid black;
}

.freeBusyCalendarDay {
  text-align:left;
  font-weight: bold;
  padding-left: 1em;
}
#meetingInfo{
  width:15.5em;
  margin:0 auto;
}
.freeBusyCalendarHour {
  padding-left: 1px;
}

.freeBusyCalendarHourDisplayed {
  border-left: 1px solid #666;
}

.freeBusyEntities {
  width: 22em;
  position: absolute;
  padding: 5px 0px 0px 5px;
}

.freeBusyEntities table {
  border-spacing:0;
  border-collapse:collapse;
  width: 22em;
}

.freeBusyEntities tr {
  height: 1.5em;
}

.freeBusyEntities .elementRow {
  height: 1.4em;
  border-bottom: 0.1em dotted #666;
}

.freeBusyEntities .allAttendees{
  text-align: center;
  font-weight: bold;
}

.freeBusyEntities input {
  font-size: 90%;
}

.freeBusyEntities select {
  width: 154px;
}

.timeSlot {
  border: 1px dotted #666;
  margin: 0;
  padding: 0;
  height: 1.4em;
}

.timeSlotNoCalendar {
  border: 1px dotted #666;
  margin: 0;
  padding: 0;
  background: #CCC;
  background-image: url('../images/hatch.gif');
  height: 1.4em;
}

.haveEvent {
  height: 0.5em;
  background:#990000;

}

.haveEventAll {
  height: 0.5em;
  background:#000099;
}

.meeting {
  background: #80A9B7;
  cursor: move;
  height: 100%;
}

.meetingBusy {
  background: #F00;
} 

.meetingResize {
  cursor: col-resize;
  background: #000; /*#35839A;*/
  width: 3px;
  height: 100%;
}

.freeBusyButtons {
  margin-top: 1em;
}

input[type="submit"][disabled] {
  background:#666;
  color: #CCC;
  cursor: default;
}

#calendarToolbar {
}

.share td{
  margin-left: 0.83em;
  text-align : center;
}

.share th{
  margin-left: 0.83em;
  width : 23%;
}

.share a{
  padding-left: 2em;
  padding-right: 2em;
}

.share div {
  text-align : left;
  font-size : 80%;
  font-weight : normal;
}

.SharePopup h2{
  font-weight: bold; 
  text-align: left;
  margin-top: 0.83em;
  margin-left: 0.83em;
  margin-right: 0.83em;
}

.SharePopup div{
  margin-top: 0.83em;
  margin-left: 0.83em;
  margin-bottom: 0.83em;
  margin-right: 0.83em;
  overflow: hidden;
}

.sendPopup {
  border:0 none;
  clear:left;
  padding-top:1em;
  text-align:center;
  padding-left:1em;
  padding-right:1em;
}

.sendPopup h2{
  font-weight: bold; 
  text-align: left;
  margin-top: 0.83em;
  margin-left: 0.83em;
  max-width : 60em;
}

.sendPopup input.downlight{
  background: #F0F0F0;
}

.sendPopup div.downlight{
  background: #F0F0F0;
}

.sendPopup input[type="submit"]{
  background-color:#509CBC;
  color:#FFFFFF;
  font-weight:bold;
  margin:0 3%;
}

.shareTip{
  width :20em;
}

/* ------------------------------------------------------------------------- */
/* Extended color picker */
/* ------------------------------------------------------------------------- */
div.extColorPickerWrapper {
  width: 20em;
  margin: auto;
}

.extColorPickerWrapper input {
  float: left;
  width: 15em;
}

div.extColorPicker {
  float: left;
  border: 1px solid #d2d2d2 ;
  width: 30px ;
  height:  16px ;
  line-height: 16px ;
  text-align: left;
}

div.extColorPicker div {
  float: left;
  height: 14px ;  
  width: 14px ;
  line-height: 100%;
  margin: 1px ; 
}

div.extColorPicker img {
  margin-top: 5px;
  vertical-align: top;
  float: left;
}

div#tag_wrapper {
  width: 95%;
}

div#tag_wrapper input {
  width: 70%;
	float: left;
}

div#tag_wrapper div {
  width: 10% ;
	float: left;
	border: 1px solid #d2d2d2;
}

div.colorHint {
  width: 14px ;
	height: 14px ;
	line-height: 14px;
	float: right ;
	margin: 2px;
}

#display_tag_color {
  background-color: #EFF0F2 ;
}

.tagLegend {
  color: #FFF;
  padding-left: 3px;
}

.needsAction {
  color: #808080;
}





.infoPopup {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 20em;
}

.infoPopup h1{
  margin: 0;
  background-color: #d1d2d4;
  font-weight: bold;
  font-size: 100%;
  background-color: #FAFAFA;
}

.infoPopup h2{
  background-color: #ebebeb;
  font-weight: bold;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  font-size: 100%;  
  margin: 0;
}

.infoPopup ul{
  margin: 0;
  padding:0;
  list-style: none;
}

.infoPopup li{
  padding-left: 1.5em;
}
/* Planning list view */
.eventList td {
  vertical-align: top;
}

.eventDetail {
  margin-left: 4em;
  margin-bottom: 1em;
  padding-left: 1em;
  border-left: 4px solid #B3B3B3;
}

.eventDetail table {
  border-spacing:0;
}

.eventDetail tbody th {
  border-bottom: 1px solid #B3B3B3;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: #F4F4F4;
}

.eventDetail tbody td {
  border-bottom: 1px solid #B3B3B3;
  border-right: none;
  border-left: none;
  text-align: left;
}

table.planning td {
  vertical-align: top;
  padding: 0;
}

table.planning tbody th {
  text-align: left;
}

table.planning ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

table.planning tbody a {
  color: #FFF;
}

table.planning li {
  padding: 4px;
  margin: 2px;
  font-size: 11.5px;
  height: 4em;
  border-radius: 5px;
}

table.planningRessource a {
  color: #636466;
}

table.planningRessource th {
  background-color:#F4F4F4;
}

table.planningRessource td {
  vertical-align: top;
  padding: 0;
  font-size: 90%;
}

table.planningRessource ul {
  padding: 0;
  padding-left: 4px;
  margin: 0;
  list-style: none;
}

table.planningRessource li {
  padding: 0;
  margin: 0;
}

table.planningRessource thead div {
  clip: rect(auto,auto,auto,auto);
  overflow: hidden;
}

tbody td.asEvent{
  background-color:#DBDBDB;
  border-bottom:none;
}

h1.hoursTitle{
  margin:0;
  font-size: 98%;
  font-weight: bold;
  padding: 2px;
  color:white;
  width:40%;
}


/* PORTLETS */

.calendarPortlet {
  border: 1px solid #666;
}
.calendarPortlet table {
  font-size: 100%;
}

.tab {
  border-bottom:1px solid #666;
  padding-top: 2px;
}

.tab label {
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid #666;
  font-weight: bold;
  cursor: pointer;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border-radius: 4px 4px 0px 0px;
}

.tabSelected {
  background: #4692a9;
}

.tab .tabSelected a{
   color: #FFF;
}

/* mini calendar */
.miniCalendar2 {
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right:	auto;
  border-collapse: collapse;	
  border-spacing: 0;  
  color: #636466;
  color:#4692a9;
  -moz-user-select:none;
  -webkit-user-select:none;
  table-layout:fixed;

}

.miniCalendar2 thead{
  background-color: #FFF;
  background-image: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  color: #666; 
  font-weight: bold;
}

.miniCalendar2 .labels{
  background-color: #EEE;
  border-bottom: 1px solid #aaa;
  color: #666;      
}

.miniCalendar2 tbody tr{
  height: 20px;
}
.miniCalendar2 tbody tr:last-child{
  height: 0px;
}

.miniCalendar2 tbody td.hover {
  background-color: #3F99AF !important;
  background: linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397 !important;
  background: -moz-linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397 !important;
  background: -webkit-linear-gradient(top, #368397 0%,#3F99AF 100%) !important;
  background: -o-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397 !important;
  background: -ms-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397 !important;
  color:white!important;
}

.miniCalendar2 tbody td.weekend {
  background:#EEE;
}

.miniCalendar2 tbody td.down {
  color:#888;
}

.miniCalendar2 tbody td.today {
  color: #FFF !important;
  background: #48ADC4!important;
  text-shadow: 0 -1px 1px #555 !important;
  font-weight:bold;
}

.miniCalendar2 tbody td.today:hover {
  color:#FFF !important;
  background: linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397 !important;
  background: -moz-linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397 !important;
  background: -webkit-linear-gradient(top, #368397 0%,#3F99AF 100%) !important;
  background: -o-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397 !important;
  background: -ms-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397 !important;
  text-shadow: -1px 0 0 #777 !important;
  font-weight:bold;
}

.miniCalendar2 tbody td.selected {
  background-color: #368397;
  background: -moz-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -o-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%) #368397;
  background: -ms-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  color:white;
}
.miniCalendar2 tbody td.selected:hover {
  background-color: #3F99AF !important;
  background: linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397 !important;
  background: -moz-linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397 !important;
  background: -webkit-linear-gradient(top, #368397 0%,#3F99AF 100%) !important;
  background: -o-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397 !important;
  background: -ms-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397 !important;
  text-shadow: -1px 0 0 #777 !important;
  color:white;
}

.miniCal {
  width: 14.8em;
  margin: 0;
  margin-bottom: 5px;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 4px #CCC; 
  border-radius: 5px;
  overflow: hidden;
}

.miniCal h1 {
  font-weight: bold;
  color: #646567;
  background-color: #FFF;
  background-image: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.08) 100%);
  font-size:100%;
  text-align: center;
  margin:0;
  padding: 2px 4px 0 4px;
  border-top: 1px solid #fff;
}

#backToCalendar {
  padding-top: 4px;
  padding-left: 10px;
  height: 30px;
}

.rights {
  table-layout:fixed;
}

.rights ul {
  margin: 0;
  padding-left:5px;
  list-style: none;
}

.rights a {
  font-weight:bold;
}
