/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : agenda.css (standard)                                        //
//     - Desc : CSS style file (standard theme) for Calendar module          //
// 2003-09-01 Aliacom - Mehdi Rande                                          //
///////////////////////////////////////////////////////////////////////////////
// $Id$
/////////////////////////////////////////////////////////////////////////////*/



/* ------------------------------------------------------------------------- */
/* Calendar common styles */
/* ------------------------------------------------------------------------- */

.calendar {
  width: 100%;
  margin-left: auto;
  margin-right:	auto;
  background-color: #eee;
  border: 1px solid #aaa; 
  border-collapse: collapse;	
  border-spacing: 0;
  empty-cells: show;
}

.calendar tbody td {
  border-top: 1px dotted #ddd; 
  border-left: 1px solid #aaa; 
}

.calendar tbody th {
  background-color: #eee;
  border-top: 1px solid #ddd; 
}

.calendar thead td {
  text-align: center;
}

.printableCalendar td, .printableCalendar tr {
  vertical-align: top;
  height: 100%;
}

.printableCalendar tbody td {
  overflow: visible;
  margin:0;
  padding: 0;
  background-color: #fff;
}

.printableCalendar thead th  {
  background-color: #fff;
  background-image: url('../images/ico_calendar_head_border.png');
  background-repeat: repeat-x;
  background-position: bottom;
  border-left: 1px dotted #ddd; 
  border-top: 1px solid #ccc;
  padding-bottom: 9px;
  text-align: left;
}

/* ------------------------------------------------------------------------- */
/* Week view styles */
/* ------------------------------------------------------------------------- */

.week tbody td{
  height: 1.8em;
  width: 14%;
  overflow: visible;
  margin:0;
  padding: 0;
  background-color: #fff;
}

.week thead th  {
  background-color: #fff;
  background-image: url('../images/ico_calendar_head_border.png');
  background-repeat: repeat-x;
  background-position: bottom;
  border-left: 1px dotted #ddd; 
  border-top: 1px solid #ccc;
  padding-bottom: 9px;
}

.week tbody tr.hover th { 
  border-color: #FF0000;
}


/* ------------------------------------------------------------------------- */
/* Month view styles */
/* ------------------------------------------------------------------------- */

.month tbody td{
  vertical-align: top;
  height: 10.5em;
  width: 14%;
  overflow: visible;
  margin:0;
  padding-top: 10px;
  background-color: #fff;
}

.month tbody td h2{
  position:relative;
  height:10px;
  line-height: 10px;
  top:-10px;
  margin:0;
  padding:0;
  font-size: 9px;
  background-color: #ccc;
}

.month tbody td h3{
  height:10px;
  line-height: 10px;
  margin:0;
  margin-top: -10px;
  padding:0;
  font-size: 9px;
  background-color: #ccc;
}


.month tbody td.highlight{
  background-color: #fddaa4;
}

.month tbody td.downlight{
  background-color: #eff0f2;
}
/* ------------------------------------------------------------------------- */
/* Month view styles */
/* ------------------------------------------------------------------------- */

.day tbody td{
  height: 1.8em;
  width: 90%;
  overflow: visible;
  margin:0;
  padding: 0;
  background-color: #fff;
}

.day thead th, .printableDay thead th {
  background-color: #fff;
  background-image: url('../images/ico_calendar_head_border.png');
  background-repeat: repeat-x;
  background-position: bottom;
  border-left: 1px dotted #ddd; 
  border-top: 1px solid #ccc;
  padding-bottom: 9px;
}

/* ------------------------------------------------------------------------- */
/* Events styles */
/* ------------------------------------------------------------------------- */

.event {
  position: absolute;
  overflow: hidden;
}

.printableCalendar .printableEvent {
  height:auto !important;
  height:100%; 
  min-height:100%; 
}

.event h1, .printableEvent h1 {
  font-size: 90%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.event h1 a, .printableEvent h1 a  {
  color: #fff;
}

.event h1 a:visited {
  color: #fff;
}

.event img {
  margin-right: 1px;
}

.event .handle {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: s-resize;
  width: 100%;
  height: 4px;
  line-height: 4px;
  background-image: url(../images/ico_handle.gif);
  background-repeat : no-repeat;
  background-position: center center;
}

.eventOwner {
  color: #fff;
  background-color: rgb(102, 140, 217);
}
.eventOwner h1, li.eventOwner, .eventOwner .handle {
  background-color: rgb(41, 82, 163);
  border-top: rgb(102, 140, 217);
  border-bottom: rgb(102, 140, 217);
}

.eventOwner0 {
  color: #fff;
  background-color: rgb(216, 102, 102);
}
.eventOwner0 h1, li.eventOwner0, .eventOwner0 .handle {
  background-color: rgb(163, 41, 41);
  border-top: rgb(216, 102, 102);
  border-bottom: rgb(216, 102, 102);
}

.eventOwner1 {
  color: #fff;
  background-color: rgb(140, 102, 217);
}
.eventOwner1 h1, li.eventOwner1, .eventOwner1 .handle {
  background-color: rgb(82, 41, 163);
  border-top: rgb(163, 41, 41);
  border-bottom: rgb(163, 41, 41);
}

.eventOwner2 {
  color: #fff;
  background-color: rgb(101, 173, 137);
}
.eventOwner2 h1, li.eventOwner2, .eventOwner2 .handle {
  background-color: rgb(40, 117, 78);
  border-top: rgb(101, 173, 137);
  border-bottom: rgb(101, 173, 137);
}

.eventOwner3 {
  color: #fff;
  background-color: rgb(191, 191, 77);
}
.eventOwner3 h1, li.eventOwner3, .eventOwner3 .handle {
  background-color: rgb(136, 136, 14);
  border-top: rgb(191, 191, 77);
  border-bottom: rgb(191, 191, 77);
}

.eventOwner4 {
  color: #fff;
  background-color: rgb(230, 128, 77);
}
.eventOwner4 h1, li.eventOwner4, .eventOwner4 .handle {
  background-color: rgb(177, 68, 14);
  border-top: rgb(230, 128, 77);
  border-bottom: rgb(230, 128, 77);
}

.eventOwner5 {
  color: #fff;
  background-color: rgb(137, 151, 165);
}
.eventOwner5 h1, li.eventOwner5, .eventOwner5 .handle {
  background-color: rgb(78, 93, 108);
  border-top: rgb(137, 151, 165);
  border-bottom: rgb(137, 151, 165);
}

.eventOwner6 {
  color: #fff;
  background-color: rgb(167, 167, 125);
}
.eventOwner6 h1, li.eventOwner6, .eventOwner6 .handle {
  background-color: rgb(110, 110, 65);
  border-top: rgb(167, 167, 125);
  border-bottom: rgb(167, 167, 125);
}

.eventOwner7 {
  color: #fff;
  background-color: rgb(230, 115, 153);
}
.eventOwner7 h1, li.eventOwner7, .eventOwner7 .handle {
  background-color: rgb(177, 54, 95);
  border-top: rgb(163, 41, 41);
  border-bottom: rgb(163, 41, 41);
}

.eventOwner8 {
  color: #fff;
  background-color: rgb(102, 140, 179);
}
.eventOwner8 h1, li.eventOwner8, .eventOwner8 .handle {
  background-color: rgb(41, 82, 122);
  border-top: rgb(102, 140, 179);
  border-bottom: rgb(102, 140, 179);
}

.eventOwner9 {
  color: #fff;
  background-color: rgb(76, 176, 82);
}
.eventOwner9 h1, li.eventOwner9, .eventOwner9 .handle {
  background-color: rgb(13, 120, 19);
  border-top: rgb(76, 176, 82);
  border-bottom: rgb(76, 176, 82);
}

.eventOwner10 {
  color: #fff;
  background-color: rgb(224, 194, 64);
}
.eventOwner10 h1, li.eventOwner10, .eventOwner10 .handle {
  background-color: rgb(171, 139, 0);
  border-top: rgb(224, 194, 64);
  border-bottom: rgb(224, 194, 64);
}

.eventOwner11 {
  color: #fff;
  background-color: rgb(190, 148, 148);
}
.eventOwner11 h1, li.eventOwner11, .eventOwner11 .handle {
  background-color: rgb(134, 90, 90);
  border-top: rgb(190, 148, 148);
  border-bottom: rgb(190, 148, 148);
}

.eventOwner12 {
  color: #fff;
  background-color: rgb(148, 162, 190);
}
.eventOwner12 h1, li.eventOwner12, .eventOwner12 .handle {
  background-color: rgb(90, 105, 134);
  border-top: rgb(148, 162, 190);
  border-bottom: rgb(148, 162, 190);
}

.eventOwner13 {
  color: #fff;
  background-color: rgb(196, 168, 131);
}
.eventOwner13 h1, li.eventOwner13, .eventOwner13 .handle {
  background-color: rgb(141, 111, 71);
  border-top: rgb(196, 168, 131);
  border-bottom: rgb(196, 168, 131);
}

.eventOwner14 {
  color: #fff;
  background-color: rgb(179, 115, 179);
}
.eventOwner14 h1, li.eventOwner14, .eventOwner14 .handle {
  background-color: rgb(122, 54, 122);
  border-top: rgb(163, 41, 41);
  border-bottom: rgb(163, 41, 41);
}

.eventOwner15 {
  color: #fff;
  background-color: rgb(89, 191, 179);
}
.eventOwner15 h1, li.eventOwner15, .eventOwner15 .handle {
  background-color: rgb(27, 136, 122);
  border-top: rgb(89, 191, 179);
  border-bottom: rgb(89, 191, 179);
}

.eventOwner16 {
  color: #fff;
  background-color: rgb(140, 191, 64);
}
.eventOwner16 h1, li.eventOwner16, .eventOwner16 .handle {
  background-color: rgb(82, 136, 0);
  border-top: rgb(140, 191, 64);
  border-bottom: rgb(140, 191, 64);
}

.eventOwner17 {
  color: #fff;
  background-color: rgb(242, 166, 64);
}
.eventOwner17 h1, li.eventOwner17, .eventOwner17 .handle {
  background-color: rgb(190, 109, 0);
  border-top: rgb(242, 166, 64);
  border-bottom: rgb(242, 166, 64);
}

.eventOwner18 {
  color: #fff;
  background-color: rgb(169, 146, 169);
}
.eventOwner18 h1, li.eventOwner18, .eventOwner18 .handle {
  background-color: rgb(112, 87, 112);
  border-top: rgb(169, 146, 169);
  border-bottom: rgb(169, 146, 169);
}

.eventOwner19 {
  color: #fff;
  background-color: rgb(133, 170, 165);
}
.eventOwner19 h1, li.eventOwner19, .eventOwner19 .handle {
  background-color: rgb(74, 113, 108);
  border-top: rgb(133, 170, 165);
  border-bottom: rgb(133, 170, 165);
}

/* ------------------------------------------------------------------------- */
/* Calendar Quick Form */
/* ------------------------------------------------------------------------- */

#calendarQuickForm form  {
  text-align: left;
  margin-bottom: 0;
}

#calendarQuickForm h2 {
  font-weight: bold;
  font-size: 100%;  
  margin: 0;
}

#calendarQuickForm h4 {
  font-weight: bold;
  font-size: 100%; 
  margin: 3px;
}

#calendarQuickForm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#calendarQuickForm img {
  margin-top: -2px;
}

#calendarQuickForm fieldset {
  border: 0;
  text-align: center;
}

#calendarQuickForm fieldset input{
  width: 18em;
}
#calendarQuickForm fieldset input.button{
  width: 6em;
}


#calendarQuickForm .buttons input{
  width: auto;
  margin: 0 0.5em;
}

#calendarQuickFormData {
  margin:0;
  padding: 0 0 5px 0;
  height: 6em;
  padding-bottom: 10px;
  width: auto;
}

#calendarQuickFormData div {
  background-color: #fff;
  margin: 0 5px 5px 5px;
  padding: 0px 3px;
  border-left: 1px solid #358399;
  border-right: 1px solid #358399;
  border-bottom: 1px solid #358399;
}

/* ------------------------------------------------------------------------- */
/* Free/Busy view styles */
/* ------------------------------------------------------------------------- */

li.freeBusy {
  background-color: #97bdec; 
}

.freeBusy tbody td {
  background-color: #97bdec; 
  border-top: 1px dashed #6a90c3;
  border-right: 1px dashed #6a90c3;      

}

.freeBusy tbody td.hover 	{ 
  background-color: #ffde01; 
  border-top: 1px dashed #6a90c3;
  border-right: 1px dashed #6a90c3;    
}

.freeBusy tbody td.busy, .busy   { 
  background-color: #b3b3b3;
  border-top: 1px dashed #6a90c3;
  border-right: 1px dashed #6a90c3;    
}

.freeBusy tbody td.free, .free { 
  background-color: #cee1ed;  
  border-top: 1px dashed #a0b3c4;
  border-right: 1px dashed #a0b3c4;     
}

.infoPopup {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 20em;
}

.infoPopup h1{
  margin: 0;
  background-color: #d1d2d4;
  font-weight: bold;
  font-size: 100%;
  background-image: url('../images/popup_title_border.png');
  background-repeat: repeat-x;
  background-position: 0 0.5em; 
}

.infoPopup h2{
  background-color: #ebebeb;
  font-weight: bold;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  font-size: 100%;  
  margin: 0;
}

.infoPopup ul{
  margin: 0;
  padding:0;
  list-style: none;
}

.infoPopup li{
  padding-left: 1.5em;
}

/* Planning list view */
.eventList td {
  vertical-align: top;
}

.eventDetail {
  margin-left: 4em;
  margin-bottom: 1em;
  padding-left: 1em;
  border-left: 4px solid #B3B3B3;
}

.eventDetail table {
  border-spacing:0;
}

.eventDetail tbody th {
  border-bottom: 1px solid #B3B3B3;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: transparent;
}

.eventDetail tbody td {
  border-bottom: 1px solid #B3B3B3;
  border-right: none;
  border-left: none;
  text-align: left;
}

table.planning td {
  vertical-align: top;
  padding: 0;
  font-size: 120%;
}

table.planning tbody th {
  text-align: left;
}

table.planning ul {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  list-style: disc;
}

table.planning li {
  padding: 0;
  margin: 0;
}

table.planningRessource a {
  color:#FFFFFF;
}

table.planningRessource td {
  vertical-align: top;
  padding: 0;
  font-size: 90%;
}

table.planningRessource ul {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  list-style: disc;
}

table.planningRessource li {
  padding: 0;
  margin: 0;
}

table.planningRessource thead div {
  clip: rect(auto,auto,auto,auto);
  overflow: hidden;
}

h1.hoursTitle{
  margin:0;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 90%;
  font-weight: bold;
  padding: 2px;
  color:white;
  width:40%;
}


/* OBM 2.2 FreeBusy */

.freeBusyContent {
  padding: 0px 0px 20px 0px;
}

.freeBusyForm {
  margin-left: 16em;
  padding:0;
}

#calendarFreeBusyScroll {
  margin-left: 1em;
}

.freeBusyCalendar {
  margin-right: 2em;
  position: relative;
}

#calendarFreeBusyScroll {
  overflow-x:scroll;
  overflow-y:hidden;
  margin:0 1em 0 1em; 
  background: #FFF;
  padding: 0;
  position: relative;
  width: 100%;
}

#scrollLeft {
  position: absolute;
  text-align: left;
  width:1em;
  cursor: pointer;
  background:	#35839A;
  color:#FFF;
  z-index:100000;
}

#scrollRight {
  position: absolute;
  text-align: right;
  width:1em;
  right: 1em;
  cursor: pointer;
  background:	#35839A;
  color:#FFF;
  z-index:100000;
}

.freeBusyCalendar table {
  border-spacing:0;
  border-collapse:collapse;
  background:#FFF;
}

.freeBusyCalendar tr {
  height: 1.5em;
}

.freeBusyCalendarColDay {
  border-right: 1px solid black;
}

.freeBusyCalendarDay {
  text-align:left;
  font-weight: bold;
  padding-left: 1em;
}

.freeBusyCalendarHour {
  padding-left: 1px;
}

.freeBusyCalendarHourDisplayed {
  border-left: 1px solid #666;
}

.freeBusyEntities {
  width: 15em;
  position: absolute;
}

.freeBusyEntities table {
  border-spacing:0;
  border-collapse:collapse;
  width: 15em;
}

.freeBusyEntities tr {
  height: 1.5em;
}

.freeBusyEntities .elementRow {
  height: 1.4em;
  border-bottom: 0.1em dotted #666;
}

.freeBusyEntities .allAttendees{
  text-align: center;
  font-weight: bold;
}

.freeBusyEntities input {
  font-size: 90%;
}

.timeSlot {
  border: 1px dotted #666;
  margin: 0;
  padding: 0;
}

.haveEvent {
  height: 0.5em;
  background:#990000;

}

.haveEventAll {
  height: 0.5em;
  background:#000099;
}

.meeting {
  background: #80A9B7;
  cursor: move;
}

.meetingBusy {
  background: #F00;
} 

.meetingResize {
  cursor: col-resize;
  background: #000; /*#35839A;*/
  width: 2px;
}

.freeBusyButtons {
  margin-top: 1em;
  margin-left:16em;
}

input[type="submit"][disabled] {
  background:#666;
  color: #CCC;
}
