/* Head styling */
#searchForm {
  text-align: right;
  margin: 5px 30px 5px 0;
}

/*Tables styling*/

#contactPanel {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
}

#contactPanel table {
  width: 100%;
  border-collapse : collapse;
  empty-cells: show;
}

#contactPanel td {
  vertical-align: top;
}

.contactPanelHeader thead td, .contactPanelHeader thead tr {
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  font-weight: bold;
  text-align: middle;
  vertical-align: middle;
  color: #111;
  font-size: 12px;
  line-height: 12px;
}

.contactPanelHeader input{
  border-radius: 8px;
}


.contactPanelHeader thead td.toolbar, .contactPanelHeader thead th.toolbar {
  text-align: left;
  height: 25px;
  overflow: visible;
}

#addressBookContainer tbody td a {
  color: #555;
}

#addressBookContainer tbody td a:hover, #dataGrid tbody tr.even:hover,  #dataGrid tbody tr.odd:hover {
  cursor: pointer;
  color: #000;
}

#addressBookContainer tbody td .dropDownMenu ul a:hover {
  color: #368397;
  background-color: transparent;
}

#addressBookContainer td.current, #dataGrid tr.current {
  background-color: #368397;
  background: -moz-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -o-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%) #368397;
  background: -ms-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  color: #fff !important;
}

#addressBookContainer td.current a, #dataGrid tr.current a{
  color: #fff !important;
}

#addressBookContainer tbody td .dropDownMenu ul a {
  color: #555 !important;
}

#addressBookContainer td div img {
  padding: 0 2px 2px 0;
}

#addressBookContainer form input {
  width: 11em;
}
/* Address Book column styling */

#addressBookGrid {
  border-right: 2px solid #eee;
  width: 15em;
}

#addressBookGrid input.consult {
  background-color: transparent;
  color: black;
  border:none;
}

#addressBookGrid input.consult:hover {
  cursor: pointer;
}

#addressbookForm {
  position:absolute;
  width: 400px;
}

#addressbookForm fieldset {
  border : none;
  text-align: center;
}

#addressBookContainer tbody tr{
  height: 3em;
}

#addressBookContainer tbody td{
  border-left: 0;
  height: 3em;
  border-top: 1px solid #e0e2e4;
  border-bottom: 1px solid #d4d8db;
  color: black;
  font-weight: bold;
  vertical-align: middle;
}

#addressBookContainer tr.filler, #dataContainer tr.filler {
  visibility: hidden;
  height: auto;
}

#addressBookContainer form {
  position: relative;
}

.addressBookMenu.dropDownMenu {
  display: inline;
  float: right;
  position: relative;
}

#addAddressBook {
  height:1.8em;
  width:45px;
  background-image: url('../images/addAddressbook.png');
  background-repeat: no-repeat;
  background-position: center;    
  border: 1px solid #CCC;  
}


#addContact {
  height:1.8em;
  width:45px;
  background-image: url('../images/addContact.png');
  background-repeat: no-repeat;
  background-position: center; 
}

#addContact input:hover {
  border:3px solid #CCC:
}

.error input , input.error {
  background-color: #ff9f9f;
  color:#636466;
}

/* Data rows styling */

#dataGrid {
  border-right: 1px solid #CCC;
}

#dataGrid.shrinked {
  width: 20em;
}

#dataGrid.expanded #dataContainer {
  width: 100%;
}

#dataGrid.shrinked td {
  display: none;
}

#dataGrid th {
  width: 200px;
}

#dataGrid .contactPanelHeader{
  table-layout: fixed;
}

.contactPanelHeader thead tr th a img{
  height: 22px;
}

#dataContainer tr.odd {
  line-height: 2.5em;
  height: 2.5em;
  background-color: #fafafa;
}

#dataContainer tr.even {
  line-height: 2.5em;
  height: 2.5em;
}

#dataGrid tr.current {
  background-color: #368397;
  background: -moz-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -o-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%) #368397;
  background: -ms-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  color: #fff !important;
}

#dataContainer td, #dataContainer th{
  border-right: 1px solid #DDD;
  text-align: left;
  padding-left: 5px;
}

/* Contact card styling */

#informationContainer {
  padding-top: 15px;
  position: relative;
}

#informationGrid img.photo {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  margin: 0 10px 2px 20px ;
  float: left;
  border: 3px solid #ddd;
  height: 96px;
  width: 96px;
}

#informationGrid .details {
  border: 2px solid #CCC;
  min-width : 325px;
  width:90%;
  margin: 12px 0 0 20px;
  background-color: #fafafa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  float: left;
}

#informationGrid .details dt, #informationGrid legend {
  font-weight: bold;
  margin-bottom: 0.5em;
}

#informationGrid .details dt {
  float:left;
  clear: left;
  margin-right: 1em;
  color: #888;
}

#informationGrid legend {
  margin:auto auto auto 40px;
  color: #444;
}

#informationGrid .details dd {
  margin-bottom: 0.5em;
  padding-left: 2em;
  font-weight:normal;
  text-align: left;
}

#informationGrid dl.details {
  margin: 12px 0 0 15px;
  padding: 3px 0 5px 10px;
}

#informationGrid .head {
  margin-top: 30px;
}

#informationGrid .head h1, #informationGrid .head h3 {
  text-align: left;
  display: inline;
}

#informationGrid .toolbar{
  padding: 3px 0 0 3px;
  margin: 0;
}

#informationGrid .toolbar li{
  display: inline;
}

#informationGrid .toolbar ul{
  display: inline;
}

/* Form */

#contactToolbar {
  width: 390px;
  padding-left: 10px;
}

.coordinate th{
  width: 12em;
}


.addresses th{
  width: 11em;
}

.addresses textarea, .addresses select {
  width: 100%;
}

.phones th {
  width: 17em;
}


#informationGrid fieldset.details {
  margin: 3px 0 0 15px;
  padding: 1px 0 1px 10px;
}


#informationGrid fieldset.head {
  border: 2px solid #ccc;
  background-color: #fafafa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  margin: 0 2px;
  display:inline;
  padding: 5px 0 0 5px;
  clear: left;
  height: 100px;
  min-width: 32em;
}

#informationGrid .head label {
  color: #888;
  font-weight: bold;
  font-size: 100%;
  margin-right: 1em;
  text-align: left;
  margin-left: 5px;
  min-width: 6em;
  display: inline-block;
}

#informationGrid fieldset.head input {
  color:#636466;
  font-size:100%;
  vertical-align:middle;  
  width: 10em;
}

#informationGrid select {
  width: 10em;
}

input, textarea {
  border: 1px solid #CCC;
  background-color: #fafafa;
}

select {
  width: 15em;
}

#informationGrid dl, #informationGrid ul {
  line-height: 1.3em;
  list-style: none;
}

#informationGrid span.formField {
  float: left;
  clear: both;
  padding-top: 2px;
}

#informationGrid .details label {
  color: #888;
  font-weight: bold;
  font-size: 100%;
  margin-right: 1em;
  text-align: left;
  min-width: 11em;
  display: inline-block;
}

#informationGrid .coordinate {
  table-layout: auto;
  width: auto;
  float: left;
  clear: left;
}

#informationGrid .coordinate table {
  float: left;
  clear: left;
  margin: 0;
  padding: 0;
  border: none;
}

#informationGrid .addresses {
}

#informationGrid fieldset.error {
  border-color: #c62a2a;
}

#informationGrid div.error {
  border-color: #c62a2a;
}

#informationGrid .error legend {
  color: #c62a2a; 
}

.coordinateMenu li.submenu-down{
  left: 40em;
}

/*Overflow in grid*/

.contactPanelContainer {
  overflow-y: auto;
  overflow-x: hidden;
}

.contactPanelContainer tfoot th {
  text-align: left;
}

#dataContainer {
  overflow-y: auto;
}

table.contactPanelHeader th, .contactPanelContainer table td {
  overflow-x: hidden;
}


.contactPanelContainer table {
  table-layout: fixed;
}

.contactPanelHeader td.filler {
  width: 15px;
}  

.contactPanelHeader thead tr td {
  text-align: right;
  vertical-align: middle !important;
  padding-right: 10px;
}

.contactPanelContainer table td, .contactPanelContainer table th {
  overflow-x : hidden;
}

#Address .multipleFieldButtons {
  margin-top: 50px;
}

#websiteLayout dd {
  overflow:hidden;
}

#informationGrid select.addressbookSelector {
  margin-left: 2px;
  margin-bottom: 1px;
  width: 20em;
}


#informationGrid .phones th select{
  width: 15em;
}


input.dropDownButton {
  color:#FFF;
  text-shadow: 0 -1px 0px #777;
  margin-right: 2px;
  padding-right: 16px;
  background-image: url('../images/arrow_single_down.gif');
  background-repeat: no-repeat;
  background-position: right 65%;
  border-width: 1px;
  border-color: #47ADC6 #368397 #296472;
  border-style: solid;
  background-color: #368397;
  background: -moz-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -o-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%) #368397;
  background: -ms-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
}

input.deleteButton {
  color:#FFF;
  text-shadow: 0 -1px 0px #777;
  margin-right: 2px;
  padding-right: 5px;
  border: 1px solid #CCC;
  border-width: 1px;
  border-color: #47ADC6 #368397 #296472;
  border-style: solid;
  background-color: #368397;
  background: -moz-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -o-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%) #368397;
  background: -ms-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
}

input.updateButton {
  color:#FFF;
  text-shadow: 0 -1px 0px #777;
  margin-right: 2px;
  padding-right: 5px;
  border: 1px solid #CCC;
  border-width: 1px;
  border-color: #47ADC6 #368397 #296472;
  border-style: solid;
  background-color: #368397;
  background: -moz-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -o-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
  background: -webkit-linear-gradient(top, #3F99AF 0%,#368397 100%) #368397;
  background: -ms-linear-gradient(center top , #3F99AF 0%, #368397 100%) #368397;
}

input.dropDownButton:hover {
  background-color: #3F99AF;
  background: linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397;
  background: -moz-linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397;
  background: -webkit-linear-gradient(top, #368397 0%,#3F99AF 100%);
  background: -o-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397;
  background: -ms-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397;
  cursor: pointer;
}

input.deleteButton:hover {
  background-color: #3F99AF;
  background: linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397;
  background: -moz-linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397;
  background: -webkit-linear-gradient(top, #368397 0%,#3F99AF 100%);
  background: -o-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397;
  background: -ms-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397;
  cursor: pointer;
}

input.updateButton:hover {
  background-color: #3F99AF;
  background: linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397;
  background: -moz-linear-gradient(center top , #368397 0%, #3F99AF 100%)#368397;
  background: -webkit-linear-gradient(top, #368397 0%,#3F99AF 100%);
  background: -o-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397;
  background: -ms-linear-gradient(center top , #368397 0%, #3F99AF 100%) #368397;
  cursor: pointer;
}
