/* Head styling */
#searchForm {
  text-align: right;
  margin: 5px 30px 5px 0;
}

/*Tables styling*/

#contactPanel {
  width: 100%;
  border: 2px solid #d2d6da;
  border-spacing: 0;
}

#contactPanel table {
  width: 100%;
  border-collapse : collapse;
  empty-cells: show;
}

#contactPanel td {
  vertical-align: top;
}

.contactPanelHeader thead td, .contactPanelHeader thead th {
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  background-color: #b3b2b2;
  font-weight: bold;
  text-align: center;
  background-image: url('../images/background_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;
  border-right: 1px solid #aeaeae;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #a0a0a0; 
  vertical-align: middle;
  color: #000;
  white-space: nowrap;
}

.contactPanelHeader thead td.toolbar, .contactPanelHeader thead th.toolbar {
  text-align: left;
  background: #c5d2d8;
  height: 25px;
  padding-left: 10px;
  overflow: visible;
}

#addressBookContainer tbody td a {
  color: black;
}

#addressBookContainer tbody td a:hover, #dataGrid tbody tr.even:hover,  #dataGrid tbody tr.odd:hover {
  background-color: #99a8b7;
  cursor: pointer;
  color: black;
}

#addressBookContainer tbody td .dropDownMenu ul a:hover {
  color: #368397;
  background-color: transparent;
}

#addressBookContainer td.current, #dataGrid tr.current {
  background-color: #99a8b7;
}


#addressBookContainer td div img {
  padding: 0 2px 2px 0;
}

#addressBookContainer form input {
  width: 11em;
}
/* Address Book column styling */

#addressBookGrid {
  border-right: 2px solid #d2d6da;
  width: 15em;
  background-color: #dee1e3;
}

#addressBookGrid input.consult {
  background-color: transparent;
  color: black;
  border:none;
}

#addressBookGrid input.consult:hover {
  cursor: pointer;
}

#addressbookForm {
  position:absolute;
  width: 400px;
}

#addressbookForm fieldset {
  border : none;
  text-align: center;
}

#addressBookContainer tbody tr{
  height: 3em;
}

#addressBookContainer tbody td{
  border-left: 0;
  height: 3em;
  border-top: 1px solid #e0e2e4;
  border-bottom: 1px solid #d4d8db;
  color: black;
  font-weight: bold;
  vertical-align: middle;
}

#addressBookContainer tr.filler, #dataContainer tr.filler {
  visibility: hidden;
  height: auto;
}

.addressBookMenu {
  display: inline;
  margin-left: 13.5em;
}

#addAddressBook {
  height:1.8em;
  width:45px;
  background-image: url('../images/addAddressbook.png');
  background-repeat: no-repeat;
  background-position: center;    
  border: 1px solid black;  
}


#addContact {
  height:1.8em;
  width:45px;
  background-image: url('../images/addContact.png');
  background-repeat: no-repeat;
  background-position: center;    
  border: 1px solid black;
}


.error input , input.error {
  background-color: #ff9f9f;
  color:#636466;
}

/* Data rows styling */

#dataGrid {
  border-right: 2px solid #d2d6da;
}

#dataGrid.shrinked {
  width: 20em;
}

#dataGrid.expanded #dataContainer {
  width: auto;
}

#dataGrid.shrinked td {
  display: none;
}

#dataGrid th {
  width: 20em;
}

#dataGrid .contactPanelHeader{
  table-layout: fixed;
}

#dataContainer tr.odd {
  line-height: 2em;
  height: 2em;
  background-color: #fafafa;
}

#dataContainer tr.even {
  line-height: 2em;
  height: 2em;
}

#dataGrid tr.current {
  background-color: #99a8b7;
}

#dataContainer td, #dataContainer th{
  border-left: 1px solid #e0e2e4;
}

/* Contact card styling */

#informationContainer {
  position: relative;
}

#informationGrid img.photo {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  margin: 0 10px 2px 20px ;
  float: left;
  border: 3px solid #ddd;
  height: 96px;
  width: 96px;
}

#informationGrid .details {
  border: 2px solid #ddd;
  min-width : 325px;
  width:90%;
  margin: 12px 0 0 20px;
  background-color: #fafafa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  float: left;
}

#informationGrid .details dt, #informationGrid legend {
  font-weight: bold;
  margin-bottom: 0.5em;
}

#informationGrid .details dt {
  float:left;
  clear: left;
  margin-right: 1em;
  color: #888;
}

#informationGrid legend {
  margin:auto auto auto 40px;
  color: #444;
}

#informationGrid .details dd {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

#informationGrid dl.details {
  margin: 12px 0 0 15px;
  padding: 3px 0 5px 10px;
}

#informationGrid .head {
  margin-top: 30px;
}

#informationGrid .head h1, #informationGrid .head h3 {
  text-align: left;
  display: inline;
}

#informationGrid .toolbar{
  padding: 3px 0 0 3px;
  margin: 0;
}

#informationGrid .toolbar li{
  display: inline;
}

#informationGrid .toolbar ul{
  display: inline;
}

/* Form */

#contactToolbar {
  width: 400px;
}

.coordinate th{
  width: 12em;
}


.addresses th{
  width: 11em;
}

.addresses textarea, .addresses select {
  width: 100%;
}


#informationGrid fieldset.details {
  margin: 3px 0 0 15px;
  padding: 1px 0 1px 10px;
}


#informationGrid fieldset.head {
  border: 2px solid #ddd;
  background-color: #fafafa;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  margin: 0 2px;
  display:inline;
  padding: 5px 0 0 5px;
  clear: left;
  height: 100px;
  min-width: 32em;
}

#informationGrid .head label {
  color: #888;
  font-weight: bold;
  font-size: 100%;
  margin-right: 1em;
  text-align: left;
  margin-left: 5px;
  min-width: 6em;
  display: inline-block;
}

#informationGrid fieldset.head input {
  color:#636466;
  font-size:100%;
  vertical-align:middle;  
  width: 10em;
}

#informationGrid select {
  width: 10em;
}

input, textarea {
  border: 1px solid #ddd;
  background-color: #fafafa;
}

select {
  width: 15em;
}

#informationGrid dl, #informationGrid ul {
  line-height: 1.3em;
  list-style: none;
}

#informationGrid span.formField {
  float: left;
  clear: both;
  padding-top: 2px;
}

#informationGrid .details label {
  color: #888;
  font-weight: bold;
  font-size: 100%;
  margin-right: 1em;
  text-align: left;
  min-width: 11em;
  display: inline-block;
}

#informationGrid .coordinate {
  table-layout: auto;
  width: auto;
  float: left;
  clear: left;
}

#informationGrid .coordinate table {
  float: left;
  clear: left;
  margin: 0;
  padding: 0;
  border: none;
}

#informationGrid .addresses {
}

#informationGrid fieldset.error {
  border-color: #c62a2a;
}

#informationGrid div.error {
  border-color: #c62a2a;
}

#informationGrid .error legend {
  color: #c62a2a; 
}

.coordinateMenu li.submenu-down{
  left: 40em;
}

/*Overflow in grid*/

.contactPanelContainer {
  overflow-y: auto;
  overflow-x: hidden;
}

.contactPanelContainer tfoot th {
  text-align: left;
}

#dataContainer {
  overflow-y: scroll;
}

table.contactPanelHeader th, .contactPanelContainer table td {
  overflow-x: hidden;
}


.contactPanelContainer table {
  table-layout: fixed;
}

.contactPanelHeader td.filler {
  width: 15px
}

.contactPanelContainer table td, .contactPanelContainer table th {
  overflow-x : hidden;
}

#Address .multipleFieldButtons {
  margin-top: 50px;
}
