/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : host.css                                                     //
//     - Desc : CSS style file                                               //
// 2009-05-20 Sylvain Garcia                                                 //
///////////////////////////////////////////////////////////////////////////////
// $Id$
/////////////////////////////////////////////////////////////////////////////*/

#menuDay {
  margin-left: 200px;
}

#stat_menu {
  float: left;
  width: 200px;
}

#stat_menu ul li {
  list-style: none;
}

#stat_img {
  float: left;
  margin-top: 12px;
}

