.organizationalChartNode {
  width: 20em;
  padding-top: 2px;
  float: left;
}

.organizationalChartWrap {
  background-image: url('../images/hatch.gif');
  width: 18em;
  border: 1px solid #ABABAB;
  background-color: #D2D2D2;
  margin-bottom: 10px;
  float: left;
  padding: 6px 6px 0px 6px;
}

.organizationalChartWrapOutline {
  width: 30em;
  border: 1px solid #ABABAB;
  background-color: #D2D2D2;
  float: left;
  text-align: left;
  padding-left: 1em;
}

.organizationalChartWrapOutline ul {
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 2px;
}

.newButtons {
  clear: left;
  text-align: center;
}

.elementRow{
  background-color: transparent;
  font-weight: bold;
}

.color1 {
  border: 1px solid #F5B043;
  background-color: #F9CF8B;
}

.color2 {
  border: 1px solid #EE7690;
  background-color: #F7BBC8;
}

.color3 {
  border: 1px solid #98BF5E;
  background-color: #BBD595;
}

.color4 {
  border: 1px solid #E7AB9E;
  background-color: #F6DFDA;
}

.color5 {
  border: 1px solid #BBACC4;
  background-color: #DFD9E3;
}

.color6 {
  border: 1px solid #94A6E1;
  background-color: #CFD8F2;
}

/* User popup */
.userdetail {
  width: 350px;
  background-color: #FFF;
  border: 1px solid #646567; 
}

.blockItem {
  margin-left: 1em;
  text-align: left;
}

.userphoto {
  float: left;
  background-color: #FFF;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.userdetailName {
  text-align: left;
  font-weight: bold;
  text-align: center;
  left: 100px;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #929292;
  background-color: #B3B2B2;
  background-image: url('../images/background_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;     
}

/* Consult */
.container {
  float: left;
  text-align: center;
  width: 100%;
  overflow-x: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
}

.nodeWrap {
  float: left;
  margin: auto !important;
  position: relative;

}

.node {
  width: 140px;
  margin: auto;
  border: 1px solid #646567;
  background-color: #FFF;
}

.node h1 {
  text-align: center;
  font-size: 100%;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #929292; 
  background-color: #B3B2B2;
  background-image: url('../images/background_tableHead.gif');
  background-repeat: repeat-x;
  background-position: top;
}

.node ul {
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 2px;
}

.nodeLnk {
  height: 10px;
  width: 1px;
  background-color: #646567;
  margin: auto !important;
  margin: 0;
}

.nodeStart {
  background-color: #EFF0F2;
  height: 1px;
  font-size: 1px;
  position: relative;
  margin-bottom: -1px;
  top: -1px;
  margin-right: 50%;

}

.nodeEnd {
  background-color: #EFF0F2;
  height: 1px;
  font-size: 1px;
  position: relative;
  margin-bottom: -1px;
  top: -1px;
  margin-left: 50%;
}


/* small */
.nodeSmall {
  width: 70px;
  margin: auto;
  border: 1px solid #646567;
  background-color: #FFF;
  font-size: 80%;
}

.nodeSmall h1 {
  text-align: center;
  background-color: #CCC;
}

.nodeSmall ul {
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 2px;
}


/* printable */
.containerPrintable {
  float: left;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
}
.nodeStartPrintable {
  background-color: #FFF;
  height: 1px;
  font-size: 1px;
  position: relative;
  margin-bottom: -1px;
  top: -1px;
  margin-right: 50%;

}

.nodeEndPrintable {
  background-color: #FFF;
  height: 1px;
  font-size: 1px;
  position: relative;
  margin-bottom: -1px;
  top: -1px;
  margin-left: 50%;
}

.nodePrintable {
  width: 35px;
  margin: auto;
  border: 1px solid #646567;
  background-color: #FFF;
  font-size: 60%;
}

.nodePrintable h1 {
  text-align: center;
  background-color: #CCC;
  width: 30px;
  overflow: hidden;
}

.nodePrintable ul {
  list-style-type: none;
  margin: 0;
  padding: 2px 0 0 2px;
}



