<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.obm.caldav.server.proxy" name="iproxy" schema="schema/org.obm.caldav.server.proxy.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/"
            class="org.obm.caldav.server.impl.WebdavServlet">
      </servlet>
   </extension>
   <extension
         id="caldavapp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.obm.caldav.server.Application">
         </run>
      </application>
   </extension>
   <extension
         id="caldavprod"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.obm.caldav.server.caldavapp"
            name="caldav server product">
         <property
               name="appName"
               value="caldav server product">
         </property>
      </product>
   </extension>
</plugin>
