build.properties
build/
client-build/
dist-client/
dist/
message-queue/data/
.project
.classpath
.settings
*target*
*eclipse-build*
client/src/main/java/META-INF/
common/src/main/java/META-INF/
configuration/src/main/java/META-INF/
dbcp/127.0.1.1.tm0.epoch
dbcp/src/main/java/META-INF/
dbcp/tm.out
dbcp/tmlog0.log
locator/src/main/java/META-INF/
message-queue/src/main/java/META-INF/
obm-locator/src/main/webapp/META-INF/
opush/imap/src/main/java/META-INF/
opush/mail/src/main/java/META-INF/
opush/mime/src/main/java/META-INF/
opush/push/src/main/webapp/META-INF/
opush/tnefconverter/src/test/java/META-INF/
opush/wbxml/src/test/java/META-INF/
services/src/main/webapp/META-INF/
utils/src/test/java/META-INF/
