Source: obm-solr
Section: net
Priority: optional
Maintainer: Thomas Sarboni <tsarboni@linagora.com>
Build-Depends-Indep: ant
Build-Depends: cdbs, debhelper (>> 5), sun-java6-jdk
Standards-Version: 3.7.8

Package: obm-solr
Architecture: all
Depends: obm-tomcat, python-psycopg2, python-mysqldb, obm-conf
Description: Solr indexing server
 Solr is an indexing web service based on lucene, configured as
 multicore for holding minig-backend index.
