#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk

DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
JAVA_HOME := /usr/lib/jvm/java-1.7.0-openjdk-$(DEB_BUILD_ARCH)/
export JAVA_HOME
ANT_HOME := /usr/share/ant

DEB_ANT_BUILD_TARGET := build 
DEB_ANT_INSTALL_TARGET := install
