#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/ant.mk

JAVA_HOME := /usr/lib/jvm/java-6-sun/
ANT_HOME := /usr/share/ant

DEB_ANT_BUILD_TARGET := build 
DEB_ANT_INSTALL_TARGET := install
