# Adresse du serveur LDAP référent (IP ou URI)
# Ex:ldap_server         nom.server.ldap
# Ex:ldap_server         ldap://nom.server.ldap
ldap_server         _LDAPSERVER_
# LDAP use TLS [none|may|encrypt]
ldap_server_tls     may
# DIT de l'annuaire LDAP - si vide, positionner 'defaultsearchbase' côté serveur
ldap_base

# DN de l'utilisateur LDAP
ldap_login        uid=obmsatellite,ou=sysusers,dc=local
# Mot de passe de l'utilisateur LDAP - requêtes anonymes par défaut
ldap_password     mG4_Zdnh

# Options communément modifiées
#
# de 0 a 4 - 0 par défaut
log_level           2
# Le fichier de log - /var/log/obm/obmSatellite.log par défaut
log_file            /var/log/obm/obmSatellite.log
# Le PID - /var/run/obm/obmSatellite.pid par défaut
pid_file            /var/run/obm/obmSatellite.pid

# IP ayant droit de se connecter
#Ex: cidr_allow          127.0.0.1/32
cidr_allow          _CIDR_ALLOW_

# Attention à la modifications de ces options
#
# 2 par défaut
max_badrequest      2
# Le service fonctionne en tant qu'utilisateur postfix par défaut
user                root
# Le service fonctionne en tant que groupe postfix par défaut
group               root

# Configuration pour le service Postfix
postmap_cmd         /usr/sbin/postmap
#
# Le type et le nom des map postfix a générer
# Pour les directives 'process_*', 1 active la génération de la map, 0 la désactive
# 1 ou 0 - 1 par defaut
process_mailbox     1
# /etc/postfix/virtual_mailbox par défaut
mailbox_map         /etc/postfix/virtual_mailbox
# 1 ou 0 - 1 par défaut
process_alias       1
# /etc/postfix/virtual_alias par défaut
alias_map           /etc/postfix/virtual_alias
# 1 ou 0 - 1 par défaut
process_transport   1
# /etc/postfix/transport par défaut
transport_map       /etc/postfix/transport
# 1 ou 0 - 1 par défaut
process_domain      1
# /etc/postfix/virtual_domains par défaut
domain_map          /etc/postfix/virtual_domains
# 1 ou 0 - 1 par défaut
process_transport_smtp  1
# /etc/postfix/transport_local par défaut
transport_smtp_map  /etc/postfix/transport_smtp

# configuration pour le service Cyrus
#
# /etc/imapd.conf par défaut
cyrus_imap_conf     /etc/imapd.conf
# /etc/init.d/cyrus par défaut
cyrus_service       /etc/init.d/cyrus2.2
# /var/spool/cyrus par défaut
cyrus_partition_root    /var/spool/cyrus
