Source: obm
Section: misc
Priority: extra
Maintainer: Sylvain Garcia <sylvain.garcia@aliasource.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: obm
Architecture: any
Pre-Depends: ${misc:Depends}
Description: OBM
    full installation of Open Business Management
	Instalation of Bd Mysql

Package: obm-core
Architecture: any
Pre-Depends: mysql-server, dbconfig-common, ucf, php5-cli, ${misc:Depends}
Description: OBM core
    core of Open Business Management
	Instalation of Bd Mysql

Package: obm-certs
Architecture: any
Pre-Depends:  openssl, ${misc:Depends}
Description: OBM Web Interface
    Web of Open Business Management
	Instalation of OBM

Package: obm-ui
Architecture: any
Pre-Depends:  obm-certs, php5, apache2, libapache2-mod-php5, php5-mysql, ${misc:Depends}
Description: OBM Web Interface
    Web of Open Business Management
	Instalation of OBM

Package: libobm-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends},
Description: module OBM perl
 module OBM perl
