Source: obm
Section: misc
Priority: extra
Maintainer: Sylvain Garcia <sylvain.garcia@aliasource.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: obm
Architecture: any
Pre-Depends: ${misc:Depends}
Description: OBM
    full installation of Open Business Management
	Instalation of Bd Mysql

Package: obm-core
Architecture: any
Pre-Depends: dbconfig-common, ucf, ${misc:Depends}
Description: OBM core
    core of Open Business Management
	Instalation of Bd Mysql

Package: obm-ui
Architecture: any
Pre-Depends: dbconfig-common, ucf, ${misc:Depends}
Description: OBM Web Interface
    Web of Open Business Management
	Instalation of OBM

Package: libobm-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends},
Description: module OBM perl
 module OBM perl
