Source: obm
Section: misc
Priority: extra
Maintainer: Sylvain Garcia <sylvain.garcia@aliasource.fr>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: obm
Architecture: any
Pre-Depends: ${misc:Depends}
Description: OBM
    full installation of Open Business Management
	Instalation of Bd Mysql, apache and VirtualHost

Package: obm-ihm
Architecture: any
Pre-Depends: dbconfig-common, ucf, ${misc:Depends}
Description: OBM ihm
    ihm of Open Business Management
	Instalation of Bd Mysql, apache and VirtualHost
