#!/bin/sh -e

set -e
#set -x

# Source debconf library.
. /usr/share/debconf/confmodule

db_input high obm-filter/httpproxyserver || true
db_go
db_get obm-filter/httpproxyserver
if [ -n "${RET}" ] ; then
	db_input high obm-filter/httpproxyport || true
fi
db_input high obm-filter/spamassassinextrachannel || true
db_go
