#!/bin/sh
#Produit toute les question lors de l'installation du paquet
#Les réponses peuvent être utilisé dans les scripts postinst
#, preinst, postrm, prerm


set -e
set -x

# Source debconf library.
. /usr/share/debconf/confmodule

db_get obm-core/mysqlinstall || true
if [ -z "$RET" ] ; then
	db_input critical obm-core/mysqlinstall
	db_go || true

fi

db_get obm-core/mysqlinstall
if [ "$RET" = "true" ]; then
	#creation de la BD et User OBM 
	if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
		. /usr/share/dbconfig-common/dpkg/config.mysql
		dbc_dbname="obm"
		dbc_dbuser="obm"
		dbc_go obm-core $@
	fi

elif [ "$RET" = "false" ]; then
	if [ -f /usr/share/dbconfig-common/dpkg/frontend.config.mysql ]; then
	   . /usr/share/dbconfig-common/dpkg/frontend.config.mysql
		dbc_dbname="obm"
		dbc_dbuser="obm"
	   dbc_go obm-core $@
	fi
fi





exit 0
