#!/bin/sh
#Produit toute les question lors de l'installation du paquet
#Les réponses peuvent être utilisé dans les scripts postinst
#, preinst, postrm, prerm


set -e
set -x

# Source debconf library.
. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
	. /usr/share/dbconfig-common/dpkg/config.mysql
	dbc_dbname="obm"
	dbc_dbuser="obm"
	dbc_go obm-core $@
fi


exit 0
