#!/bin/sh
#Produit toute les question lors de l'installation du paquet
#Les réponses peuvent être utilisé dans les scripts postinst
#, preinst, postrm, prerm


set -e
#set -x

# Source debconf library.
. /usr/share/debconf/confmodule

is_initial_configuration() { 
# Check if this is the initial configuration and not an upgrade of an 
# existing configuration 
# Usage: if is_initial_configuration "$@"; then ... fi from top level 

	# Plain installation 
	if [ "$1" = configure ] && [ -z "$2" ]; then 
	        return 0 
	fi 
	# Configuration via dpkg-reconfigure 
	if [ "$1" = reconfigure ] || [ "$DEBCONF_RECONFIGURE" ]; then 
	        return 0 
	fi 
	return 1 
}

#test si dbconfig-common est dejaconfigurer ou pas
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then

#creation de la BD et User OBM 
	if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
		. /usr/share/dbconfig-common/dpkg/config.mysql
		dbc_dbname="obm"
		dbc_dbuser="obm"
		dbc_go obm-storage $@
	fi

fi

exit 0

