#!/bin/sh
#Produit toute les question lors de l'installation du paquet
#Les réponses peuvent être utilisé dans les scripts postinst
#, preinst, postrm, prerm


set -e


# Source debconf library.
. /usr/share/debconf/confmodule

#get information about db of obm-conf
db_get obm-conf/dbtype
OBM_DBTYPE=$RET
db_get obm-conf/dbhost
OBM_HOST=$RET
db_get obm-conf/dbname
OBM_DB=$RET
db_get obm-conf/dbuser
OBM_USER=$RET
db_get obm-conf/dbpasswd
OBM_PASSWD=$RET


#create db and dbuser of OBM 
if [ -f /usr/share/dbconfig-common/dpkg/config ]; then
  #dbc_hardcoded_dbtype="mysql"
  #Bug in dbconfig-common 1.8.39 about dbc_dbpass and multidb
  #I can't use dbc_dbtypes
  if  [ ${OBM_DBTYPE} = "MYSQL" ] ; then
    dbc_hardcoded_dbtype="mysql"
  elif  [ ${OBM_DBTYPE} = "PGSQL" ] ; then
    dbc_hardcoded_dbtype="pgsql"
  fi
  dbc_authmethod_user="password"
  dbc_dbserver="${OBM_HOST}"
  dbc_dbname="${OBM_DB}"
  dbc_dbuser="${OBM_USER}"
  dbc_dbpass="${OBM_PASSWD}"
  . /usr/share/dbconfig-common/dpkg/config
  dbc_go obm-storage $@
fi

exit 0

