#!/bin/sh
#Produit toute les question lors de l'installation du paquet
#Les réponses peuvent être utilisé dans les scripts postinst
#, preinst, postrm, prerm


set -e


# Source debconf library.
. /usr/share/debconf/confmodule

is_initial_configuration() { 
# Check if this is the initial configuration and not an upgrade of an 
# existing configuration 
# Usage: if is_initial_configuration "$@"; then ... fi from top level 

	# Plain installation 
	if [ "$1" = configure ] && [ -z "$2" ]; then 
	        return 0 
	fi 
	# Configuration via dpkg-reconfigure 
	if [ "$1" = reconfigure ] || [ "$DEBCONF_RECONFIGURE" ]; then 
	        return 0 
	fi 
	return 1 
}



if [ -n "$2" ] && [ $2 = "2.1.3-0" ]; then
  db_input high obm-services/info_upgrade_2_1_3 || true
  db_go || true
fi


if [ -n "$2" ] && dpkg --compare-versions "$2" lt 2.4.0-1; then
  db_input high obm-services/info_upgrade_2_4 || true
  db_go || true
fi

#DEBHELPER#
exit 0

