#!/usr/bin/make -f
# debian/rules for obm-core package, by
# sylvain garcia <sylvain.garcia@aliasource.fr>
#

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=5

#PERL
# If set to a true value then MakeMaker's prompt function will
# # always return the default without waiting for user input.
export PERL_MM_USE_DEFAULT=1

PACKAGE=$(shell dh_listpackages)

TMPLIBPERLOBM     =$(CURDIR)/debian/libobm-perl
DIRPMOBM   =$(CURDIR)/auto/libperl-OBM

TMPLIBPERLOBMSAT     =$(CURDIR)/debian/libobmsatellite-perl
DIRPMOBMSAT   =$(CURDIR)/auto/libperl-ObmSatellite
#/PERL


configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-indep build-stamp
build-stamp: configure-stamp 
	dh_testdir
	touch build-stamp
#PERL
	# As this is a architecture independent package, we are not
	# supposed to install stuff to /usr/lib. MakeMaker creates
	# the dirs, we prevent this by setting the INSTALLVENDORARCH
	# and VENDORARCHEXP environment variables.

	#Generation de lib OBM
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBM) $(DIRPMOBM) makefile-pl)
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBM) $(DIRPMOBM) make)
	
	#Generation des lib ObmSatellite
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBMSAT) $(DIRPMOBMSAT) makefile-pl)
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBMSAT) $(DIRPMOBMSAT) make)

	touch $@
#/PERL



build-indep:
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	#RM Build perlModule
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBM) $(DIRPMOBM) make-clean; \
	rm -f MANIFEST Makefile.old Makefile)
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBMSAT) $(DIRPMOBMSAT) make-clean; \
	rm -f MANIFEST Makefile.old Makefile)
	#
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	##############
	#RULES OBM-STORAGE
	# obm-storage needs the sql skeleton here in order to create db:
	cp debian/misc/mysql.sql debian/obm-storage/usr/share/dbconfig-common/data/obm-storage/install/mysql
	#cp debian/misc/upgrade2.0-2.1.sh debian/obm-core/usr/share/dbconfig-common/scripts/obm-core/upgrade/mysql/1.0-2
	#
	################
	#RULES OBM-UI
	################

	################
	#PERL

	# Add commands to install the package into debian/$PACKAGE_NAME here
#	$(MAKE) install DESTDIR=$(TMP) PREFIX=/usr

   #Generation de lib OBM
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBM) $(DIRPMOBM) make-install)
   #Generation de lib ObmSatellite
	(cd $(CURDIR)/debian; \
	./buildperl.sh $(TMPLIBPERLOBMSAT) $(DIRPMOBMSAT) make-install)
  
 
	touch $@
 
	#/PERL

	##################
	#RULES OBM-SERVICES
	###################
	#
	cp auto/incrementalUpdate.pl debian/obm-services/usr/share/obm/www/auto/
	cp auto/mailChangeSieve.pl debian/obm-services/usr/share/obm/www/auto/
	cp auto/testObmSatellite.pl debian/obm-services/usr/share/obm/www/auto/
	cp auto/ldapChangePasswd.pl debian/obm-services/usr/share/obm/www/auto/
	cp auto/ldapChangePasswd.pod debian/obm-services/usr/share/obm/www/auto/

	###################
	#RULE OBM-SATELLITE
	###################
	#
	#generation du script d'init
	( cd $(CURDIR)/debian; \
	cat $(CURDIR)/auto/obmSatellite/debian/init-obmSatellite.sample.debian > obm-satellite.init)

	

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_installinit
	dh_installdebconf	
	dh_installdocs
	dh_installexamples
	dh_installlogrotate
	dh_installman
	dh_installinfo
	dh_installchangelogs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_perl

	#delete des .svn dans les paquet généré
	( cd $(CURDIR)/debian;  \
	IFS=$$'\n';\
	for i in `ls -d obm-*`;\
	do \
   if [ -d $$i ]; \
		then 	\
		rm -rf `find $$i -name '.svn'`; 	\
	fi\
   done)

	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
