<div style="display:none;" id="allinonemenu" class="allinonemenu">

	{{#sections}}
	<h3 class="h3_style">{{name}}</h3>
	<ul id="section-{{section_name}}-items" style="list-style-type:none;">

		{{#links}}

		<li>
			<a id="{{id}}" href="{{url}}" target="{{target}}" title="{{tooltip}}">
			{{#ico}} <img src="{{ico}}" class="ico" alt="{{tooltip}}"> {{/ico}}
			{{title}}
			</a>
		</li>

		{{/links}}

	</ul>
	{{/sections}}

</div>
