/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : agenda.css (standard)                                          //
//     - Desc : CSS style file (standard theme) for Calendar module          //
// 2003-09-01 Mehdi Rande                                           //
///////////////////////////////////////////////////////////////////////////////
// $Id
///////////////////////////////////////////////////////////////////////////////
*/

/* //////////////////AGENDA////////////////// */
/* ////// Agenda table style definition ///// */
/* ////////////////////////////////////////// */

a.agendaHead:link 	{ color: #ffff00; background-color: transparent;}
a.agendaHead:active 	{ color: #ffff00; background-color: transparent;}
a.agendaHead:visited 	{ color: #ffff00; background-color: transparent;}



div.agendaBar {
	width:			180px;
	margin-bottom:		20px;
	margin-left:		2px;
}

div.agendaHidden {
	z-index: 		20;
	visibility: 		hidden;
	top: 			0px;
	left: 			0px;
	width:			auto;

}
table.agendaHidden {
        background-color:	#000000;
	border:			1px solid black;
	width:			200px;
	border-spacing:		0;
}

.agendaMain	{
        margin-left:		auto;
	margin-right:		auto;
	width:			auto;
	border:			0;
	background-color:	transparent;
	color:			#000000;
}

.agendaDelete	{
        text-align: center;
        font-style: italic;
	font-size:  14px;
        color: #7B9EAD;
	margin: auto;
	vertical-align: middle;
}  	

table.agendaCalWeek		{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#ffffff;
	border: 		1px #a1a5a9 solid; 
	width:			554px;
	border-spacing:		0;
}

table.agendaCalDay		{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#ffffff;
	border: 		1px #a1a5a9 solid; 
	width:			520px;
}

table.agendaCalMonth		{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#ffffff;
	border: 		1px #a1a5a9 solid; 
	width:			735px;
	border-collapse:	collapse;
	border-spacing:		0;
}

table.agendaCalYear		{
        margin-left:		auto;
	margin-right:		auto;
	border: 		1px #a1a5a9 solid; 
	width:			676px;
	border-collapse:	collapse;
	border-spacing:		0;
}

table.agendaCalMeeting		{
        margin-left:		auto;
	margin-right:		auto;
	border: 		1px #a1a5a9 solid; 
	width:			540px;
	border-collapse:	collapse;
	border-spacing:		0;
}

.agendaRight			{
        margin-left:		auto;
	margin-right:		auto;
	width:			500px;
}

table.agendaCal		{
	background-color: 	#ffffff;
	border: 		1px #a1a5a9 solid; 
	width:			100%;
	border-collapse:	collapse;
	border-spacing:		0;
}

table.agendaMonth	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#a1a5a9;
	border: 		0; 
}


table.agendaYear	{
        background-color:      #cccccc;
        margin-left:		auto;
	margin-right:		auto;		
}

table.agendaEventYear {
	margin:			0;
	padding:		0;
	border:			0;	
	border-spacing:		0;	
	}
	
td.agendaMonthReg	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#ffffff;
 	text-align: 		center; 
	vertical-align: 	top;
	border: 		0; 

}

td.agendaMonthOff	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#f4f4f4;
 	text-align: 		center; 
	vertical-align: 	top;
	border: 		0; 

}

td.agendaMonthOn	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#f4e5a9;
 	text-align: 		center; 
	vertical-align: 	top;
	border: 		0; 

}


td.agendaHead		{
	text-align:		center;
	font-family:		sans-serif;
	font-size:		18px;
	color: 			#000000; 
	vertical-align:		bottom;
	white-space:		nowrap;	
	background-image: 	url(time_bg.gif); 
}


td.agendaVide		{
	font-family:		sans-serif;
	font-size:		14px;
	font-weight:		bold;
	color:			#000000;
	text-align:		center;
	background-color:	#ffffff;
        border-top: 		1px dashed #a1a4a8;
        border-right: 		1px solid #a1a4a8;
}
td.agendaNoEvent	{
	font-family:		sans-serif;
	font-size:		14px;
	font-weight:		bold;
	color:			#000000;
	text-align:		center;
	background-color:	#ffffff;
        border-top: 		1px dashed #a1a4a8;
}

td.agendaHour		{
	font-family:		sans-serif;
	font-size:		14px;
	color:			#000000;
	text-align:		center;
	vertical-align:		middle;
	background-color:	#ffffff;
        border-top: 		1px dashed #a1a4a8;
        border-right: 		2px solid #a1a4a8;
	background-image:	url(time_bg.gif);
	width:			60px;
}


td.agendaCell		{
        margin-left:		auto;
	margin-right:		auto;
	width:			auto;
	background-color: 	#eeeeee;
  	vertical-align:		top;
	text-align:		center;
}


td.agendaCell2		{
        margin-left:		auto;
	margin-right:		auto;
	width:			auto;
	background-color: 	transparent;
  	vertical-align:		top;
	text-align:		right;
}

td.agendaHead2		{
 	background-image: 	url(side_bg.gif); 
 	text-align: 		center; 
	vertical-align: 	middle;
 	font-family: 		sans-serif;
	font-size: 		12px;
	font-weight: 		800;
	}
	
td.agendaEventHead	{ 
    background-color:       	#ffffff;
    text-align:			center;	
    font-size: 			12px;
    font-family: 		sans-serif;
}

td.agendaEventBg5 	{ 
    background-color: 		#86c860; 
    vertical-align:		top;
    border : 			1px solid #336600;        
    }
	
td.agendaEventBg4 	{ 
    background-color: 		#d8f0b8; 
    vertical-align:		top;
    border : 			1px solid #669900;        
  }
	
td.agendaEventBg3 	{ 
    background-color:	 	#84a8d7;  
    vertical-align:		top;
    border : 			1px solid #333366;        
    }
	
td.agendaEventBg2 	{ 
    background-color: 		#cfe5f6;  
    vertical-align:		top;
    border : 			1px solid #336699;        
    }
	
td.agendaEventBg1 	{ 
    background-color: 		#f8d049;  
    vertical-align:		top;
    border : 			1px solid #cc3300;          
  }
	
td.agendaEventBg0 	{ 
    background-color: 		#fffba4;  
    vertical-align:		top;
    border : 			1px solid #cc6600;    
}	

td.agendaEventYear {
	width:			8px;
	height:			8px;
	margin:			0;
	padding:		0;
	border:			0;	
	}

td.agendaPossible 	{ 
    background-color: 		#97bdec; 
    border-top: 		1px dashed #6a90c3;
    border-right: 		1px dashed #6a90c3;    
}

td.agendaPossibleHover 	{ 
    background-color: 		#ffde01; 
    border-top: 		1px dashed #6a90c3;
    border-right: 		1px dashed #6a90c3;    
}

td.agendaFree 	{ 
    background-color: 		#cee1ed;  
    border-top: 		1px dashed #a0b3c4;
    border-right: 		1px dashed #a0b3c4;     
}

td.agendaFreeHover	{ 
    background-color: 		#fdffbf;  
    border-top: 		1px dashed #a0b3c4;
    border-right: 		1px dashed #a0b3c4;     
}

td.agendaOccupied 	{ 
    background-color: 		#e3e5ea;  
    border-top: 		1px dashed #afb2ba;
    border-right: 		1px dashed #afb2ba;  
}	

select.agendaQuery 	{ 
	font-size:		11px; 
	font-family: 		sans-serif;
	width:                	116px; 
	margin-bottom:          0;
}

img.menuBarIconG	{
	float:			right;
	border:			0;
	text-align:		right;
	margin:			0;
	padding:		0;
}			


a.agendaLink		{ text-decoration:	none; }
a.agendaLink:link	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: transparent; }
a.agendaLink:visited	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: transparent; }
a.agendaLink:active	{ font-family: sans-serif; font-size: 11px;color: #3366cc; background-color: transparent; }
a.agendaLink:hover	{ font-family: sans-serif; font-size: 11px;color: #000099; background-color: transparent; }

a.agendaLink2		{ text-decoration:	none; }
a.agendaLink2:link	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:visited	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:active	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:hover	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }

a.agendaLink3		{ text-decoration:	none; }
a.agendaLink3:link	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: #ffcc00; }
a.agendaLink3:visited	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: #ffcc00; }
a.agendaLink3:active	{ font-family: sans-serif; font-size: 11px;color: #3366cc background-color:  #ffcc00; }
a.agendaLink3:hover	{ font-family: sans-serif; font-size: 11px;color: #000099; background-color: #ffcc00; }

a.agendaLink4		{ text-decoration:	none; }
a.agendaLink4:link	{ font-family: sans-serif; font-size: 13px;color: #0454c4; background-color: transparent; }
a.agendaLink4:visited	{ font-family: sans-serif; font-size: 13px;color: #0454c4; background-color: transparent; }
a.agendaLink4:active	{ font-family: sans-serif; font-size: 13px;color: #3366cc background-color:  transparent; }
a.agendaLink4:hover	{ font-family: sans-serif; font-size: 13px;color: #000099; background-color: transparent; }


