/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : portal.css                                                   //
//     - Desc : CSS style file (standard theme)                              //
// 2003-07-30 Aliacom                                                        //
///////////////////////////////////////////////////////////////////////////////
// $Id$
/////////////////////////////////////////////////////////////////////////////*/

.portal {
	margin: auto;
	width: auto;
}


.portalModule {
	margin: 2px;
	background-color: #ffffff;
	border: 1px solid #9ccbd6;
	height: 200px;
	width: 250px;
	float : left;
}

.portalModuleLeft {
  	height: 200px;
	width: 60px;	
	background-image: url(bg_portal_module.gif);
	background-position: left top;
	float : left;
}
     
.portalContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #009ec6;
	text-align: center;
	height : 120px;
	margin-top : 10px;
}

.portalLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	margin: auto;
	margin-top: 17px;
}

.portalTitle {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #009EC6;
	background-color: #eff3f7;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

/* //////////////////AGENDA////////////////// */
/* ////// Agenda table style definition ///// */
/* ////////////////////////////////////////// */
td.agendaCell		{
	width:			auto;
	background-color: 	#eeeeee;
  	vertical-align:		top;
	text-align:		center;
}

td.agendaHead		{
 	background-image: 	url(side_bg.gif); 
 	text-align: 		center; 
	font-size: 		12px;
	font-weight: 		800;
	width:			20px;
	border-bottom:		1px solid #009ec6;
}

.agendaCalendar {
  	background-color: 	#eeeeee;
  	margin: 		auto;
}

	
a.agendaLink		{ text-decoration:	none; }
a.agendaLink:link	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: transparent; }
a.agendaLink:visited	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: transparent; }
a.agendaLink:active	{ font-family: sans-serif; font-size: 11px;color: #3366cc; background-color: transparent; }
a.agendaLink:hover	{ font-family: sans-serif; font-size: 11px;color: #000099; background-color: transparent; }

a.agendaLink2		{ text-decoration:	none; }
a.agendaLink2:link	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:visited	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:active	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:hover	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }

a.agendaLink3		{ text-decoration:	none; }
a.agendaLink3:link	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: #ffcc00; }
a.agendaLink3:visited	{ font-family: sans-serif; font-size: 11px;color: #0454c4; background-color: #ffcc00; }
a.agendaLink3:active	{ font-family: sans-serif; font-size: 11px;color: #3366cc background-color:  #ffcc00; }
a.agendaLink3:hover	{ font-family: sans-serif; font-size: 11px;color: #000099; background-color: #ffcc00; }



/*---------------------------------------------------------------------------*/
/* Time table style definition */
/*---------------------------------------------------------------------------*/

.timeWarn {
  	color:		 	#ff0000;
	font-size: 		16px;
	font-weight: 		800;	
  	margin: 		auto;
	text-align:		center;
}

/*---------------------------------------------------------------------------*/
/* Deal style definition */
/*---------------------------------------------------------------------------*/

td.number		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	text-align:		right;
}

td		{
	font-family:		sans-serif;
	font-size:		10px;
}
