/*Style Cheet of the obm standard theme.*/

/* //////////////////GLOBALS///////////////// */
/* ///// Globals items style definition ///// */
/* ////////////////////////////////////////// */
body 			{
	background-color: 	#d7dfe7;
	color:			#000000;
        border:                 0px;
        margin:                 0px;
        padding:                0px;
}

a:link 		{ color: #000000; background-color: transparent;}
a:active 	{ color: #000000; background-color: transparent;}
a:visited 	{ color: #000000; background-color: transparent;}

td			{
	margin:			0;
	border:			0;
	padding:		0;
	border-spacing:		0;
}

img			{
	margin:			0;
	border:			0;
	padding:		0;
}

p			{
        margin-left:		auto;
	margin-right:		auto;
}	

/*System Message*/
.messageOk		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#47c134;
	text-align:		center;
	background-color:	transparent;	
}

.messageError		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#f42742;
	text-align:		center;
	background-color:	transparent;	
}

.messageWarning		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#ee9b00;
	text-align:		center;
	background-color:	transparent;	
}

.messageInfo		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#0052e0;
	text-align:		center;
	background-color:	transparent;	
}


/* ////////////////GLOBAL MENU/////////////// */
/* /// Global menu items style definition /// */
/* ////////////////////////////////////////// */

table.global		{
	width:			100%;
	border-spacing:		0;
}

td.globalLogo		{
	vertical-align:		top;
	width:			180px;
	padding:		0;
	margin:			0;
}

td.globalHeader		{
	vertical-align:		top;
	width:			100%;
	padding:		0;
	margin:			0;
}

/* ////////////////LOGO MENU///////////////// */
/* //// Logo menu items style definition //// */
/* ////////////////////////////////////////// */

table.logo		{
	vertical-align:		text-top;
	color:			#ffffff;
	border-spacing:		0;
	padding:		0;
	margin:			0;
	border:			0;
	background-color:	#d7d6e0;
}

td.logoInside		{
	background-color:	#ffffff;	
	color:			#555555;
	padding:		0;
	margin:			0;
       
}

td.logoBottom		{
	vertical-align:		text-top;
	padding:		0;
	margin:			0;
}

td.logoVersion		{
	font-family:		sans-serif;
	font-weight:		bold;
	font-size:		10px;
	color:			#555555;
	text-align:		right;
	background-color:	#ffffff;
	padding:		0;
	margin:			0;		
}

/* ////////////////HEADER MENU/////////////// */
/* /// Header menu items style definition /// */
/* ////////////////////////////////////////// */

table.header		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	color:			#ffffff;
	vertical-align:		top;
	width:			100%;
	border-spacing:		0;
	padding:		0;
	margin:			0;
	border:			0;
	background-color:	#555555;
}

td.header	 	{
	vertical-align:		text-top;
	height:			21px;
	white-space:		nowrap;	
}

td.headerRight	 	{
	text-align:			right;
	white-space:		nowrap;	
}

td.headerMenu	 	{
	color:			#000000;
	height:			25px;
	padding:		0;
	margin:			0;
	border:			0;
	background-color:	#ffffff;	
}

img.header		{
	text-align:			right;
	vertical-align:			bottom;
}

a.header:link { color: #ffffff; background-color: transparent;}
a.header:active { color: #ffffff; background-color: transparent;}
a.header:visited { color: #ffffff; background-color: transparent;}

/* ////////////////MENU BARRE//////////////// */
/* /// Menu barre items style definition //// */
/* ////////////////////////////////////////// */

table.menuBar		{
        margin-left:		auto;
	margin-right:		auto;
	width:			90%;
	border-spacing:		0;
	padding:		0;
	background-color:	transparent;	
}
		
td.menuBarLabel		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	color:			#ffffff;
	background-color:	#93919c;
}

td.menuBarText		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	color:			#ffffff;
	background-color:	#93919c;
	text-align:		right;
}

img.menuBarIconG	{
	float:			right;
	border:			0;
	text-align:		right;
	margin:			0;
	padding:		0;
}

img.menuBarIconD	{
	float:			left;
	border:			0;
	text-align:		left;
	margin:			0;
	padding:		0;
}

a.menuBar:link { color: #ffffff; background-color: transparent;}
a.menuBar:active { color: #ffffff; background-color: transparent;}
a.menuBar:visited { color: #ffffff; background-color: transparent;}

/* ///////////////////MENUS////////////////// */
/* /////// Menu item style definition /////// */
/* ////////////////////////////////////////// */

table.menus		{
	width:			100%;
	height:			100%;
	border-spacing:		0;
	padding:		0;
	color:			#000000;
	background-color:	#ffffff;
}
		
td.menusLabel		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		normal;
	color:			#000000;
	background-color:	#ffffff;
 	white-space:		nowrap;
}

td.menusText		{
	width:			100%;
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		normal;
	color:			#000000;
	background-color:	#ffffff;
}

a.menus:link { color: #000000; background-color: transparent;}
a.menus:active { color: #000000; background-color: transparent;}
a.menus:visited { color: #000000; background-color: transparent;}

/* /////////////////SECTIONS///////////////// */
/* //// The tabs sections style definition/// */
/* ////////////////////////////////////////// */

table.sections		{
	width:			auto;
	border-spacing:		0;
	margin:			0;
	padding:		0;
	border:			0;
	color:			#ffffff;
	background-color:	#009fc2;
}

td.sectionsActifLabel	{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	text-align:		center;
	color:			#000000;
	background-color:	#ffffff;
	margin:			0;
	border:			0;
	padding:		0;
}

td.sectionsInactifLabel	{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	text-align:		center;
	color:			#ffffff;
	background-color:	#93919c;
	margin:			0;
	border:			0;
	padding:		0;
}

td.sectionsLine		{
	color:			#ffffff;
	background-color:	#d2e46a;
	height:			1px;
	margin:			0;
	border:			0;
	padding:		0;
}

td.sectionsfilling	{
	border-spacing:		0;
	height:			100%;
	width:			100%;
	margin:			0;
	border:			0;
	padding:		0;
		
}

table.sectionsfilling	{
	border-spacing:		0;
	height:			100%;
	width:			100%;
	margin:			0;
	border:			0;
	padding:		0;
		
}

a.sections:link 	{ color: #d7d6e0; background-color: transparent;}
a.sections:active	{ color: #d7d6e0; background-color: transparent;}
a.sections:visited 	{ color: #d7d6e0; background-color: transparent;}

/* //////////////////BOOKMARKS/////////////// */
/* ///// Bokmarks item style definition ///// */
/* ////////////////////////////////////////// */

table.bookmarks		{
	width:			auto;
        margin-left:		auto;
	margin-right:		auto;
}
		
td.bookmarks		{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	margin:			0;
	border:			0;
	padding:		0;
}

a.bookmarks:link 	{ color: #000000; background-color: transparent;}
a.bookmarks:active	{ color: #000000; background-color: transparent;}
a.bookmarks:visited	{ color: #000000; background-color: transparent;}

/* ////////////////OBM DISPLAY/////////////// */
/* ////// Obm display style definition ////// */
/* ////////////////////////////////////////// */

table.OBMDisplayData	 {
        margin-left:		auto;
	margin-right:		auto;
	background-color:	#93919c;
	color:			#000000;
	width:			100%;
	border:			0;
}

table.OBMDisplayPref	 {
        margin-left:		auto;
	margin-right:		auto;
	background-color:	#93919c;
	color:			#000000;
	width:			auto;
	border:			3px outset green;

}

td.OBMDisplayHead	 {
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#ffff00;
	text-align:		center;
	background-color:	#93919c;
}

td.OBMDisplayLabel	 {
	font-family:		sans-serif;
	font-size:		12px;
	color:			#ffff00;
	text-align:		center;
	background-color:	#93919c;
}

td.OBMDisplayText  	 {
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		left;
	color:			#000000;
	background-color:	#ffffff;
}

td.OBMDisplayTextCentered{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#000000;
	background-color:	#ffffff;
}

a.OBMDisplayHead:link	 { color: #ffff00; background-color: transparent;}
a.OBMDisplayHead:active	 { color: #ffff00; background-color: transparent;}
a.OBMDisplayHead:visited { color: #ffff00; background-color: transparent;}

a.OBMDisplayText:link 	 { color: #0ba589; background-color: transparent;}
a.OBMDisplayText:active  { color: #0ba589; background-color: transparent;}
a.OBMDisplayText:visited { color: #0ba589; background-color: transparent;}

/* //////////////////DETAILS///////////////// */
/* ///// Details table style definition ///// */
/* ////////////////////////////////////////// */

table.details		{
        margin-left:		auto;
	margin-right:		auto;
	width:			auto;
}

td.detailHead		{
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#59519e;
	text-align:		center;
	background-color:	#d7dfe7;
}

td.detailLabel		{
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#59519e;
	background-color:	#ffffff;
}

td.detailText		{
	font-family:		sans-serif;
	font-size:		12px;
	color:			#000000;
	background-color:	#ffffff;
}

a.details:link 		{ color: #000000; background-color: transparent;}
a.details:active 	{ color: #000000; background-color: transparent;}
a.details:visited 	{ color: #000000; background-color: transparent;}


/* //////////////////DIVERS////////////////// */
/* ///// Divers table style definition ////// */
/* ////////////////////////////////////////// */

table.recordInfo	{
        margin-left:		auto;
	margin-right:		0;
	width:			auto;
}

td.recordInfo		{
	font-family:		sans-serif;
	font-size:		10px;
	color:			#000000;
	text-align:		right;
	background-color:	transparent;
}

td.textLabelForm	{
	font-family:		sans-serif;
	font-size:		10px;
	color:			#000000;
	background-color:	transparent;
}

/* //////////////////DETAILS///////////////// */
/* ///// Details table style definition ///// */
/* ////////////////////////////////////////// */

table.admin		{
        margin-left:		auto;
	margin-right:		auto;
	border:			3px outset blue;
	background-color:	#cccccc;
}

td.adminHead		{
	font-family:		sans-serif;
	font-style:		italic;
	font-size:		12px;
	color:			#37ff00;
	text-align:		center;
	background-color:	#666666;
}

td.adminLabel		{
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#59519e;
	text-align:		center;
	background-color:	transparent;
}

td.adminText		{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		center;
	color:			#000000;
	background-color:	transparent;
}

td.adminText		{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		center;
	color:			#000000;
	background-color:	transparent;
}

td.adminTextLeft	{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		left;
	color:			#000000;
	background-color:	transparent;
}

td.adminTextRight	{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		right;
	color:			#000000;
	background-color:	transparent;
}

/* //////////////////AGENDA////////////////// */
/* ////// Agenda table style definition ///// */
/* ////////////////////////////////////////// */
a.agendaHead:link 	{ color: #ffff00; background-color: transparent;}
a.agendaHead:active 	{ color: #ffff00; background-color: transparent;}
a.agendaHead:visited 	{ color: #ffff00; background-color: transparent;}

table.agenda		{
        margin-left:		auto;
	margin-right:		auto;
	border:			3px outset blue;
	background-color:	#93919c;
	color:			#ffff00;
}

table.agendaMain	{
        margin-left:		auto;
	margin-right:		auto;
	width:			auto;
	border:			0;
	background-color:	transparent;
	color:			#000000;
}

table.agendaCal		{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#ffffff;
	border: 		1px #a1a5a9 solid; 
}

table.agendaMonth	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#a1a5a9;
	border: 		0; 
}


table.agendaYear	{
        background-color:      #cccccc;
        margin-left:		auto;
	margin-right:		auto;		
}
table.agendaEventYear {
	margin:			0;
	padding:		0;
	border:			0;	
	border-spacing:		0;	
	}
td.agendaMonthReg	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#ffffff;
 	text-align: 		center; 
	vertical-align: 	top;
	border: 		0; 

}

td.agendaMonthOff	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#f4f4f4;
 	text-align: 		center; 
	vertical-align: 	top;
	border: 		0; 

}

td.agendaMonthOn	{
        margin-left:		auto;
	margin-right:		auto;
	background-color: 	#fdf8b9;
 	text-align: 		center; 
	vertical-align: 	top;
	border: 		0; 

}


td.agendaHead		{
	text-align:		center;
	font-family:		sans-serif;
	font-size:		18px;
	color: 			#000000; 
	vertical-align:		top;
	white-space:		nowrap;	
	background-image: 	url(time_bg.gif); 
}


td.agendaVide		{
	font-family:		sans-serif;
	font-size:		14px;
	font-weight:		bold;
	color:			#000000;
	text-align:		center;
	background-color:	#ffffff;
        border-top: 		1px dashed #a1a4a8;
        border-right: 		1px solid #a1a4a8;
}
td.agendaNoEvent	{
	font-family:		sans-serif;
	font-size:		14px;
	font-weight:		bold;
	color:			#000000;
	text-align:		center;
	background-color:	#ffffff;
        border-top: 		1px dashed #a1a4a8;
}

td.agendaHour		{
	font-family:		sans-serif;
	font-size:		14px;
	color:			#000000;
	text-align:		center;
	vertical-align:		middle;
	background-color:	#ffffff;
        border-top: 		1px dashed #a1a4a8;
        border-right: 		2px solid #a1a4a8;
	background-image:	url(time_bg.gif);
	width:			60px;
}


td.agendaCell		{
        margin-left:		auto;
	margin-right:		auto;
	width:			auto;
	background-color: 	#eeeeee;
  	vertical-align:		top;
	text-align:		center;
}


td.agendaCell2		{
        margin-left:		auto;
	margin-right:		auto;
	width:			auto;
	background-color: 	transparent;
  	vertical-align:		top;
	text-align:		right;
}

td.agendaHead2		{
 	background-image: 	url(side_bg.gif); 
 	text-align: 		center; 
	vertical-align: 	middle;
 	font-family: 		sans-serif;
	font-size: 		11px;
	font-weight: 		900;
	}
	
td.agendaEventHead	{ 
    background-color:       	#336699;
    border:			1px #a1a4a8 solid; 
    text-align:			center;	
    font-weight: 		800;		
	}
td.agendaEventBg5 	{ 
    background-color: 		#b1d29d; 
    vertical-align:		top;
    border-top: 		1px dashed #a1a4a8;
    border-right: 		1px solid #a1a4a8;	}
	
td.agendaEventBg4 	{ 
    background-color: 		#33a457; 
    vertical-align:		top;
    border-top: 		1px dashed #a1a4a8;
    border-right: 		1px solid #a1a4a8;	}
	
td.agendaEventBg3 	{ 
    background-color:	 	#24682d;  
    border-top: 		1px dashed #a1a4a8;
    border-right: 		1px solid #a1a4a8;	}
	
td.agendaEventBg2 	{ 
    background-color: 		#1137c6;  
    vertical-align:		top;
    border-top: 		1px dashed #a1a4a8;
    border-right: 		1px solid #a1a4a8;	}
	
td.agendaEventBg1 	{ 
    background-color: 		#608bc7;  
    vertical-align:		top;
    border-top: 		1px dashed #a1a4a8;
    border-right: 		1px solid #a1a4a8;	}
	
td.agendaEventBg0 	{ 
    background-color: 		#bbcdec;  
    vertical-align:		top;
    border-top: 		1px dashed #a1a4a8;
    border-right: 		1px solid #a1a4a8;	}	

td.agendaEventYear {
	width:			8px;
	height:			8px;
	margin:			0;
	padding:		0;
	border:			0;	
	}
			
select.agendaQuery 	{ 
	font-size:			11px; 
	font-family: 		sans-serif;
	width:                156px; 
	margin-bottom:          0;
}

			
	

a.agendaLink		{ text-decoration:	none; }
a.agendaLink:link	{ font-family: sans-serif; font-size: 11px;color: #0066ff; background-color: transparent; }
a.agendaLink:visited{ font-family: sans-serif; font-size: 11px;color: #0066ff; background-color: transparent; }
a.agendaLink:active	{ font-family: sans-serif; font-size: 11px;color: #3366cc; background-color: transparent; }
a.agendaLink:hover	{ font-family: sans-serif; font-size: 11px;color: #000099; background-color: transparent; }

a.agendaLink2		{ text-decoration:	none; }
a.agendaLink2:link	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:visited	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:active	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }
a.agendaLink2:hover	{ font-family: sans-serif; font-size: 11px;color: #a1a5a9; background-color: transparent; }

a.agendaLink3		{ text-decoration:	none; }
a.agendaLink3:link	{ font-family: sans-serif; font-size: 11px;color: #0066ff; background-color: #ffcc00; }
a.agendaLink3:visited	{ font-family: sans-serif; font-size: 11px;color: #0066ff; background-color: #ffcc00; }
a.agendaLink3:active	{ font-family: sans-serif; font-size: 11px;color: #3366cc background-color:  #ffcc00; }
a.agendaLink3:hover	{ font-family: sans-serif; font-size: 11px;color: #000099; background-color: #ffcc00; }

a.agendaLink4	{ text-decoration:	none; }
a.agendaLink4:link	{ font-family: sans-serif; font-size: 13px;color: #ffffff; background-color: transparent; }
a.agendaLink4:visited	{ font-family: sans-serif; font-size: 13px;color: #ffffff; background-color: transparent; }
a.agendaLink4:active	{ font-family: sans-serif; font-size: 13px;color: #ffffff background-color:  transparent; }
a.agendaLink4:hover	{ font-family: sans-serif; font-size: 13px;color: #ffffff; background-color: transparent; }




