/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : style.css (standard)                                         //
//     - Desc : CSS style file (standard theme)                              //
// 2003-07-30 Mehdi Rande                                                    //
///////////////////////////////////////////////////////////////////////////////
// $Id$
///////////////////////////////////////////////////////////////////////////////

/* ------------------------------------------------------------------------- */
/* Global display layout */
/* ------------------------------------------------------------------------- */

body 			{
/*	background-color: #d6dfe7;*/
	background-color: 	#d7dfe7;
	color:			#000000;
        border:                 0px;
        margin:                 0px;
        padding:                0px;
}

a:link 		{ color: #000000; background-color: transparent;}
a:active 	{ color: #000000; background-color: transparent;}
a:visited 	{ color: #000000; background-color: transparent;}

td			{
	margin:			0;
	border:			0;
	padding:		0;
	border-spacing:		0;
}

img			{
	margin:			0;
	border:			0;
	padding:		0;
}

p			{
        margin-left:		auto;
	margin-right:		auto;
}	

	
.leftpanel {
	position:absolute;
	width:180px;
	left:2px;
	margin-top: 10px;
}

.rightpanel {
	position:absolute;
	width:180px;
	right:2px;
	z-index:1;
	margin-top: 10px;
}

.middlepanel {
	position:relative; 
	width:auto;
	min-width:120px;
	margin:0px 196px 20px 196px;
	padding:10px;
	z-index:3; 
}

.detailpanel {
	position:relative; 
	width:auto;
	min-width:120px;
	margin:0px 0px 20px 196px;
	padding:10px;
	z-index:3; 
}

.detailpanelalone {
	position: absolute;
	left: 2px;
	right: 2px;
	width: auto;
/*	border: 1px solid #000000;*/
	padding: 0px;
	margin-top: 10px;
/*	background-color: #00FF00;*/
}


/* ------------------------------------------------------------------------- */
/* header */
/* ------------------------------------------------------------------------- */

.header		{
	background-image: url('header_bg.png');
	background-repeat: repeat-x;
	background-color: #fff;
	height: 80px;
	font-size: 0.7em;
	margin-bottom: 0;
}

.header #logo	{
	float: left;
}

.header #version	{
	color: #fff;
	font-weight: bold;
	float: right;
	margin: 5px;
	margin-bottom:	-4px;
}

.header ul	{
	margin: 0px;
}

.header li	{
	display: inline;
	list-style-type: none;
}

.header .login, .header .login a	{
	font-weight: bold;
	color: #fff;
}

.header .login li	{
	margin-right: 5px;
}

.header .login li img	{
	vertical-align: bottom;
}

.header .entries {
  	float: 			left;
	position: 		relative;
	clear:			right;
}

/* ------------------------------------------------------------------------- */
/* section */
/* ------------------------------------------------------------------------- */

.header .section	{
	text-align: 		center;
	font-family: 		arial,sans-serif;
	font-weight: 		bold;
	margin-top:		9px;
	background-color:	transparent;
}

.header .section p	{
	height: 		22px;
	margin: 		0px 4px 0px 0px;
	float:			left;
	display:		inline;
	padding-top:		10px;
	width:			132px;
	background-repeat:	no-repeat;
}

.header .section p.inactif	{
	background-image: 	url("onglet_inactif_bg.png");
}

.header .section p.inactif a	{
	color: 			#d7d6e0;
}

.header .section p.actif	{
	background-image: 	url("onglet_actif_bg.png");
}

/* ------------------------------------------------------------------------- */
/* module */
/* ------------------------------------------------------------------------- */
.header .module	{
  	clear:			left;
	padding:		0px;
	font-family: 		arial,sans-serif;
	margin-right:		10px;
		
}

.header .module li {
	margin-right:		 13px;
}


/* ------------------------------------------------------------------------- */
/* action */
/* ------------------------------------------------------------------------- */

table.action		{
        margin-left:		auto;
	margin-right:		auto;
	width:			90%;
	border-spacing:		0;
	background-color:	transparent;	
}
		
td.actionLabel		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	color:			#ffffff;
	background-color:	#93919c;
}

td.actionText		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	color:			#ffffff;
	background-color:	#93919c;
	text-align:		right;
}

img.actionIconG	{
	float:			right;
	border:			0;
	text-align:		right;
	margin:			0;
	padding:		0;
}

img.actionIconD	{
	float:			left;
	border:			0;
	text-align:		left;
	margin:			0;
	padding:		0;
}

a.action:link { color: #ffffff; background-color: transparent;}
a.action:active { color: #ffffff; background-color: transparent;}
a.action:visited { color: #ffffff; background-color: transparent;}


/* ------------------------------------------------------------------------- */
/* generic block */
/* ------------------------------------------------------------------------- */
.block {
	padding-right:		5px;
	padding-left:		5px;
	font-weight:		normal;
	font-size:		10px;
	padding-bottom:		2px;
	margin:			0px 2px;
	width:			170px;
	padding-top:		3px;
	background-color:	#ffffff;
	border:			1px solid #009ec6; 
	list-style-type: none;
}

.block form {
        padding:                0;
        margin:                 2px 0;
}

.blockTitle {
	font-weight:		bold;
	font-size:		13px;
	color:			#7b9ead;
	background-color:       #e7f3f7;
}

.blockItem {
/*	display: block;*/
	list-style-type: none;
	margin-top: 0px;
	text-indent: -3em;
}

/* ------------------------------------------------------------------------- */
/* last (addition to block) */
/* ------------------------------------------------------------------------- */

.last {
}

.lastTitle {
}

.lastItem {
}


/* ------------------------------------------------------------------------- */
/* title */
/* ------------------------------------------------------------------------- */

.title {
	font-size: 18px;
	font-weight: bold;
	color: #789CAF;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #C6D2D7;
	margin-bottom: 16px;
	text-align: left;
}


/* ------------------------------------------------------------------------- */
/* msg */
/* ------------------------------------------------------------------------- */

.messageOk		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#47c134;
	text-align:		center;
	background-color:	transparent;	
}

.messageError		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#f42742;
	text-align:		center;
	background-color:	transparent;	
}

.messageWarning		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#ee9b00;
	text-align:		center;
	background-color:	transparent;	
}

.messageInfo		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#0052e0;
	text-align:		center;
	background-color:	transparent;	
}


/* ------------------------------------------------------------------------- */
/* search */
/* ------------------------------------------------------------------------- */

input {
	font-size: 10px;
	border: 1px solid #7B9EAD;
}

select {
	font-size: 10px;
	border: 1px solid #7B9EAD;
}

.search {
	clear: both;
	font-size: 10px;
	border: 1px solid #009EC6;
	height: 100%;
	width: auto;
/*	margin-top: 10px;*/
	margin-bottom: 20px;
	font-style: italic;
	color: #7B9EAD;
	background-color: #eff3f7;
}

.searchLabel {
	float: left;
	margin: 0px;
	padding: 3px;
/*	background-color: #FF0000;*/
}

.searchButton {
	float: left;
	margin: 0px;
	padding: 3px;
/*	background-color: #FF0000;*/
}

.searchEnd {
	clear: both;
}


/* ------------------------------------------------------------------------- */
/* detail */
/* ------------------------------------------------------------------------- */

a.detail:link 		{ color: #000000; background-color: transparent;}
a.detail:active 	{ color: #000000; background-color: transparent;}
a.detail:visited 	{ color: #000000; background-color: transparent;}


.detail {
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #009EC6;
	width: 100%;
}

.detailHead {
	font-size: 17px;
	font-weight: bold;
	color: #7B9EAD;
	text-align: center;
	margin-top: 10px;
}

.detailLabel {
	font-size: 12px;
  	text-align: center;
	font-style: italic;
	color: #7B9EAD;
	width: 35%;
}

.detailText {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	color: #666666;
}

.detailForm {
  	padding-left: 5px;
	text-align: left;
	font-weight: bold;
	color: #666666;
	background-color: #EEEEEE;
}

.detailInfo {
	float: right;
	font-size: 10px;
	text-align: right;
	color: #7B9EAD;
	margin-top: 0px;
	margin-bottom: 10px;
}

.detailButton {
	position: relative;
	top: 16px;
/*	border: 3px solid #FF9EC6;*/
	text-align: center;
	background-color: #FFFFFF;
}

.detailButtons {
	display: inline;
	text-align: center;
}

.elementRow {
	font-size:         10px;
	color:             #666666;
        background-color:  #FFFFFF;  
        overflow:          hidden;
        width:             150px;
        float:             left; 
        white-space:       nowrap;
}
.elementRowEmpty {
	font-size:         1px;
        background-color:  #FFFFFF;  
        overflow:          hidden;
        width:             150px;
        float:             left; 
}
/* ------------------------------------------------------------------------- */
/* link */
/* ------------------------------------------------------------------------- */

.link {
	font-size: 13px;
	width: 170px;
	border: 1px solid #009EC6;
	float: right;
	clear: right;
	margin-bottom: 0px;
	padding: 5px;
	margin-top: 5px;
	background-color: #FFFFFF;
}

.linkTitle {
	font-size: 15px;
	color: #7B9EAD;
	font-weight: bold;
	background-color: #E7F3F7;
}

.linkList {
	display: block;
	list-style-type: none;
	margin-top: 0px;
	text-indent: -3em;
}

/* ------------------------------------------------------------------------- */
/* result */
/* ------------------------------------------------------------------------- */

.result {
	float: left;
	font-size: 10px;
/*	background-color: #FF0000;*/
	height: 100%;
	width: auto;
	margin-top: 0px;
	font-style: italic;
	color: #7B9EAD;
	clear: both;
}

table.resultTable	 {
	background-color:	#009ec6;
	color:			#000000;
	width:			100%;
	border:			0;
	border-spacing:1px;
	border:1px solid #009ec6;
}

.resultIndex {
	color: #666666;
	background-color: #eff3f7;
	width: 100%;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	border: 1px solid #009ec6;
}

.resultIndexIcon {
	vertical-align: middle;
	border: 0px;
}

td.resultHead	 {
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#ffffff;
	text-align:		center;
	background-color:	#009ec6;
}

td.resultLabel	 {
	font-family:		sans-serif;
	font-size:		12px;
	color:			#ffff00;
	text-align:		center;
	background-color:	#93919c;
}

td.resultText  	{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		left;
	color:			#000000;
	background-color:	#ffffff;
/*border-right:1px solid #009ec6;
border-top:1px solid #009ec6;*/
}

td.resultTextC  {
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#000000;
	background-color:	#ffffff;
/*border-right:1px solid #009ec6;
border-top:1px solid #009ec6;*/
}

tr.data0			{
	font-family:		sans-serif;
	font-size:		10px;
	color:			#000000;
	background-color:	#FFFFFF;
}

tr.data1			{
	font-family:		sans-serif;
	font-size:		10px;
	color:			#000000;
	background-color:	#ebf0f1;
}

.data2			{
	font-family:		sans-serif;
	font-size:		10px;
	color:			#000000;
	background-color:	#fbf7db;
}

table.resultPref	 {
        margin-left:		auto;
	margin-right:		auto;
	background-color:	#93919c;
	color:			#000000;
	width:			auto;
}

td.resultPrefHide  {
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#000000;
	background-color:	#55aaff;
}


a.resultHead:link	{ color: #ffffff; background-color: transparent;}
a.resultHead:active	{ color: #ffffff; background-color: transparent;}
a.resultHead:visited 	{ color: #ffffff; background-color: transparent;}

a.resultText:link 	{ color: #0ba589; background-color: transparent;}
a.resultText:active  	{ color: #0ba589; background-color: transparent;}
a.resultText:visited 	{ color: #0ba589; background-color: transparent;}


/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */


/* ////////////////LOGO MENU///////////////// */
/* //// Logo menu items style definition //// */
/* ////////////////////////////////////////// */

table.logo		{
	vertical-align:		text-top;
	color:			#ffffff;
	border-spacing:		0;
	padding:		0;
	margin:			0;
	border:			0;
	background-color:	#d7d6e0;
}

td.logoInside		{
	background-color:	#ffffff;	
	color:			#555555;
	padding:		0;
	margin:			0;
       
}

td.logoBottom		{
	vertical-align:		text-top;
	padding:		0;
	margin:			0;
}

td.logoVersion		{
	font-family:		sans-serif;
	font-weight:		bold;
	font-size:		10px;
	color:			#555555;
	text-align:		right;
	background-color:	#ffffff;
	padding:		0;
	margin:			0;		
}


/* //////////////////ADMIN/////////////////// */
/* /////  Admin table style definition  ///// */
/* ////////////////////////////////////////// */

.admin {
        clear: both;
        font-size: 10px;
        border: 1px solid #009EC6;
        height: 100%;
        width: 90%;
/*      margin-top: 10px;*/
        margin-bottom: 20px;
        font-style: italic;
        color: #ffffff;
        background-color: #cccccc;
}

.adminTitle {
        font-weight:            bold;
        font-size:              13px;
        background-color: #93919c;
}


table.admin		{
        margin-left:		auto;
	margin-right:		auto;
/*	border:			3px outset blue;*/
        border:                 0;
	background-color:	#cccccc;
}

td.adminHead		{
	font-family:		sans-serif;
	font-style:		italic;
	font-size:		12px;
	color:			#37ff00;
	text-align:		center;
	background-color:	#666666;
}

td.adminLabel		{
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
        font-style: 		normal;
	color:			#59519e;
	text-align:		center;
	background-color:	transparent;
}

td.adminText		{
	font-family:		sans-serif;
	font-size:		12px;
        font-style: 		normal;
	vertical-align:		top;
	text-align:		center;
	color:			#000000;
        font-style: 		normal;
	background-color:	transparent;
}

td.adminTextLeft	{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		left;
	color:			#000000;
	background-color:	transparent;
}

td.adminTextRight	{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		right;
	color:			#000000;
	background-color:	transparent;
}



/* /////////////////////////////////////////////////////////////////////////
// Classes divers
 ////////////////////////////////////////////////////////////////////////*/
div.classic {
  width :			100%;
  height :			500px;
  overflow:			auto;
}

table.classic {
  border :			1px solid black;
  background-color : 		#ffffff;
  border-collapse:		collapse;
}
table.classic th {
  background-color: 		#1482ab;
  border:			1px solid black;
  color:			#ffffff;
  font-size:			12px;
}

table.classic td {
  border:	1px dashed #999999;
  font-size:	12px;
  text-align:	center;
}

table.classic tr.pair {
  background-color: 		#eff3f7;
}

table.classic tr.impair {
  background-color: 		#ffffff;
}

table.classic td.totals {
  color:	red;
}

span.hiddenLegend {
  display:           none;
  background-color:  #ffffcc;
  font-size:         8px;
  border:            1px solid black;
/*   moz-border-radius: */
}

/* ------------------------------------------------------------------------- */
/* Calendrier */
/* ------------------------------------------------------------------------- */

.calendarDateInputHover {
	letter-spacing:normal;
	line-height:normal;
	font-family:	sans-serif;
	font-size:12px;
	height:14px;
	cursor:default;
}

td.calendarDateInputHover:hover {
	background:#7B9EAD;
	font-weight:bold;
	color:#FFF;
}

.calendarThisDay {
	background:#EEE;
	border:1px solid #7B9EAD;
	font-weight:bold;
	color: #7B9EAD;
}

td.calendarThisDay:hover {
	background:#7B9EAD;
	font-weight:bold;
	color: #FFF;
}

.calendarOldDay {
	text-decoration : line-through;
	color : #DDD;
	cursor:default;
}

.calendarTodayLink {
	letter-spacing:normal;
	line-height:normal;
	text-align:center;
	font-family:	sans-serif;
	font-size:12px;
	height:14px;
	width:30px;
	cursor:default;
	font-weight:bold;
	border-top:1px solid #CCC;
	cursor : pointer;
}

.calendarDateInput {
	letter-spacing:normal;
	line-height:normal;
	font-family:	sans-serif;
	text-align:center;
	font-size: 12px;
	height:14px;
	cursor:pointer;
}

.calendarDateInputDay {
	letter-spacing:normal;
	line-height:normal;
	text-align:center;
	font-family:	sans-serif;
	font-size:12px;
	height:14px;
	width:30px;
	cursor:default;
	font-weight:bold;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
		
.calendarDateInputHead {
	font-weight:bold;
	background:#EEE;
}

.calendarButton {
	vertical-align:bottom;
}

.calendarSpan {
	background-color:#FFF;
	border:1px solid #CCC;
}
