/*/////////////////////////////////////////////////////////////////////////////
// OBM - File : style.css (standard)                                         //
//     - Desc : CSS style file (standard theme)                              //
// 2003-07-30 Mehdi Rande                                               //
///////////////////////////////////////////////////////////////////////////////
// $Id$
///////////////////////////////////////////////////////////////////////////////

/* ------------------------------------------------------------------------- */
/* Global display layout */
/* ------------------------------------------------------------------------- */

body 			{
/*	background-color: #d6dfe7;*/
	background-color: 	#d7dfe7;
	color:			#000000;
        border:                 0px;
        margin:                 0px;
        padding:                0px;
}

a:link 		{ color: #000000; background-color: transparent;}
a:active 	{ color: #000000; background-color: transparent;}
a:visited 	{ color: #000000; background-color: transparent;}

td			{
	margin:			0;
	border:			0;
	padding:		0;
	border-spacing:		0;
}

img			{
	margin:			0;
	border:			0;
	padding:		0;
}

p			{
        margin-left:		auto;
	margin-right:		auto;
}	


.leftpanel {
	position: absolute;
	left: 2px;
	width: 180px;
/*	border: 1px solid #000000;*/
	margin-top: 10px;
/*	padding: 2px;*/
}

.rightpanel {
	float: right;
	width: 180px;
/*	border: 1px solid #000000;*/
/*	padding: 2px;*/
}

.middlepanel {
	width: auto;
/*	border: 1px solid #000000;*/
	margin-right: 196px;
/*	background-color: #0000FF;*/
}

.detailpanel {
	position: absolute;
	left: 196px;
/*	right: 0px;*/
	width: auto;
/*	border: 1px solid #000000;*/
	padding: 0px;
	margin-top: 10px;
	margin-right: 10px;
/*	background-color: #00FF00;*/
}

.detailpanelalone {
	position: absolute;
	left: 2px;
	right: 2px;
	width: auto;
/*	border: 1px solid #000000;*/
	padding: 0px;
	margin-top: 10px;
/*	background-color: #00FF00;*/
}


/* ------------------------------------------------------------------------- */
/* header */
/* ------------------------------------------------------------------------- */

.header		{
	background-image: url('/images/standard/header_bg.png');
	background-repeat: repeat-x;
	background-color: #fff;
	height: 80px;
	font-size: 0.7em;
	margin-bottom: 10px;
}

.header #logo	{
	float: left;
}

.header #version	{
	color: #fff;
	font-weight: bold;
	float: right;
	margin: 5px;
}

.header ul	{
	margin: 0px;
}

.header li	{
	display: inline;
	list-style-type: none;
}

.header .login, .header .login a	{
	font-weight: bold;
	color: #fff;
}

.header .login li	{
	margin-right: 5px;
}

.header .login li img	{
	vertical-align: bottom;
}


/* ------------------------------------------------------------------------- */
/* section */
/* ------------------------------------------------------------------------- */

.header .section	{
	/*position:		relative;
	top: 			9px;
	left: 			178px;*/
	text-align: 		center;
	font-family: 		arial,sans-serif;
	font-weight: 		bold;
	margin-top:		9px;
	background-color:	transparent;
}

.header .section p	{
	height: 		27px;
	margin: 		0px 4px 0px 0px;
	float:			left;
	display:		inline;
	padding-top:		10px;
	width:			132px;
	background-repeat:	no-repeat;
}

.header .section p.inactif	{
	background-image: 	url("/images/standard/onglet_inactif_bg.png");
}

.header .section p.inactif a	{
	color: 			#d7d6e0;
}

.header .section p.actif	{
	background-image: 	url("/images/standard/onglet_actif_bg.png");
}

/* ------------------------------------------------------------------------- */
/* menu */
/* ------------------------------------------------------------------------- */

.header .menu	{
  	position: 		relative;
	top:			-22px;
	left:			172px;
	padding:		0px;
	float:			left;
	font-family: 		arial,sans-serif;
	
}

.header .menu li {
	margin-right:		 13px;
}


/* ------------------------------------------------------------------------- */
/* action */
/* ------------------------------------------------------------------------- */

table.menuBar		{
        margin-left:		auto;
	margin-right:		auto;
	width:			90%;
	border-spacing:		0;
	background-color:	transparent;	
}
		
td.menuBarLabel		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	color:			#ffffff;
	background-color:	#93919c;
}

td.menuBarText		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		bold;
	color:			#ffffff;
	background-color:	#93919c;
	text-align:		right;
}

img.menuBarIconG	{
	float:			right;
	border:			0;
	text-align:		right;
	margin:			0;
	padding:		0;
}

img.menuBarIconD	{
	float:			left;
	border:			0;
	text-align:		left;
	margin:			0;
	padding:		0;
}

a.menuBar:link { color: #ffffff; background-color: transparent;}
a.menuBar:active { color: #ffffff; background-color: transparent;}
a.menuBar:visited { color: #ffffff; background-color: transparent;}


/* ------------------------------------------------------------------------- */
/* last */
/* ------------------------------------------------------------------------- */

.last {
	padding-right:		5px;
	padding-left:		5px;
	font-weight:		normal;
	font-size:		10px;
	padding-bottom:		2px;
	margin:			0px 2px;
	width:			170px;
	padding-top:		3px;
	background-color:	#ffffff;
	border:			1px solid #009ec6; 
}

.lastTitle {
	font-weight:		bold;
	font-size:		13px;
	color:			#7b9ead;
	background-color:	#eff3f7; 
}

.lastList {
/*	display: block;*/
	list-style-type: none;
	margin-top: 0px;
	text-indent: -3em;
}


/* ------------------------------------------------------------------------- */
/* title */
/* ------------------------------------------------------------------------- */

.title {
	font-size: 18px;
	font-weight: bold;
	color: #789CAF;
	border-bottom-width: 2px;
	border-bottom-style: dashed;
	border-bottom-color: #C6D2D7;
	margin-bottom: 16px;
	text-align: left;
}


/* ------------------------------------------------------------------------- */
/* msg */
/* ------------------------------------------------------------------------- */

.messageOk		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#47c134;
	text-align:		center;
	background-color:	transparent;	
}

.messageError		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#f42742;
	text-align:		center;
	background-color:	transparent;	
}

.messageWarning		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#ee9b00;
	text-align:		center;
	background-color:	transparent;	
}

.messageInfo		{
        margin-left:		auto;
	margin-right:		auto;
	font-family:		sans-serif;
	font-size:		14px;
	color:			#0052e0;
	text-align:		center;
	background-color:	transparent;	
}


/* ------------------------------------------------------------------------- */
/* search */
/* ------------------------------------------------------------------------- */

input {
	font-size: 10px;
	border: 1px solid #7B9EAD;
}

select {
	font-size: 10px;
	border: 1px solid #7B9EAD;
}

.search {
	clear: both;
	font-size: 10px;
	border: 1px solid #009EC6;
	height: 100%;
	width: auto;
/*	margin-top: 10px;*/
	margin-bottom: 20px;
	font-style: italic;
	color: #7B9EAD;
	background-color: #eff3f7;
}

.searchLabel {
	float: left;
	margin: 0px;
	padding: 3px;
/*	background-color: #FF0000;*/
}

.searchButton {
	float: left;
	margin: 0px;
	padding: 3px;
/*	background-color: #FF0000;*/
}

.searchEnd {
	clear: both;
}


/* ------------------------------------------------------------------------- */
/* detail */
/* ------------------------------------------------------------------------- */

a.detail:link 		{ color: #000000; background-color: transparent;}
a.detail:active 	{ color: #000000; background-color: transparent;}
a.detail:visited 	{ color: #000000; background-color: transparent;}


.detail {
	font-size: 12px;
	background-color: #FFFFFF;
	border: 1px solid #009EC6;
	width: 100%;
}

.detailHead {
	font-size: 17px;
	font-weight: bold;
	color: #7B9EAD;
	text-align: center;
	margin-top: 10px;
}

.detailLabel {
	font-size: 12px;
  	text-align: center;
	font-style: italic;
	color: #7B9EAD;
	width: 40%;
}

.detailText {
	text-align: left;
	font-weight: bold;
	color: #666666;
}

.detailForm {
  	padding-left: 5px;
	text-align: left;
	font-weight: bold;
	color: #666666;
	background-color: #EEEEEE;
}

.detailInfo {
	float: right;
	font-size: 10px;
	text-align: right;
	color: #7B9EAD;
	margin-top: 0px;
	margin-bottom: 10px;
}

.detailButton {
	position: relative;
	top: 16px;
/*	border: 3px solid #FF9EC6;*/
	text-align: center;
	background-color: #FF;
}

.detailButtons {
	display: inline;
	text-align: center;
}


/* ------------------------------------------------------------------------- */
/* link */
/* ------------------------------------------------------------------------- */

.link {
	font-size: 13px;
	width: 170px;
	border: 1px solid #009EC6;
	float: right;
	clear: right;
	margin-bottom: 0px;
	padding: 5px;
	margin-top: 5px;
	background-color: #FFFFFF;
}

.linkTitle {
	font-size: 15px;
	color: #7B9EAD;
	font-weight: bold;
	background-color: #E7F3F7;
}

.linkList {
	display: block;
	list-style-type: none;
	margin-top: 0px;
	text-indent: -3em;
}

/* ------------------------------------------------------------------------- */
/* result */
/* ------------------------------------------------------------------------- */

.result {
	float: left;
	font-size: 10px;
/*	background-color: #FF0000;*/
	height: 100%;
	width: auto;
	margin-top: 0px;
	font-style: italic;
	color: #7B9EAD;
	clear: both;
}

table.resultTable	 {
	background-color:	#009ec6;
	color:			#000000;
	width:			100%;
	border:			0;
	border-spacing:1px;
	border:1px solid #009ec6;
}

.resultIndex {
	color: #666666;
	background-color: #eff3f7;
	width: 100%;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
	border: 1px solid #009ec6;
}

.resultIndexIcon {
	vertical-align: middle;
	border: 0px;
}

td.resultHead	 {
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#ffffff;
	text-align:		center;
	background-color:	#009ec6;
}

td.resultLabel	 {
	font-family:		sans-serif;
	font-size:		12px;
	color:			#ffff00;
	text-align:		center;
	background-color:	#93919c;
}

td.resultText  	{
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		left;
	color:			#000000;
	background-color:	#ffffff;
/*border-right:1px solid #009ec6;
border-top:1px solid #009ec6;*/
}

td.resultTextC  {
	font-family:		sans-serif;
	font-size:		10px;
	text-align:		center;
	color:			#000000;
	background-color:	#ffffff;
/*border-right:1px solid #009ec6;
border-top:1px solid #009ec6;*/
}

table.resultPref	 {
        margin-left:		auto;
	margin-right:		auto;
	background-color:	#93919c;
	color:			#000000;
	width:			auto;
}

a.resultHead:link	{ color: #ffffff; background-color: transparent;}
a.resultHead:active	{ color: #ffffff; background-color: transparent;}
a.resultHead:visited 	{ color: #ffffff; background-color: transparent;}

a.resultText:link 	{ color: #0ba589; background-color: transparent;}
a.resultText:active  	{ color: #0ba589; background-color: transparent;}
a.resultText:visited 	{ color: #0ba589; background-color: transparent;}



/* ------------------------------------------------------------------------- */
/* admin */
/* ------------------------------------------------------------------------- */





/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------- */


/* ////////////////LOGO MENU///////////////// */
/* //// Logo menu items style definition //// */
/* ////////////////////////////////////////// */

table.logo		{
	vertical-align:		text-top;
	color:			#ffffff;
	border-spacing:		0;
	padding:		0;
	margin:			0;
	border:			0;
	background-color:	#d7d6e0;
}

td.logoInside		{
	background-color:	#ffffff;	
	color:			#555555;
	padding:		0;
	margin:			0;
       
}

td.logoBottom		{
	vertical-align:		text-top;
	padding:		0;
	margin:			0;
}

td.logoVersion		{
	font-family:		sans-serif;
	font-weight:		bold;
	font-size:		10px;
	color:			#555555;
	text-align:		right;
	background-color:	#ffffff;
	padding:		0;
	margin:			0;		
}


/* ///////////////////MENUS////////////////// */
/* /////// Menu item style definition /////// */
/* ////////////////////////////////////////// */

table.menus		{
	width:			100%;
	height:			100%;
	border-spacing:		0;
	padding:		0;
	color:			#000000;
	background-color:	#ffffff;
}
		
td.menusLabel		{
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		normal;
	color:			#000000;
	background-color:	#ffffff;
 	white-space:		nowrap;
}

td.menusText		{
	width:			100%;
	font-family:		sans-serif;
	font-size:		10px;
	font-weight:		normal;
	color:			#000000;
	background-color:	#ffffff;
}

a.menus:link { color: #000000; background-color: transparent;}
a.menus:active { color: #000000; background-color: transparent;}
a.menus:visited { color: #000000; background-color: transparent;}


/* //////////////////DIVERS////////////////// */
/* ///// Divers table style definition ////// */
/* ////////////////////////////////////////// */

td.textLabelForm	{
	font-family:		sans-serif;
	font-size:		10px;
	color:			#000000;
	background-color:	transparent;
}

/* //////////////////ADMIN/////////////////// */
/* /////  Admin table style definition  ///// */
/* ////////////////////////////////////////// */

table.admin		{
        margin-left:		auto;
	margin-right:		auto;
	border:			3px outset blue;
	background-color:	#cccccc;
}

td.adminHead		{
	font-family:		sans-serif;
	font-style:		italic;
	font-size:		12px;
	color:			#37ff00;
	text-align:		center;
	background-color:	#666666;
}

td.adminLabel		{
	font-family:		sans-serif;
	font-size:		12px;
	font-weight:		bold;
	color:			#59519e;
	text-align:		center;
	background-color:	transparent;
}

td.adminText		{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		center;
	color:			#000000;
	background-color:	transparent;
}

td.adminText		{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		center;
	color:			#000000;
	background-color:	transparent;
}

td.adminTextLeft	{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		left;
	color:			#000000;
	background-color:	transparent;
}

td.adminTextRight	{
	font-family:		sans-serif;
	font-size:		12px;
	vertical-align:		top;
	text-align:		right;
	color:			#000000;
	background-color:	transparent;
}



/* /////////////////////////////////////////////////////////////////////////
// Classes de test
*/
