<script language="php">
///////////////////////////////////////////////////////////////////////////////
// OBM - File : obm_conf.inc.sample                                          //
//     - Desc : OBM specific site configuration Sample file                  //
// 2005-04-04 Pierre Baudracco                                               //
///////////////////////////////////////////////////////////////////////////////
// $Id$ //
///////////////////////////////////////////////////////////////////////////////


// Database infos
$obmdb_host = "localhost";
$obmdb_dbtype = "MYSQL"; // (MYSQL || PGSQL)
//$obmdb_dbtype = "PGSQL"; // (MYSQL || PGSQL)
$obmdb_db = "obm";
$obmdb_user = "obm";
$obmdb_password = "obm";

// Global parameters --------------------------------------------------------//

// OBM host (for mail links)
$cgp_host = "http://obm/";
define("C_IMAGE_PATH",$cgp_host."images");

// Home page redirection
//$c_home_redirect = "$cgp_host" . "agenda/agenda_index.php";

// Use specific site includes
//$cgp_site_include = true;

// Todo lines to display
$cgp_todo_nb = 5;

// OBM System groups (groups id)
$cg_adm = 1;
$cg_com = 2;
$cg_prod = 3;

// Allow * in search field
$cgp_sql_star = true;

// Tuning constants
//$ctu_sql_limit = true;

// MySQL (only 4.1+) charset used (for database and files !)
//$cmy_character_set = "_latin1";

// MySQL (only 4.1+) charset collation used (for database and files !)
//$cmy_charset_collation = "latin1_general_ci";

// is Mail enabled for OBM ? (eg: agenda)
//$cgp_mail_enabled = true;

// is Demo enabled (login screen array with default account)
$cgp_demo_enabled = true;

// submit button in the beginning of the form
$cgp_submit_form_begin_enabled = false;

// Session Cookie lifetime (in seconds, 0=session cookie)
$cs_lifetime = 0;

// Use Database sessions
$cgp_sess_db = false;
//$cgp_sess_db = true;

// Cookie name and domain
$cgp_cookie_name = "OBM_Session";
$cgp_cookie_domain = "aliacom.local";

// authentification : 'CAS' (SSO AliaSuite) or 'standalone' (default)
//$auth_kind="CAS";
//$cas_server = "sso.aliacom.local";
//$cas_server_port = 8443;
//$cas_server_uri = "";

// Shall the login page encrypt authentication password
$auth_encryption = 1;

// encyption used to store password : "plain", "md5" or "crypt"
$password_encryption = "md5";

// Modules specific parameters ----------------------------------------------//

// Company and Contact : Copy address to clipboard
$cclipboard_address = array ('title', 'address1' , 'address2', 'address3', 'zipcode', 'town', 'expresspostal', 'country', 'phone', 'fax', 'mobile', 'email', 'web');

// Company : Auto format fields
$caf_company_name = true;
$caf_town = true;

// Company + Contact : Advanced search enabled by default
$csearch_advanced_default = false;

// Contact : is mailing enabled by default for a new contact
$cgp_mailing_default = true;

// Contact : is a new contact private by default
$ccontact_private_default = true;

// Calendar : show public groups
$cagenda_public_groups = true;

// Calendar: generic E-mail resource admin for agenda module
//$cagenda_resource_admin = "resource@mydomain";

// Calendar first ay of week, first and last hour display
//$cagenda_weekstart = "monday";
$cagenda_first_hour = 8;
$cagenda_last_hour = 20;

// Generic E-mail for Incident module
//$cmail_incident = "support@mydomain";

// Document : Root of the document repository
$cdocument_root = "/var/www/obmdocuments";
$default_path = "/Default";                  // Default directory

// Group : is a new group private by default
$cgroup_private_default = true;

// Backup : Backup root
$cbackup_root = "/var/www/obmbackup";

//----------------------//
// Profiles definitions //
//----------------------//
$profiles["editor"] = array (
  'section' => array (
    'default' => 0,
    'com' => 1,
    'prod' => 1,
    'user' => 1,
    'settings' => 1),
  'module' => array (
    'default' => $perm_editor)
);

//-----------------//
// Displayed Infos //
//-----------------//
// sections -- Default is true
//$cgp_show["section"] = ""; // Needed if module order to change
//$cgp_show["section"]["com"]["url"] = "$path/agenda/agenda_index.php";

// modules -- false to hide, otherwise section
//$cgp_show["module"] = ""; // Needed if module order to change
//$cgp_show["module"]["company"] = "com";

// References fields
//$cgp_hide[""]["region"] = true;

// Company module
//$cgp_hide["company"]["company_number"] = true;
//$cgp_hide["company"]["company_vat"] = true;
//$cgp_hide["company"]["type"] = true;
//$cgp_hide["company"]["activity"] = true;
//$cgp_hide["company"]["nafcode"] = true;
//$cgp_hide["company"]["category1"] = true;
//$cgp_hide["company"]["company_address3"] = true;
//$cgp_hide["company"]["company_expresspostal"] = true;

// Contact module
//$cgp_hide["contact"]["function"] = true;
//$cgp_hide["contact"]["contact_title"] = true;
//$cgp_hide["contact"]["responsible"] = true;
//$cgp_hide["contact"]["category1"] = true;
//$cgp_hide["contact"]["category2"] = true;
//$cgp_hide["contact"]["category3"] = true;
//$cgp_hide["contact"]["category4"] = true;
//$cgp_hide["contact"]["category5"] = true;
//$cgp_hide["contact"]["contact_service"] = true;
//$cgp_hide["contact"]["contact_comment2"] = true;
//$cgp_hide["contact"]["contact_comment3"] = true;
//$cgp_hide["contact"]["contact_date"] = true;

// Deal module
//$cgp_hide["deal"]["category1"] = true;

// Incident module
//$cgp_hide["incident"]["category1"] = true;
//$cgp_hide["incident"]["category2"] = true;

// AliaSuite : Set if there is a link for Aliamin, Blogs and Aliacms
//$aliamin_link = "http://aliamin.aliacom.local/";
//$aliacms_link = "http://cms.aliacom.local/";
//$blogs_link = "http://blogs.aliacom.local/";

</script>
