Source: obm-tomcat
Section: net
Priority: optional
Maintainer: Thomas Sarboni <tsarboni@linagora.com>
Build-Depends-Indep: ant, ant-optional, java-sdk, java-compiler
Build-Depends: cdbs, debhelper (>= 5.0)
Standards-Version: 3.8.4
Homepage: http://www.obm.org


Package: obm-tomcat
Architecture: all
Depends: openjdk-7-jdk | sun-java6-jdk, libapr1, obm-munin-node, ${misc:Depends}
Description: the Tomcat web application server for Open Business Management
 This package contains the 6.0.20 version of the Apache Tomcat application
 server for OBM.
 .
 OBM is a global groupware, messaging and CRM application. It is intended to
 be an Exchange Or Notes/Domino Mail replacement, but can also be used as a
 simple contact database. OBM also features integration with PDAs, smartphones,
 Mozilla Thunderbird/Lightning and Microsoft Outlook via specific connectors.
