ServerSignature Off
NameVirtualHost *:443
<VirtualHost *:443>
    ServerAdmin root@localhost
    DocumentRoot /usr/share/obm/www/php
    ServerName FULL_NAME
   
   
    Timeout 3000
    
    # SSL
    SSLEngine on
    SSLCACertificateFile /var/lib/obm-ca/cacert.pem
    SSLCertificateFile /etc/obm/certs/obm_cert.pem
    SSLVerifyClient none
    SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

    ErrorLog /var/log/apache2/obm-error.log
    CustomLog /var/log/apache2/obm-access.log common
    SetEnv OBM_INCLUDE_VAR obminclude
    Alias /images /usr/share/obm/www/resources
    #OBM 2.2.x use utf8
    #AddDefaultCharset ISO-8859-15
    DirectoryIndex obm.php index.php
    Options -Indexes

    php_value include_path  ".:/usr/share/obm/www"
    php_value session.bug_compat_42  0
    php_value session.bug_compat_warn  0
#    php_value session.gc_maxlifetime 2880
    php_value suhosin.session.encrypt Off
    php_value magic_quotes_gpc  Off
    php_value memory_limit 128M
    php_value post_max_size 10M
    php_value log_errors Off

    # turn this On to see debug messages
    php_value display_errors Off

    # 6135 = E_ALL & ~E_NOTICE => debug configuration
    php_value error_reporting 6135
    php_value upload_max_filesize 10M

    LimitRequestBody 20971520

#obm#<Location /obm-sync>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /obm-sync http://_TOMCAT_SERVER_:8080/obm-sync
#obm#ProxyPassReverse /obm-sync http://_TOMCAT_SERVER_:8080/obm-sync

#obm#<Location /funambol>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /funambol http://_TOMCAT_SERVER_:8080/funambol
#obm#ProxyPassReverse /funambol http://_TOMCAT_SERVER_:8080/funambol

#obm#<Location /minig>
#obm#ProxyPass ajp://_TOMCAT_SERVER_:8009/minig
#obm#</Location>

#obm#<Location /Microsoft-Server-ActiveSync>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /Microsoft-Server-ActiveSync http://_OPUSH_SERVER_:8082/opush/ActiveSyncServlet/
#obm#ProxyPassReverse /Microsoft-Server-ActiveSync http://_OPUSH_SERVER_:8082/opush/ActiveSyncServlet/

#obm#<Location /autodiscover>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /autodiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#ProxyPassReverse /autodiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#<Location /Autodiscover>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /Autodiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#ProxyPassReverse /Autodiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#<Location /AutoDiscover>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /AutoDiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#ProxyPassReverse /AutoDiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#<Location /autoDiscover>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /autoDiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#ProxyPassReverse /autoDiscover http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#<Location /AUTODISCOVER>
#obm#  Order allow,deny
#obm#  Allow from all
#obm#</Location>
#obm#ProxyPass /AUTODISCOVER http://_OPUSH_SERVER_:8082/opush/Autodiscover/
#obm#ProxyPassReverse /AUTODISCOVER http://_OPUSH_SERVER_:8082/opush/Autodiscover/


#_HORDE_BEGIN_
#_HORDE_END_
</VirtualHost>

<IfModule mod_rewrite.c>
    <IfModule mod_ssl.c>
        RewriteEngine On
        RewriteCond %{HTTPS} !=on
	RewriteRule . https://%{SERVER_NAME}%{REQUEST_URI} [L]
    </IfModule>
</IfModule>
