Source: obm-ca
Section: net
Priority: optional
Maintainer: Thomas Sarboni <tsarboni@linagora.com>
Build-Depends: cdbs, debhelper (>> 5)
Standards-Version: 3.8.0

Package: obm-ca
Architecture: all
Depends: openssl
Description: OBM CA management scripts
 Script to manage a certification authority within obm

