/var/log/obm-satellite/obmSatellite.log {
    weekly
    rotate 4
    compress
    delaycompress
    create 640 root root
    missingok
    postrotate
if /etc/init.d/obm-satellite status
then
    /etc/init.d/obm-satellite restart
fi
    endscript
}
