# Adresse du serveur LDAP referent
ldap_server         nom.server.ldap

# Options communement modifiees
log_level           0                                   # de 0 a 4 - 0 par defaut
log_file            /var/log/obm/obmSatellite.log       # /var/log/obm/obmSatellite.log par defaut
pid_file            /var/run/obm/obmSatellite.pid       # /var/run/obm/obmSatellite.pid par defaut

# IP ayant droit de se connecter
cidr_allow          127.0.0.1/32                        # Vide par defaut

# Attention a la modifications de ces options
max_badrequest      2                                   # 2 par defaut
user                root                                # postfix par defaut
group               root                                # postfix par defaut

# Configuration pour le service Postfix
postmap_cmd         /usr/sbin/postmap
# Le nom des map postfix
process_mailbox     1                                   # 1 ou 0 - 1 par defaut
mailbox_map         /etc/postfix/virtual_mailbox        # /etc/postfix/virtual_mailbox par defaut
process_alias       1                                   # 1 ou 0 - 1 par defaut
alias_map           /etc/postfix/virtual_alias          # /etc/postfix/virtual_alias par defaut
process_transport   1                                   # 1 ou 0 - 1 par defaut
transport_map       /etc/postfix/transport              # /etc/postfix/transport par defaut
process_domain      1                                   # 1 ou 0 - 1 par defaut
domain_map          /etc/postfix/virtual_domains        # /etc/postfix/virtual_domains par defaut

# configuration pour le service Cyrus
cyrus_imap_conf     /etc/imapd.conf                     # /etc/imapd.conf par defaut
cyrus_service       /etc/init.d/cyrus2.2                # /etc/init.d/cyrus par defaut
cyrus_partition_root    /var/spool/cyrus                # /var/spool/cyrus par defaut
